df-esb-dev-sea-001/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-esb-dev-sea-001"
		},
		"UpstreamMESQA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'UpstreamMESQA'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/UpstreamMESQA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('UpstreamMESQA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InsertSAP_Manual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Oracle1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "insert all \nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'B23NH04720','SBB_A501_160','2023-10-20-00.20.05.104465','SBB_A501_160  ',76875.000,'KG','3','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'SS2:Part2:1999','NSH')\nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'C23NH05927','SCF_19SX_100','2023-10-19-23:18:08.376000','SCF_19SX_100',77408.000,'KG','E','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'1019S','NSH')\nSELECT 1 FROM dual;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"jsonString": {
						"type": "string",
						"defaultValue": [
							{
								"CHARG": "R23NH05546",
								"$MATNR_AIM": "FRD_500M_100_120",
								"$TIMESTAMP": "2023-09-28-15:23:09.456000"
							}
						]
					}
				},
				"variables": {
					"jsondata": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-31T09:18:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPRESTAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-17T07:19:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "BEND_PER_TON",
											"type": "Int16",
											"value": "0",
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": {
										"value": "SELECT @{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},BEND_PER_TON = coalesce('pipeline().parameters.BEND_PER_TON','fallback'),@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},@{pipeline().parameters.BEND_PER_TON},@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.STATUS} FROM [dbo].[T_NSA_GR] where STATUS = 'A'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdatetoY_Success",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "STATUS",
											"type": "String",
											"value": "A",
											"direction": "Output",
											"size": "4"
										}
									],
									"type": "Query",
									"text": {
										"value": "update [dbo].[T_NSA_GR] set status='T' where status = @{activity('Script1').output.resultSets.STATUS}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://sb-nsh-esb-dev.servicebus.windows.net/grrecords/messages/head",
							"authentication": {
								"type": "MSI",
								"resource": "https://servicebus.azure.net/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"MANDT": {
						"type": "string",
						"defaultValue": "MANDT"
					},
					"CHARG": {
						"type": "string",
						"defaultValue": "CHARG"
					},
					"AIM_MATL_NO": {
						"type": "string",
						"defaultValue": "AIM_MATL_NO"
					},
					"ID_MESSAGE": {
						"type": "string",
						"defaultValue": "ID_MESSAGE"
					},
					"ACH_MATL_NO": {
						"type": "string",
						"defaultValue": "ACH_MATL_NO"
					},
					"TOT_QTY": {
						"type": "int",
						"defaultValue": 0
					},
					"BASE_UOM": {
						"type": "string",
						"defaultValue": "BASE_UOM"
					},
					"ORD_NO": {
						"type": "string",
						"defaultValue": "ORD_NO"
					},
					"DOCU_DATE": {
						"type": "string",
						"defaultValue": "DOCU_DATE"
					},
					"POSTG_DATE": {
						"type": "string",
						"defaultValue": "POSTG_DATE"
					},
					"PCODE": {
						"type": "string",
						"defaultValue": "PCODE"
					},
					"PLANT": {
						"type": "string",
						"defaultValue": "PLANT"
					},
					"STOR_LOC": {
						"type": "string",
						"defaultValue": "STOR_LOC"
					},
					"NO_OF_GI_REC": {
						"type": "string",
						"defaultValue": "NO_OF_GI_REC"
					},
					"VBELN": {
						"type": "string",
						"defaultValue": "VBELN"
					},
					"POSNR": {
						"type": "string",
						"defaultValue": "POSNR"
					},
					"RUECK": {
						"type": "string",
						"defaultValue": "RUECK"
					},
					"RMZHL": {
						"type": "string",
						"defaultValue": "RMZHL"
					},
					"REV_RUECK": {
						"type": "string",
						"defaultValue": "REV_RUECK"
					},
					"REV_RMZHL": {
						"type": "string",
						"defaultValue": "REV_RMZHL"
					},
					"ZBC_HEAT_NO": {
						"type": "string",
						"defaultValue": "ZBC_HEAT_NO"
					},
					"ZBC_THEO_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_SHIFT": {
						"type": "string",
						"defaultValue": "ZBC_SHIFT"
					},
					"PROD_DATE": {
						"type": "string",
						"defaultValue": "PROD_DATE"
					},
					"ZBC_MILL_SOURCE": {
						"type": "string",
						"defaultValue": "ZBC_MILL_SOURCE"
					},
					"ZBC_LENGTH": {
						"type": "string",
						"defaultValue": "ZBC_LENGTH"
					},
					"ZBC_STANDARD": {
						"type": "string",
						"defaultValue": "ZBC_STANDARD"
					},
					"Z_BAT_LOCATOR_A": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_A"
					},
					"Z_BAT_LOCATOR_B": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_B"
					},
					"Z_BAT_LOCATOR_C": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_C"
					},
					"ZBC_PCS_PER_HEAT": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_HEAT"
					},
					"ZBC_WT_PER_BLD": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_PCS_PER_BLD": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_BLD"
					},
					"ZBC_WT_PER_PCS": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_WT_PER_COIL": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_ACT_COI_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"Z_MAC_NO": {
						"type": "string",
						"defaultValue": "Z_MAC_NO"
					},
					"Z_COIL_NO": {
						"type": "string",
						"defaultValue": "Z_COIL_NO"
					},
					"Z_TOTAL_CUT": {
						"type": "string",
						"defaultValue": "Z_TOTAL_CUT"
					},
					"Z_TOTAL_BEND": {
						"type": "string",
						"defaultValue": "Z_TOTAL_BEND"
					},
					"Z_TOTAL_LINK": {
						"type": "string",
						"defaultValue": "Z_TOTAL_LINK"
					},
					"CUT_PER_TON": {
						"type": "string",
						"defaultValue": "CUT_PER_TON"
					},
					"BEND_PER_TON": {
						"type": "string",
						"defaultValue": "BEND_PER_TON"
					},
					"LINK_PER_TON": {
						"type": "string",
						"defaultValue": "LINK_PER_TON"
					},
					"Z_COU_GRA": {
						"type": "string",
						"defaultValue": "Z_COU_GRA"
					},
					"Z_COU_REF": {
						"type": "string",
						"defaultValue": "Z_COU_REF"
					},
					"Z_NO_OF_END": {
						"type": "string",
						"defaultValue": "Z_NO_OF_END"
					},
					"STATUS": {
						"type": "string",
						"defaultValue": "STATUS"
					},
					"USERID": {
						"type": "string",
						"defaultValue": "BGDJOBS"
					}
				},
				"variables": {
					"MANDT": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-04T12:53:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFileReceived')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/IN"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFileTrasnsfer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "Emp_Master_20230824130034.csv",
						"folderPath": "/Employee_Master/OUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyTxtFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_YESB_SOR_SO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OracleLinkedServerDemo",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPSR3",
					"table": "YESB_SOR_SO"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EHMSDatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "EHMSQATesting",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "EmployeeCode",
						"type": "varchar"
					},
					{
						"name": "EmployeeName",
						"type": "varchar"
					},
					{
						"name": "EmployeeAlias",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Gender",
						"type": "char"
					},
					{
						"name": "IdentityNo",
						"type": "varchar"
					},
					{
						"name": "MaritalStatus",
						"type": "char"
					},
					{
						"name": "NationalityCode",
						"type": "varchar"
					},
					{
						"name": "UnionCode",
						"type": "varchar"
					},
					{
						"name": "EmployeeStatus",
						"type": "char"
					},
					{
						"name": "EmployeeTypeCode",
						"type": "varchar"
					},
					{
						"name": "CompanyCode",
						"type": "varchar"
					},
					{
						"name": "DivisionCode",
						"type": "varchar"
					},
					{
						"name": "DepartmentCode",
						"type": "varchar"
					},
					{
						"name": "DepartmentName",
						"type": "varchar"
					},
					{
						"name": "DateJoin",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateJoinInitial",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateResign",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CategoryCode",
						"type": "char"
					},
					{
						"name": "ClassificationCode",
						"type": "varchar"
					},
					{
						"name": "DesignationCode",
						"type": "varchar"
					},
					{
						"name": "corporate_title",
						"type": "varchar"
					},
					{
						"name": "functional_title",
						"type": "varchar"
					},
					{
						"name": "CalendarCode",
						"type": "varchar"
					},
					{
						"name": "CalendarName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "ExtensionNo",
						"type": "varchar"
					},
					{
						"name": "FilePhoto",
						"type": "varchar"
					},
					{
						"name": "JobGroupCode",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "varchar"
					},
					{
						"name": "CostCentreCode",
						"type": "varchar"
					},
					{
						"name": "BankBranch",
						"type": "varchar"
					},
					{
						"name": "BankCode",
						"type": "varchar"
					},
					{
						"name": "BankAccountNo",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MAST_Employee_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EHMSQATest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "EHMSQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Emp_Master_20230824130034.csv",
						"folderPath": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_OUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/OUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_PROCESSED')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/PROCESSED"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_WORKING')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/WORKING"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GRIntermediate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MANDT",
						"type": "varchar"
					},
					{
						"name": "CHARG",
						"type": "varchar"
					},
					{
						"name": "MATNR_AIM",
						"type": "varchar"
					},
					{
						"name": "TIMESTAMP",
						"type": "varchar"
					},
					{
						"name": "MATNR_ACH",
						"type": "varchar"
					},
					{
						"name": "QUANTITY",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "MEINS",
						"type": "varchar"
					},
					{
						"name": "AUART",
						"type": "varchar"
					},
					{
						"name": "AUFNR",
						"type": "varchar"
					},
					{
						"name": "BLDAT",
						"type": "varchar"
					},
					{
						"name": "BUDAT",
						"type": "varchar"
					},
					{
						"name": "PCODE",
						"type": "varchar"
					},
					{
						"name": "PLANT",
						"type": "varchar"
					},
					{
						"name": "LGORT",
						"type": "varchar"
					},
					{
						"name": "NO_OF_GI_REC",
						"type": "varchar"
					},
					{
						"name": "VBELN",
						"type": "varchar"
					},
					{
						"name": "POSNR",
						"type": "varchar"
					},
					{
						"name": "MBLNR",
						"type": "varchar"
					},
					{
						"name": "MJAHR",
						"type": "varchar"
					},
					{
						"name": "RUECK",
						"type": "varchar"
					},
					{
						"name": "RMZHL",
						"type": "varchar"
					},
					{
						"name": "REV_RUECK",
						"type": "varchar"
					},
					{
						"name": "REV_RMZHL",
						"type": "varchar"
					},
					{
						"name": "Z_HEAT_NO",
						"type": "varchar"
					},
					{
						"name": "Z_THEO_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_SHIFT",
						"type": "varchar"
					},
					{
						"name": "Z_PROD_DATE",
						"type": "varchar"
					},
					{
						"name": "Z_MILL_SOURCE",
						"type": "varchar"
					},
					{
						"name": "Z_LENGTH",
						"type": "varchar"
					},
					{
						"name": "Z_STANDARD",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_A",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_B",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_C",
						"type": "varchar"
					},
					{
						"name": "Z_PCS_PER_HEAT",
						"type": "varchar"
					},
					{
						"name": "Z_KG_PER_BLD",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_PCS_PER_BLD",
						"type": "varchar"
					},
					{
						"name": "Z_KG_PER_PCS",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_KG_PER_COIL",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_ACT_COI_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_MAC_NO",
						"type": "varchar"
					},
					{
						"name": "Z_COIL_NO",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_CUT",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_BEND",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_LINK",
						"type": "varchar"
					},
					{
						"name": "Z_CUT_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_BEND_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_LINK_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_GRA",
						"type": "varchar"
					},
					{
						"name": "Z_COU_REF",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_END",
						"type": "varchar"
					},
					{
						"name": "Z_COU_DIA_1",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_DIA_2",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_TYPE_1",
						"type": "varchar"
					},
					{
						"name": "Z_COU_TYPE_2",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_PNT",
						"type": "varchar"
					},
					{
						"name": "Z_TAG_NO",
						"type": "varchar"
					},
					{
						"name": "Z_MAC_TPL",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_STR",
						"type": "varchar"
					},
					{
						"name": "Z_AREA_PER_PC",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_WT_PER_PC",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_CON_MAT",
						"type": "varchar"
					},
					{
						"name": "Z_CONSUME_BATCHE",
						"type": "varchar"
					},
					{
						"name": "Z_SHAPE_CODE",
						"type": "varchar"
					},
					{
						"name": "Z_INV_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_WBS1",
						"type": "varchar"
					},
					{
						"name": "Z_WBS2",
						"type": "varchar"
					},
					{
						"name": "Z_WBS3",
						"type": "varchar"
					},
					{
						"name": "Z_BBSNO",
						"type": "varchar"
					},
					{
						"name": "Z_PROD_MARK",
						"type": "varchar"
					},
					{
						"name": "Z_MW_SPA",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_CW_SPA",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_MW_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_CW_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_PIECES",
						"type": "varchar"
					},
					{
						"name": "Z_CW_OVR_HANG1",
						"type": "varchar"
					},
					{
						"name": "Z_CW_OVR_HANG2",
						"type": "varchar"
					},
					{
						"name": "Z_MW_OVR_HANG1",
						"type": "varchar"
					},
					{
						"name": "Z_MW_OVR_HANG2",
						"type": "varchar"
					},
					{
						"name": "Z_BBS_DESC",
						"type": "varchar"
					},
					{
						"name": "PLANT_D",
						"type": "varchar"
					},
					{
						"name": "LGORT_D",
						"type": "varchar"
					},
					{
						"name": "MATNR_D",
						"type": "varchar"
					},
					{
						"name": "QUANTITY_D",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "CHARG_D",
						"type": "varchar"
					},
					{
						"name": "SHIFT",
						"type": "varchar"
					},
					{
						"name": "REV_STATUS",
						"type": "varchar"
					},
					{
						"name": "PROD_STATUS",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "ERROR_CD",
						"type": "varchar"
					},
					{
						"name": "REC_TYPE",
						"type": "varchar"
					},
					{
						"name": "PROC_TS",
						"type": "varchar"
					},
					{
						"name": "INTER_ID",
						"type": "varchar"
					},
					{
						"name": "UDATE",
						"type": "varchar"
					},
					{
						"name": "UTIME",
						"type": "varchar"
					},
					{
						"name": "USERID",
						"type": "varchar"
					},
					{
						"name": "NDS_SALE_ORDER",
						"type": "varchar"
					},
					{
						"name": "ORDER_ITEM",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "T_NSA_GR_STAGING"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INT010_SAP_SO_SOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Identity_No",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOR_Number",
						"type": "nchar"
					},
					{
						"name": "SO_Number",
						"type": "nchar"
					},
					{
						"name": "TM_Access",
						"type": "nchar"
					},
					{
						"name": "Inserted_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAP_SO_SOR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INT010_YESB_SOR_SO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPSR3",
					"table": "YESB_SOR_SO"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INT011_YMSDT_CONTRACT_M')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPSR3",
					"table": "YMSDT_CONTRACT_M"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionACTQueue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionActQueue",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionACTtoSAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionACTtoSAP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		}
	]
}