df-esb-dev-sea-001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-esb-dev-sea-001"
		},
		"IgnitionQA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IgnitionQA'"
		},
		"LookupTable_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LookupTable'"
		},
		"NSQADB2Connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'NSQADB2Connection'"
		},
		"Oracle1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle1'"
		},
		"Oracle2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle2'"
		},
		"SCM_IDB_Connect_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SCM_IDB_Connect'"
		},
		"SapConnection_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SapConnection'"
		},
		"SapOdp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SapOdp'"
		},
		"SapRFCconnection_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SapRFCconnection'"
		},
		"SftpConnection_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SftpConnection'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'"
		},
		"UpstreamMESQA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'UpstreamMESQA'"
		},
		"IgnitionACTtoSAP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sb-nsh-esb-dev.servicebus.windows.net/actrecords/messages"
		},
		"IgnitionACTtoSAP_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://servicebus.azure.net/"
		},
		"IgnitionActQueue_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sb-nsh-esb-dev.servicebus.windows.net/actrecords/messages/head"
		},
		"IgnitionActQueue_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://servicebus.azure.net/"
		},
		"RestServiceGR_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sb-nsh-esb-dev.servicebus.windows.net/grrecords/messages"
		},
		"RestServiceGR_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://servicebus.azure.net/"
		},
		"RestServiceGRQueue_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sb-nsh-esb-dev.servicebus.windows.net/grrecords/messages/head"
		},
		"RestServiceGRQueue_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://servicebus.azure.net/"
		},
		"SapConnection_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "110"
		},
		"SapConnection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SCM_AUTOPO"
		},
		"SapConnection_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "172.25.101.6"
		},
		"SapConnection_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		},
		"SapOdp_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "600"
		},
		"SapOdp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "test1"
		},
		"SapOdp_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "172.25.101.5"
		},
		"SapOdp_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "01"
		},
		"SapRFCconnection_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "600"
		},
		"SapRFCconnection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "test1"
		},
		"SapRFCconnection_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "172.25.101.5"
		},
		"SapRFCconnection_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "01"
		},
		"SftpConnection_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "14.141.16.136"
		},
		"SftpConnection_properties_typeProperties_hostKeyFingerprint": {
			"type": "string",
			"defaultValue": "ssh-rsa 1024 0d:82:a3:ef:c6:cf:94:a0:9b:d9:9d:99:e9:4f:9c:86"
		},
		"SftpConnection_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "natsftpPRD"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionACTtoSAP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('IgnitionACTtoSAP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('IgnitionACTtoSAP_properties_typeProperties_aadResourceId')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionActQueue')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('IgnitionActQueue_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('IgnitionActQueue_properties_typeProperties_aadResourceId')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionQA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IgnitionQA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LookupTable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LookupTable_connectionString')]"
				},
				"connectVia": {
					"referenceName": "NSHQA",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NSQADB2Connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('NSQADB2Connection_connectionString')]"
				},
				"connectVia": {
					"referenceName": "NSHQA",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceGR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceGR_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('RestServiceGR_properties_typeProperties_aadResourceId')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceGRQueue')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceGRQueue_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('RestServiceGRQueue_properties_typeProperties_aadResourceId')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCM_IDB_Connect')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('SCM_IDB_Connect_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SapConnection_properties_typeProperties_clientId')]",
					"language": "EN",
					"sncMode": false,
					"userName": "[parameters('SapConnection_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SapConnection_password')]"
					},
					"server": "[parameters('SapConnection_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SapConnection_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapOdp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapOdp",
				"typeProperties": {
					"clientId": "[parameters('SapOdp_properties_typeProperties_clientId')]",
					"sncMode": false,
					"userName": "[parameters('SapOdp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SapOdp_password')]"
					},
					"server": "[parameters('SapOdp_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SapOdp_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapRFCconnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SapRFCconnection_properties_typeProperties_clientId')]",
					"sncMode": false,
					"userName": "[parameters('SapRFCconnection_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SapRFCconnection_password')]"
					},
					"server": "[parameters('SapRFCconnection_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SapRFCconnection_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SftpConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SftpConnection_properties_typeProperties_host')]",
					"port": "222",
					"skipHostKeyValidation": false,
					"hostKeyFingerprint": "[parameters('SftpConnection_properties_typeProperties_hostKeyFingerprint')]",
					"authenticationType": "Basic",
					"userName": "[parameters('SftpConnection_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SftpConnection_password')]"
					}
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "NSHQA",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "NSHQA",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpstreamMESQA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('UpstreamMESQA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InsertSAP_Manual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Oracle1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "insert all \nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'B23NH04720','SBB_A501_160','2023-10-20-00.20.05.104465','SBB_A501_160  ',76875.000,'KG','3','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'SS2:Part2:1999','NSH')\nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'C23NH05927','SCF_19SX_100','2023-10-19-23:18:08.376000','SCF_19SX_100',77408.000,'KG','E','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'1019S','NSH')\nSELECT 1 FROM dual;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"jsonString": {
						"type": "string",
						"defaultValue": [
							{
								"CHARG": "R23NH05546",
								"$MATNR_AIM": "FRD_500M_100_120",
								"$TIMESTAMP": "2023-09-28-15:23:09.456000"
							}
						]
					}
				},
				"variables": {
					"jsondata": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-31T09:18:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPRESTAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-17T07:19:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "BEND_PER_TON",
											"type": "Int16",
											"value": "0",
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": {
										"value": "SELECT @{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},BEND_PER_TON = coalesce('pipeline().parameters.BEND_PER_TON','fallback'),@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},@{pipeline().parameters.BEND_PER_TON},@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.STATUS} FROM [dbo].[T_NSA_GR] where STATUS = 'A'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdatetoY_Success",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "STATUS",
											"type": "String",
											"value": "A",
											"direction": "Output",
											"size": "4"
										}
									],
									"type": "Query",
									"text": {
										"value": "update [dbo].[T_NSA_GR] set status='T' where status = @{activity('Script1').output.resultSets.STATUS}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://sb-nsh-esb-dev.servicebus.windows.net/actrecords/messages/head",
							"method": "DELETE",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://servicebus.azure.net/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"MANDT": {
						"type": "string",
						"defaultValue": "MANDT"
					},
					"CHARG": {
						"type": "string",
						"defaultValue": "CHARG"
					},
					"AIM_MATL_NO": {
						"type": "string",
						"defaultValue": "AIM_MATL_NO"
					},
					"ID_MESSAGE": {
						"type": "string",
						"defaultValue": "ID_MESSAGE"
					},
					"ACH_MATL_NO": {
						"type": "string",
						"defaultValue": "ACH_MATL_NO"
					},
					"TOT_QTY": {
						"type": "int",
						"defaultValue": 0
					},
					"BASE_UOM": {
						"type": "string",
						"defaultValue": "BASE_UOM"
					},
					"ORD_NO": {
						"type": "string",
						"defaultValue": "ORD_NO"
					},
					"DOCU_DATE": {
						"type": "string",
						"defaultValue": "DOCU_DATE"
					},
					"POSTG_DATE": {
						"type": "string",
						"defaultValue": "POSTG_DATE"
					},
					"PCODE": {
						"type": "string",
						"defaultValue": "PCODE"
					},
					"PLANT": {
						"type": "string",
						"defaultValue": "PLANT"
					},
					"STOR_LOC": {
						"type": "string",
						"defaultValue": "STOR_LOC"
					},
					"NO_OF_GI_REC": {
						"type": "string",
						"defaultValue": "NO_OF_GI_REC"
					},
					"VBELN": {
						"type": "string",
						"defaultValue": "VBELN"
					},
					"POSNR": {
						"type": "string",
						"defaultValue": "POSNR"
					},
					"RUECK": {
						"type": "string",
						"defaultValue": "RUECK"
					},
					"RMZHL": {
						"type": "string",
						"defaultValue": "RMZHL"
					},
					"REV_RUECK": {
						"type": "string",
						"defaultValue": "REV_RUECK"
					},
					"REV_RMZHL": {
						"type": "string",
						"defaultValue": "REV_RMZHL"
					},
					"ZBC_HEAT_NO": {
						"type": "string",
						"defaultValue": "ZBC_HEAT_NO"
					},
					"ZBC_THEO_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_SHIFT": {
						"type": "string",
						"defaultValue": "ZBC_SHIFT"
					},
					"PROD_DATE": {
						"type": "string",
						"defaultValue": "PROD_DATE"
					},
					"ZBC_MILL_SOURCE": {
						"type": "string",
						"defaultValue": "ZBC_MILL_SOURCE"
					},
					"ZBC_LENGTH": {
						"type": "string",
						"defaultValue": "ZBC_LENGTH"
					},
					"ZBC_STANDARD": {
						"type": "string",
						"defaultValue": "ZBC_STANDARD"
					},
					"Z_BAT_LOCATOR_A": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_A"
					},
					"Z_BAT_LOCATOR_B": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_B"
					},
					"Z_BAT_LOCATOR_C": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_C"
					},
					"ZBC_PCS_PER_HEAT": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_HEAT"
					},
					"ZBC_WT_PER_BLD": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_PCS_PER_BLD": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_BLD"
					},
					"ZBC_WT_PER_PCS": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_WT_PER_COIL": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_ACT_COI_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"Z_MAC_NO": {
						"type": "string",
						"defaultValue": "Z_MAC_NO"
					},
					"Z_COIL_NO": {
						"type": "string",
						"defaultValue": "Z_COIL_NO"
					},
					"Z_TOTAL_CUT": {
						"type": "string",
						"defaultValue": "Z_TOTAL_CUT"
					},
					"Z_TOTAL_BEND": {
						"type": "string",
						"defaultValue": "Z_TOTAL_BEND"
					},
					"Z_TOTAL_LINK": {
						"type": "string",
						"defaultValue": "Z_TOTAL_LINK"
					},
					"CUT_PER_TON": {
						"type": "string",
						"defaultValue": "CUT_PER_TON"
					},
					"BEND_PER_TON": {
						"type": "string",
						"defaultValue": "BEND_PER_TON"
					},
					"LINK_PER_TON": {
						"type": "string",
						"defaultValue": "LINK_PER_TON"
					},
					"Z_COU_GRA": {
						"type": "string",
						"defaultValue": "Z_COU_GRA"
					},
					"Z_COU_REF": {
						"type": "string",
						"defaultValue": "Z_COU_REF"
					},
					"Z_NO_OF_END": {
						"type": "string",
						"defaultValue": "Z_NO_OF_END"
					},
					"STATUS": {
						"type": "string",
						"defaultValue": "STATUS"
					},
					"USERID": {
						"type": "string",
						"defaultValue": "BGDJOBS"
					}
				},
				"variables": {
					"MANDT": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-04T12:53:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IgnitionQA')]"
			]
		}
	]
}