df-esb-dev-sea-001/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-esb-dev-sea-001"
		},
		"UpstreamMESQA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'UpstreamMESQA'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/UpstreamMESQA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('UpstreamMESQA_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MESQARuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InsertSAP_Manual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Oracle1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "insert all \nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'B23NH04720','SBB_A501_160','2023-10-20-00.20.05.104465','SBB_A501_160  ',76875.000,'KG','3','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'SS2:Part2:1999','NSH')\nINTO SAPSR3.YMPCT_NSA_GR(MANDT,CHARG,MATNR_AIM,TIMESTAMP,MATNR_ACH,QUANTITY,MEINS,SHIFT,STATUS,REC_TYPE,INTER_ID,UDATE,UTIME,USERID,Z_CUT_PER_TON,Z_LINK_PER_TON,Z_BEND_PER_TON,Z_STANDARD,Z_MILL_SOURCE) VALUES (600,'C23NH05927','SCF_19SX_100','2023-10-19-23:18:08.376000','SCF_19SX_100',77408.000,'KG','E','A','S',104,'00000000','000000','BGDJOBS',0,0,0,'1019S','NSH')\nSELECT 1 FROM dual;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"jsonString": {
						"type": "string",
						"defaultValue": [
							{
								"CHARG": "R23NH05546",
								"$MATNR_AIM": "FRD_500M_100_120",
								"$TIMESTAMP": "2023-09-28-15:23:09.456000"
							}
						]
					}
				},
				"variables": {
					"jsondata": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-31T09:18:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NSH_Ignition_QCData_Pub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOTNO_1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT LOT_NO FROM SAP_RESULTS_HDR a left join (select distinct charg,ach_matl_no,status from t_nsa_gr) b \n  on a.charg=b.charg where a.status='A' and b.status in('P','Y','E')"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOTNO_2",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT LOT_NO FROM SAP_RESULTS_HDR a left join (select distinct fld_GR_batch_id,fld_gr_aim_matl_no from [NSDB11STS].[STS].dbo.tbl_sts_dns_GR where fld_gr_aim_matl_no like 'FP%') b \n on a.charg=b.fld_GR_batch_id and a.MATL_NO=b.fld_gr_aim_matl_no \n where a.status='A' and a.MATL_NO like 'FP%'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOTNO_3",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @lcReProcessDate AS VARCHAR(MAX)\nSELECT LOT_NO FROM SAP_RESULTS_HDR WHERE \n  CONVERT(VARCHAR(25), ID_MESSAGE, 126) LIKE @lcReProcessDate and status='E'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOTNO_1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\nDECLARE @lcLotNo AS VARCHAR(MAX)\nINSERT INTO T_HDR_T\n\t\t\tselect DISTINCT a.MANDT,a.LOT_NO,\n\t\t    (CASE WHEN a.MATL_NO like 'FP%' THEN a.MATL_NO ELSE LTRIM(RTRIM((b.ach_MATL_NO))) END) as MATL_NO,\n\t\t\ta.CHARG as BATCH_NO,a.STOR_LOC,a.PLANT,a.TOT_ELEM,' ' as INSP_LOT_NO,a.USER_ID,a.TEST_DATE,a.TEST_TIME,'A' as STATUS,a.INTERFACE_ID as INTER_ID,a.ID_MESSAGE as TIMESTAMP,' ' as ERROR_CD,' ' as PROC_TS,' ' as REC_TYPE,' ' as USERID,'00000000' as UDATE,'000000' as UTIME\n\t\t\tfrom SAP_RESULTS_HDR a left join (select distinct charg,ach_matl_no,status from t_nsa_gr) b on a.charg=b.charg where a.LOT_NO=@lcLotNo;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPRESTAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-17T07:19:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "BEND_PER_TON",
											"type": "Int16",
											"value": "0",
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": {
										"value": "SELECT @{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},BEND_PER_TON = coalesce('pipeline().parameters.BEND_PER_TON','fallback'),@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.ACH_MATL_NO},@{pipeline().parameters.AIM_MATL_NO},@{pipeline().parameters.BASE_UOM},@{pipeline().parameters.BEND_PER_TON},@{pipeline().parameters.CHARG},@{pipeline().parameters.CUT_PER_TON},@{pipeline().parameters.DOCU_DATE},@{pipeline().parameters.ID_MESSAGE},@{pipeline().parameters.LINK_PER_TON},@{pipeline().parameters.MANDT},@{pipeline().parameters.STATUS} FROM [dbo].[T_NSA_GR] where STATUS = 'A'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdatetoY_Success",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "STATUS",
											"type": "String",
											"value": "A",
											"direction": "Output",
											"size": "4"
										}
									],
									"type": "Query",
									"text": {
										"value": "update [dbo].[T_NSA_GR] set status='T' where status = @{activity('Script1').output.resultSets.STATUS}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://sb-nsh-esb-dev.servicebus.windows.net/actrecords/messages/head",
							"method": "DELETE",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://servicebus.azure.net/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"MANDT": {
						"type": "string",
						"defaultValue": "MANDT"
					},
					"CHARG": {
						"type": "string",
						"defaultValue": "CHARG"
					},
					"AIM_MATL_NO": {
						"type": "string",
						"defaultValue": "AIM_MATL_NO"
					},
					"ID_MESSAGE": {
						"type": "string",
						"defaultValue": "ID_MESSAGE"
					},
					"ACH_MATL_NO": {
						"type": "string",
						"defaultValue": "ACH_MATL_NO"
					},
					"TOT_QTY": {
						"type": "int",
						"defaultValue": 0
					},
					"BASE_UOM": {
						"type": "string",
						"defaultValue": "BASE_UOM"
					},
					"ORD_NO": {
						"type": "string",
						"defaultValue": "ORD_NO"
					},
					"DOCU_DATE": {
						"type": "string",
						"defaultValue": "DOCU_DATE"
					},
					"POSTG_DATE": {
						"type": "string",
						"defaultValue": "POSTG_DATE"
					},
					"PCODE": {
						"type": "string",
						"defaultValue": "PCODE"
					},
					"PLANT": {
						"type": "string",
						"defaultValue": "PLANT"
					},
					"STOR_LOC": {
						"type": "string",
						"defaultValue": "STOR_LOC"
					},
					"NO_OF_GI_REC": {
						"type": "string",
						"defaultValue": "NO_OF_GI_REC"
					},
					"VBELN": {
						"type": "string",
						"defaultValue": "VBELN"
					},
					"POSNR": {
						"type": "string",
						"defaultValue": "POSNR"
					},
					"RUECK": {
						"type": "string",
						"defaultValue": "RUECK"
					},
					"RMZHL": {
						"type": "string",
						"defaultValue": "RMZHL"
					},
					"REV_RUECK": {
						"type": "string",
						"defaultValue": "REV_RUECK"
					},
					"REV_RMZHL": {
						"type": "string",
						"defaultValue": "REV_RMZHL"
					},
					"ZBC_HEAT_NO": {
						"type": "string",
						"defaultValue": "ZBC_HEAT_NO"
					},
					"ZBC_THEO_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_SHIFT": {
						"type": "string",
						"defaultValue": "ZBC_SHIFT"
					},
					"PROD_DATE": {
						"type": "string",
						"defaultValue": "PROD_DATE"
					},
					"ZBC_MILL_SOURCE": {
						"type": "string",
						"defaultValue": "ZBC_MILL_SOURCE"
					},
					"ZBC_LENGTH": {
						"type": "string",
						"defaultValue": "ZBC_LENGTH"
					},
					"ZBC_STANDARD": {
						"type": "string",
						"defaultValue": "ZBC_STANDARD"
					},
					"Z_BAT_LOCATOR_A": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_A"
					},
					"Z_BAT_LOCATOR_B": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_B"
					},
					"Z_BAT_LOCATOR_C": {
						"type": "string",
						"defaultValue": "Z_BAT_LOCATOR_C"
					},
					"ZBC_PCS_PER_HEAT": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_HEAT"
					},
					"ZBC_WT_PER_BLD": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_PCS_PER_BLD": {
						"type": "string",
						"defaultValue": "ZBC_PCS_PER_BLD"
					},
					"ZBC_WT_PER_PCS": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_WT_PER_COIL": {
						"type": "int",
						"defaultValue": 0
					},
					"ZBC_ACT_COI_WT": {
						"type": "int",
						"defaultValue": 0
					},
					"Z_MAC_NO": {
						"type": "string",
						"defaultValue": "Z_MAC_NO"
					},
					"Z_COIL_NO": {
						"type": "string",
						"defaultValue": "Z_COIL_NO"
					},
					"Z_TOTAL_CUT": {
						"type": "string",
						"defaultValue": "Z_TOTAL_CUT"
					},
					"Z_TOTAL_BEND": {
						"type": "string",
						"defaultValue": "Z_TOTAL_BEND"
					},
					"Z_TOTAL_LINK": {
						"type": "string",
						"defaultValue": "Z_TOTAL_LINK"
					},
					"CUT_PER_TON": {
						"type": "string",
						"defaultValue": "CUT_PER_TON"
					},
					"BEND_PER_TON": {
						"type": "string",
						"defaultValue": "BEND_PER_TON"
					},
					"LINK_PER_TON": {
						"type": "string",
						"defaultValue": "LINK_PER_TON"
					},
					"Z_COU_GRA": {
						"type": "string",
						"defaultValue": "Z_COU_GRA"
					},
					"Z_COU_REF": {
						"type": "string",
						"defaultValue": "Z_COU_REF"
					},
					"Z_NO_OF_END": {
						"type": "string",
						"defaultValue": "Z_NO_OF_END"
					},
					"STATUS": {
						"type": "string",
						"defaultValue": "STATUS"
					},
					"USERID": {
						"type": "string",
						"defaultValue": "BGDJOBS"
					}
				},
				"variables": {
					"MANDT": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-04T12:53:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFileReceived')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/IN"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFileTrasnsfer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "Emp_Master_20230824130034.csv",
						"folderPath": "/Employee_Master/OUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyTxtFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_OUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/OUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_PROCESSED')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/PROCESSED"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SerialNo",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "PreferredName",
						"type": "String"
					},
					{
						"name": "DateofBirth",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "EthnicOrigin",
						"type": "String"
					},
					{
						"name": "Religion",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "IdentiicationNo",
						"type": "String"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "AddressLine3",
						"type": "String"
					},
					{
						"name": "PinCode",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "VisaType",
						"type": "String"
					},
					{
						"name": "VisaNo",
						"type": "String"
					},
					{
						"name": "IDIssueDate",
						"type": "String"
					},
					{
						"name": "IDExpiryDate",
						"type": "String"
					},
					{
						"name": "WorkPermitNo",
						"type": "String"
					},
					{
						"name": "DateofHire",
						"type": "String"
					},
					{
						"name": "LastWorkingDay",
						"type": "String"
					},
					{
						"name": "UnionCode",
						"type": "String"
					},
					{
						"name": "EmployeeStatus",
						"type": "String"
					},
					{
						"name": "CompanyName",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "DivisionName",
						"type": "String"
					},
					{
						"name": "DivisionCode",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					},
					{
						"name": "DepartmentCode",
						"type": "String"
					},
					{
						"name": "SectionCode",
						"type": "String"
					},
					{
						"name": "PositionName",
						"type": "String"
					},
					{
						"name": "PositionCode",
						"type": "String"
					},
					{
						"name": "EmployeeCategory",
						"type": "String"
					},
					{
						"name": "OfficialEmailID",
						"type": "String"
					},
					{
						"name": "OfficeLandline",
						"type": "String"
					},
					{
						"name": "PaymentMethod",
						"type": "String"
					},
					{
						"name": "BankCode",
						"type": "String"
					},
					{
						"name": "BankBranchCode",
						"type": "String"
					},
					{
						"name": "BankACNumber",
						"type": "String"
					},
					{
						"name": "EmployerCPFNo",
						"type": "String"
					},
					{
						"name": "EventType",
						"type": "String"
					},
					{
						"name": "EventEffectiveDate",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobGrade",
						"type": "String"
					},
					{
						"name": "PayFrequency",
						"type": "String"
					},
					{
						"name": "Fixed",
						"type": "String"
					},
					{
						"name": "MVC",
						"type": "String"
					},
					{
						"name": "TotalSalary",
						"type": "String"
					},
					{
						"name": "LevyType",
						"type": "String"
					},
					{
						"name": "LevyStartDate",
						"type": "String"
					},
					{
						"name": "LevyEndDate",
						"type": "String"
					},
					{
						"name": "CostCentre",
						"type": "String"
					},
					{
						"name": "Numberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "Actualnumberofworkingdaysmonth",
						"type": "String"
					},
					{
						"name": "InitialDateofJoin",
						"type": "String"
					},
					{
						"name": "CorporateTitle",
						"type": "String"
					},
					{
						"name": "Daysperweek",
						"type": "String"
					},
					{
						"name": "OTCategory",
						"type": "String"
					},
					{
						"name": "CalendarCode",
						"type": "String"
					},
					{
						"name": "CalendarName",
						"type": "String"
					},
					{
						"name": "Created",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmpMast_WORKING')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SftpConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/Employee_Master/WORKING"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GRIntermediate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MANDT",
						"type": "varchar"
					},
					{
						"name": "CHARG",
						"type": "varchar"
					},
					{
						"name": "MATNR_AIM",
						"type": "varchar"
					},
					{
						"name": "TIMESTAMP",
						"type": "varchar"
					},
					{
						"name": "MATNR_ACH",
						"type": "varchar"
					},
					{
						"name": "QUANTITY",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "MEINS",
						"type": "varchar"
					},
					{
						"name": "AUART",
						"type": "varchar"
					},
					{
						"name": "AUFNR",
						"type": "varchar"
					},
					{
						"name": "BLDAT",
						"type": "varchar"
					},
					{
						"name": "BUDAT",
						"type": "varchar"
					},
					{
						"name": "PCODE",
						"type": "varchar"
					},
					{
						"name": "PLANT",
						"type": "varchar"
					},
					{
						"name": "LGORT",
						"type": "varchar"
					},
					{
						"name": "NO_OF_GI_REC",
						"type": "varchar"
					},
					{
						"name": "VBELN",
						"type": "varchar"
					},
					{
						"name": "POSNR",
						"type": "varchar"
					},
					{
						"name": "MBLNR",
						"type": "varchar"
					},
					{
						"name": "MJAHR",
						"type": "varchar"
					},
					{
						"name": "RUECK",
						"type": "varchar"
					},
					{
						"name": "RMZHL",
						"type": "varchar"
					},
					{
						"name": "REV_RUECK",
						"type": "varchar"
					},
					{
						"name": "REV_RMZHL",
						"type": "varchar"
					},
					{
						"name": "Z_HEAT_NO",
						"type": "varchar"
					},
					{
						"name": "Z_THEO_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_SHIFT",
						"type": "varchar"
					},
					{
						"name": "Z_PROD_DATE",
						"type": "varchar"
					},
					{
						"name": "Z_MILL_SOURCE",
						"type": "varchar"
					},
					{
						"name": "Z_LENGTH",
						"type": "varchar"
					},
					{
						"name": "Z_STANDARD",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_A",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_B",
						"type": "varchar"
					},
					{
						"name": "Z_BAT_LOCATOR_C",
						"type": "varchar"
					},
					{
						"name": "Z_PCS_PER_HEAT",
						"type": "varchar"
					},
					{
						"name": "Z_KG_PER_BLD",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_PCS_PER_BLD",
						"type": "varchar"
					},
					{
						"name": "Z_KG_PER_PCS",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_KG_PER_COIL",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_ACT_COI_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_MAC_NO",
						"type": "varchar"
					},
					{
						"name": "Z_COIL_NO",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_CUT",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_BEND",
						"type": "varchar"
					},
					{
						"name": "Z_TOTAL_LINK",
						"type": "varchar"
					},
					{
						"name": "Z_CUT_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_BEND_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_LINK_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_GRA",
						"type": "varchar"
					},
					{
						"name": "Z_COU_REF",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_END",
						"type": "varchar"
					},
					{
						"name": "Z_COU_DIA_1",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_DIA_2",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_COU_TYPE_1",
						"type": "varchar"
					},
					{
						"name": "Z_COU_TYPE_2",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_PNT",
						"type": "varchar"
					},
					{
						"name": "Z_TAG_NO",
						"type": "varchar"
					},
					{
						"name": "Z_MAC_TPL",
						"type": "varchar"
					},
					{
						"name": "Z_NO_OF_STR",
						"type": "varchar"
					},
					{
						"name": "Z_AREA_PER_PC",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_WT_PER_PC",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "Z_CON_MAT",
						"type": "varchar"
					},
					{
						"name": "Z_CONSUME_BATCHE",
						"type": "varchar"
					},
					{
						"name": "Z_SHAPE_CODE",
						"type": "varchar"
					},
					{
						"name": "Z_INV_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_WBS1",
						"type": "varchar"
					},
					{
						"name": "Z_WBS2",
						"type": "varchar"
					},
					{
						"name": "Z_WBS3",
						"type": "varchar"
					},
					{
						"name": "Z_BBSNO",
						"type": "varchar"
					},
					{
						"name": "Z_PROD_MARK",
						"type": "varchar"
					},
					{
						"name": "Z_MW_SPA",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_CW_SPA",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "Z_MW_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_CW_LEN",
						"type": "varchar"
					},
					{
						"name": "Z_PIECES",
						"type": "varchar"
					},
					{
						"name": "Z_CW_OVR_HANG1",
						"type": "varchar"
					},
					{
						"name": "Z_CW_OVR_HANG2",
						"type": "varchar"
					},
					{
						"name": "Z_MW_OVR_HANG1",
						"type": "varchar"
					},
					{
						"name": "Z_MW_OVR_HANG2",
						"type": "varchar"
					},
					{
						"name": "Z_BBS_DESC",
						"type": "varchar"
					},
					{
						"name": "PLANT_D",
						"type": "varchar"
					},
					{
						"name": "LGORT_D",
						"type": "varchar"
					},
					{
						"name": "MATNR_D",
						"type": "varchar"
					},
					{
						"name": "QUANTITY_D",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "CHARG_D",
						"type": "varchar"
					},
					{
						"name": "SHIFT",
						"type": "varchar"
					},
					{
						"name": "REV_STATUS",
						"type": "varchar"
					},
					{
						"name": "PROD_STATUS",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "ERROR_CD",
						"type": "varchar"
					},
					{
						"name": "REC_TYPE",
						"type": "varchar"
					},
					{
						"name": "PROC_TS",
						"type": "varchar"
					},
					{
						"name": "INTER_ID",
						"type": "varchar"
					},
					{
						"name": "UDATE",
						"type": "varchar"
					},
					{
						"name": "UTIME",
						"type": "varchar"
					},
					{
						"name": "USERID",
						"type": "varchar"
					},
					{
						"name": "NDS_SALE_ORDER",
						"type": "varchar"
					},
					{
						"name": "ORDER_ITEM",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "T_NSA_GR_STAGING"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionACTQueue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionActQueue",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionACTtoSAP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionACTtoSAP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgnitionSAPdatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPSR3",
					"table": "YMPCT_NSA_ACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IgntionACTdatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IgnitionQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "INTERFACE_ID",
						"type": "char"
					},
					{
						"name": "MANDT",
						"type": "char"
					},
					{
						"name": "GR_CHARG",
						"type": "char"
					},
					{
						"name": "GR_AIM_MATL_NO",
						"type": "char"
					},
					{
						"name": "ID_MESSAGE",
						"type": "char"
					},
					{
						"name": "PLANT",
						"type": "char"
					},
					{
						"name": "DOCU_DATE",
						"type": "char"
					},
					{
						"name": "POSTG_DATE",
						"type": "char"
					},
					{
						"name": "TOT_QTY",
						"type": "varchar"
					},
					{
						"name": "QUANTITY_D",
						"type": "varchar"
					},
					{
						"name": "OPR_ACTV_NO",
						"type": "char"
					},
					{
						"name": "ORD_NO",
						"type": "char"
					},
					{
						"name": "ACTV_NO1",
						"type": "char"
					},
					{
						"name": "ACTV_QTY1",
						"type": "char"
					},
					{
						"name": "ACTV_UOM1",
						"type": "char"
					},
					{
						"name": "ACTV_NO2",
						"type": "char"
					},
					{
						"name": "ACTV_QTY2",
						"type": "char"
					},
					{
						"name": "ACTV_UOM2",
						"type": "char"
					},
					{
						"name": "ACTV_NO3",
						"type": "char"
					},
					{
						"name": "ACTV_QTY3",
						"type": "char"
					},
					{
						"name": "ACTV_UOM3",
						"type": "char"
					},
					{
						"name": "ACTV_NO4",
						"type": "char"
					},
					{
						"name": "ACTV_QTY4",
						"type": "char"
					},
					{
						"name": "ACTV_UOM4",
						"type": "char"
					},
					{
						"name": "ACTV_NO5",
						"type": "char"
					},
					{
						"name": "ACTV_QTY5",
						"type": "char"
					},
					{
						"name": "ACTV_UOM5",
						"type": "char"
					},
					{
						"name": "ACTV_NO6",
						"type": "char"
					},
					{
						"name": "ACTV_QTY6",
						"type": "char"
					},
					{
						"name": "ACTV_UOM6",
						"type": "char"
					},
					{
						"name": "SD_DOCU_NO",
						"type": "char"
					},
					{
						"name": "ITEM_NO",
						"type": "varchar"
					},
					{
						"name": "PCODE",
						"type": "char"
					},
					{
						"name": "SHIFT",
						"type": "char"
					},
					{
						"name": "CFRM_NO_OP",
						"type": "varchar"
					},
					{
						"name": "CFRM_CNTR",
						"type": "varchar"
					},
					{
						"name": "CFRM_NO_REVOP",
						"type": "varchar"
					},
					{
						"name": "CFRM_REVCNTR",
						"type": "varchar"
					},
					{
						"name": "REC_TYPE",
						"type": "char"
					},
					{
						"name": "REV_STATUS",
						"type": "char"
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "ERROR_CD",
						"type": "char"
					},
					{
						"name": "NIS_MESSAGEID",
						"type": "char"
					},
					{
						"name": "WRK_CENT",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "T_NSA_GI_ACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LookupDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LookupTable",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SEQ_NO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "INT_ID",
						"type": "varchar"
					},
					{
						"name": "LOOKUP_KEY",
						"type": "varchar"
					},
					{
						"name": "VALUE",
						"type": "varchar"
					},
					{
						"name": "LOOKUP_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATED_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "WEBM_CUSTOM",
					"table": "ESB_LOOKUP"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MESGR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "UpstreamMESQA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "INTERFACE_ID",
						"type": "char"
					},
					{
						"name": "MANDT",
						"type": "char"
					},
					{
						"name": "ID_MESSAGE",
						"type": "char"
					},
					{
						"name": "AIM_MATL_NO",
						"type": "char"
					},
					{
						"name": "CHARG",
						"type": "char"
					},
					{
						"name": "ACH_MATL_NO",
						"type": "char"
					},
					{
						"name": "TOT_QTY",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "BASE_UOM",
						"type": "char"
					},
					{
						"name": "ORD_TYPE",
						"type": "char"
					},
					{
						"name": "ORD_NO",
						"type": "char"
					},
					{
						"name": "DOCU_DATE",
						"type": "char"
					},
					{
						"name": "POSTG_DATE",
						"type": "char"
					},
					{
						"name": "PCODE",
						"type": "char"
					},
					{
						"name": "PLANT",
						"type": "char"
					},
					{
						"name": "STOR_LOC",
						"type": "char"
					},
					{
						"name": "NO_GI_RECS",
						"type": "char"
					},
					{
						"name": "SD_DOCU_NO",
						"type": "char"
					},
					{
						"name": "ITEM_NO",
						"type": "varchar"
					},
					{
						"name": "NO_MATL_DOCU",
						"type": "char"
					},
					{
						"name": "MATL_DOCU_YR",
						"type": "varchar"
					},
					{
						"name": "CFRM_NO_OP",
						"type": "varchar"
					},
					{
						"name": "CFRM_CNTR",
						"type": "varchar"
					},
					{
						"name": "CFRM_NO_REVOP",
						"type": "varchar"
					},
					{
						"name": "CFRM_REVCNTR",
						"type": "varchar"
					},
					{
						"name": "ZBC_HEAT_NO",
						"type": "char"
					},
					{
						"name": "ZBC_THEO_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_SHIFT",
						"type": "char"
					},
					{
						"name": "ZBC_MILL_SOURCE",
						"type": "char"
					},
					{
						"name": "ZBC_LENGTH",
						"type": "varchar"
					},
					{
						"name": "ZBC_STANDARD",
						"type": "char"
					},
					{
						"name": "ZBC_PCS_PER_HEAT",
						"type": "varchar"
					},
					{
						"name": "ZBC_WT_PER_BLD",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_PCS_PER_BLD",
						"type": "varchar"
					},
					{
						"name": "ZBC_WT_PER_PCS",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_WT_PER_COIL",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_ACT_COI_WT",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_MAC_NO",
						"type": "char"
					},
					{
						"name": "ZBC_COIL_NO",
						"type": "char"
					},
					{
						"name": "ZBC_NO_OF_CUT",
						"type": "varchar"
					},
					{
						"name": "ZBC_NO_OF_BEND",
						"type": "varchar"
					},
					{
						"name": "ZBC_NO_OF_LINK",
						"type": "varchar"
					},
					{
						"name": "ZBC_COU_GRA",
						"type": "char"
					},
					{
						"name": "ZBC_COU_TRF",
						"type": "char"
					},
					{
						"name": "ZBC_NO_OF_END",
						"type": "varchar"
					},
					{
						"name": "ZBC_COU_DIA_1",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "ZBC_COU_DIA_2",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "ZBC_COU_TYPE_1",
						"type": "char"
					},
					{
						"name": "ZBC_COU_TYPE_2",
						"type": "char"
					},
					{
						"name": "ZBC_NO_OF_PNT",
						"type": "varchar"
					},
					{
						"name": "ZBC_TAG_NO",
						"type": "char"
					},
					{
						"name": "ZBC_MAC_TPL",
						"type": "char"
					},
					{
						"name": "ZBC_NO_OF_STR",
						"type": "varchar"
					},
					{
						"name": "ZBC_AREA_PER_PC",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "ZBC_WT_PER_PC_MESH",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "PLANT_D",
						"type": "char"
					},
					{
						"name": "STOR_LOC_D",
						"type": "char"
					},
					{
						"name": "MATL_NO_D",
						"type": "char"
					},
					{
						"name": "QUANTITY_D",
						"type": "decimal",
						"precision": 15,
						"scale": 3
					},
					{
						"name": "CHARG_D",
						"type": "char"
					},
					{
						"name": "SHIFT",
						"type": "char"
					},
					{
						"name": "REV_STATUS",
						"type": "char"
					},
					{
						"name": "PROD_STATUS",
						"type": "char"
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "ERROR_CD",
						"type": "varchar"
					},
					{
						"name": "REC_TYPE",
						"type": "char"
					},
					{
						"name": "NIS_MESSAGEID",
						"type": "char"
					},
					{
						"name": "PROD_DATE",
						"type": "varchar"
					},
					{
						"name": "CUT_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "BEND_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "LINK_PER_TON",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "CON_MAT",
						"type": "varchar"
					},
					{
						"name": "CONSUME_BATCHES",
						"type": "varchar"
					},
					{
						"name": "BAT_LOCATOR_A",
						"type": "varchar"
					},
					{
						"name": "BAT_LOCATOR_B",
						"type": "varchar"
					},
					{
						"name": "BAT_LOCATOR_C",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "T_NSA_GR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/UpstreamMESQA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleDevelopment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "SAPSR3",
					"table": "YMPCT_NSA_GR"
				}
			},
			"dependsOn": []
		}
	]
}