df-esb-dev-sea-001/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-esb-dev-sea-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EmployeeID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FullName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PreferredName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeAlias",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "VisaNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IdentityNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MaritalStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaritalStatus",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Nationality",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NationalityCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UnionCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnionCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EmployeeStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeStatus",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "EmployeeCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CompanyCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CompanyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DivisionCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DivisionCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepartmentCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepartmentCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepartmentName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepartmentName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "JobLevel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CategoryCode",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "JobGrade",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClassificationCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PositionName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "functional_title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CalendarCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CalendarCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OfficialEmailID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OfficeLandline",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExtensionNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CostCentre",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CostCentreCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BankBranchCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BankBranch",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BankCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BankCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BankACNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BankAccountNo",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EHMSQATest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EHMSDatabase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/task_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "task1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "taskquery",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@variables('taskquery')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TaskTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "taskquery",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "taskquery",
							"value": {
								"value": "SELECT * from dbo.Table_Student where ID=4;",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"taskquery": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-08T08:58:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NSH_Ignition_ACTY_Pub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Select_GI_Data",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "select * from t_nsa_gi_act where STATUS = 'A'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Update_Status_To_P",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Select_GI_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "update t_nsa_gi_act set status='P' where status='A'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Wait_5sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Update_Status_To_P",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait_5sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select MANDT,GR_CHARG,rtrim(GR_AIM_MATL_NO) as GR_MATNR_AIM,ID_MESSAGE as TIMESTAMP,PLANT,DOCU_DATE as BLDAT,POSTG_DATE as BUDAT,WRK_CENT as ARBPL,TOT_QTY as QUANTITY,isnull(QUANTITY_D,' ') as QUANTITY_D,isnull(OPR_ACTV_NO,' ') as VORNR,ORD_NO as AUFNR,\n\tisnull(ACTV_NO1,' ') as ACTIVITY1,isnull(ACTV_QTY1,' ') as ACT_QTY1,isnull(ACTV_UOM1,' ') as ACT_UOM1,\n\tisnull(ACTV_NO2,' ') as ACTIVITY2,isnull(ACTV_QTY2,' ') as ACT_QTY2,isnull(ACTV_UOM2,' ') as ACT_UOM2,\n\tisnull(ACTV_NO3,' ') as ACTIVITY3,isnull(ACTV_QTY3,' ') as ACT_QTY3,isnull(ACTV_UOM3,' ') as ACT_UOM3,\n\tisnull(ACTV_NO4,' ') as ACTIVITY4,isnull(ACTV_QTY4,' ') as ACT_QTY4,isnull(ACTV_UOM4,' ') as ACT_UOM4,\n\tisnull(ACTV_NO5,' ') as ACTIVITY5,isnull(ACTV_QTY5,' ') as ACT_QTY5,isnull(ACTV_UOM5,' ') as ACT_UOM5,\n\tisnull(ACTV_NO6,' ') as ACTIVITY6,isnull(ACTV_QTY6,' ') as ACT_QTY6,isnull(ACTV_UOM6,' ') as ACT_UOM6,\n\tisnull(SD_DOCU_NO,' ') as VBELN,isnull(ITEM_NO,'000000') as POSNR,PCODE,SHIFT,\n\tisnull(CFRM_NO_OP,'0000000000') as RUECK,isnull(CFRM_CNTR,'00000000') as RMZHL,isnull(CFRM_NO_REVOP,'0000000000') as REV_RUECK,isnull(CFRM_REVCNTR,'00000000') as REV_RMZHL,\n\tINTERFACE_ID as INTER_ID,isnull(REV_STATUS,' ') as REV_STATUS,REC_TYPE,'A' as STATUS,isnull(ERROR_CD,' ') as ERROR_CD,' ' as PROC_TS, \n\t'00000000' as UDATE,'000000' as UTIME,' ' as USERID from t_nsa_gi_act \n\twhere status='P'\n ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"path": "$MANDT"
										}
									},
									{
										"source": {
											"name": "GR_CHARG",
											"type": "String"
										},
										"sink": {
											"path": "$GR_CHARG"
										}
									},
									{
										"source": {
											"name": "GR_MATNR_AIM",
											"type": "String"
										},
										"sink": {
											"path": "$GR_MATNR_AIM"
										}
									},
									{
										"source": {
											"name": "TIMESTAMP",
											"type": "String"
										},
										"sink": {
											"path": "$TIMESTAMP"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"path": "$PLANT"
										}
									},
									{
										"source": {
											"name": "BLDAT",
											"type": "String"
										},
										"sink": {
											"path": "$BLDAT"
										}
									},
									{
										"source": {
											"name": "BUDAT",
											"type": "String"
										},
										"sink": {
											"path": "$BUDAT"
										}
									},
									{
										"source": {
											"name": "ARBPL",
											"type": "String"
										},
										"sink": {
											"path": "$ARBPL"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String"
										},
										"sink": {
											"path": "$QUANTITY"
										}
									},
									{
										"source": {
											"name": "QUANTITY_D",
											"type": "String"
										},
										"sink": {
											"path": "$QUANTITY_D"
										}
									},
									{
										"source": {
											"name": "VORNR",
											"type": "String"
										},
										"sink": {
											"path": "$VORNR"
										}
									},
									{
										"source": {
											"name": "AUFNR",
											"type": "String"
										},
										"sink": {
											"path": "$AUFNR"
										}
									},
									{
										"source": {
											"name": "ACTIVITY1",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY1"
										}
									},
									{
										"source": {
											"name": "ACT_QTY1",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY1"
										}
									},
									{
										"source": {
											"name": "ACT_UOM1",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM1"
										}
									},
									{
										"source": {
											"name": "ACTIVITY2",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY2"
										}
									},
									{
										"source": {
											"name": "ACT_QTY2",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY2"
										}
									},
									{
										"source": {
											"name": "ACT_UOM2",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM2"
										}
									},
									{
										"source": {
											"name": "ACTIVITY3",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY3"
										}
									},
									{
										"source": {
											"name": "ACT_QTY3",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY3"
										}
									},
									{
										"source": {
											"name": "ACT_UOM3",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM3"
										}
									},
									{
										"source": {
											"name": "ACTIVITY4",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY4"
										}
									},
									{
										"source": {
											"name": "ACT_QTY4",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY4"
										}
									},
									{
										"source": {
											"name": "ACT_UOM4",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM4"
										}
									},
									{
										"source": {
											"name": "ACTIVITY5",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY5"
										}
									},
									{
										"source": {
											"name": "ACT_QTY5",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY5"
										}
									},
									{
										"source": {
											"name": "ACT_UOM5",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM5"
										}
									},
									{
										"source": {
											"name": "ACTIVITY6",
											"type": "String"
										},
										"sink": {
											"path": "$ACTIVITY6"
										}
									},
									{
										"source": {
											"name": "ACT_QTY6",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_QTY6"
										}
									},
									{
										"source": {
											"name": "ACT_UOM6",
											"type": "String"
										},
										"sink": {
											"path": "$ACT_UOM6"
										}
									},
									{
										"source": {
											"name": "VBELN",
											"type": "String"
										},
										"sink": {
											"path": "$VBELN"
										}
									},
									{
										"source": {
											"name": "POSNR",
											"type": "String"
										},
										"sink": {
											"path": "$POSNR"
										}
									},
									{
										"source": {
											"name": "PCODE",
											"type": "String"
										},
										"sink": {
											"path": "$PCODE"
										}
									},
									{
										"source": {
											"name": "SHIFT",
											"type": "String"
										},
										"sink": {
											"path": "$SHIFT"
										}
									},
									{
										"source": {
											"name": "RUECK",
											"type": "String"
										},
										"sink": {
											"path": "$RUECK"
										}
									},
									{
										"source": {
											"name": "RMZHL",
											"type": "String"
										},
										"sink": {
											"path": "$RMZHL"
										}
									},
									{
										"source": {
											"name": "REV_RUECK",
											"type": "String"
										},
										"sink": {
											"path": "$REV_RUECK"
										}
									},
									{
										"source": {
											"name": "REV_RMZHL",
											"type": "String"
										},
										"sink": {
											"path": "$REV_RMZHL"
										}
									},
									{
										"source": {
											"name": "INTER_ID",
											"type": "String"
										},
										"sink": {
											"path": "$INTER_ID"
										}
									},
									{
										"source": {
											"name": "REV_STATUS",
											"type": "String"
										},
										"sink": {
											"path": "$REV_STATUS"
										}
									},
									{
										"source": {
											"name": "REC_TYPE",
											"type": "String"
										},
										"sink": {
											"path": "$REC_TYPE"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"path": "$STATUS"
										}
									},
									{
										"source": {
											"name": "ERROR_CD",
											"type": "String"
										},
										"sink": {
											"path": "$ERROR_CD"
										}
									},
									{
										"source": {
											"name": "PROC_TS",
											"type": "String"
										},
										"sink": {
											"path": "$PROC_TS"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"path": "$UDATE"
										}
									},
									{
										"source": {
											"name": "UTIME",
											"type": "String"
										},
										"sink": {
											"path": "$UTIME"
										}
									},
									{
										"source": {
											"name": "USERID",
											"type": "String"
										},
										"sink": {
											"path": "$USERID"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "IgntionACTdatabase",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IgnitionACTtoSAP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "NSH_SAP_ACTY_Sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NSH_Ignition_GR_Pub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SelectGRData",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "select * from [dbo].[T_NSA_GR] where STATUS = 'A'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "UpdateStatusT",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SelectGRData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "UPDATE [dbo].[T_NSA_GR] SET STATUS = 'T' WHERE STATUS = 'A' "
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Wait_5sec",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "UpdateStatusT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "IntermediateMES",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Wait_5sec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "insert into [dbo].[T_NSA_GR_STAGING] \n  SELECT [MANDT] as MANDT\n     ,[CHARG] as CHARG\n     ,rtrim([AIM_MATL_NO]) as MATNR_AIM\n     ,[ID_MESSAGE] as TIMESTAMP\n     ,rtrim([ACH_MATL_NO]) as MATNR_ACH\n     ,[TOT_QTY] as QUANTITY\n     ,rtrim([BASE_UOM]) as MEINS\n     ,' ' as AUART\n     ,[ORD_NO] as AUFNR\n     ,[DOCU_DATE] as BLDAT\n     ,[POSTG_DATE] as BUDAT\n     ,[PCODE] as PCODE\n     ,[PLANT] as PLANT\n     ,[STOR_LOC] as LGORT\n     ,'    ' as NO_OF_GI_REC\n     ,'          ' as VBELN\n     ,' ' as POSNR\n     ,'          ' as MBLNR\n     ,' ' as MJAHR\n     ,' ' as RUECK\n     ,' ' as RMZHL\n     ,' ' as REV_RUECK\n     ,' ' as REV_RMZHL\n     ,isnull([ZBC_HEAT_NO],' ') as Z_HEAT_NO\n     ,isnull([ZBC_THEO_WT],0.000) as Z_THEO_WT\n     ,isnull([ZBC_SHIFT],' ') as Z_SHIFT\n     ,[PROD_DATE] as Z_PROD_DATE\n     ,rtrim([ZBC_MILL_SOURCE]) as Z_MILL_SOURCE\n     ,isnull([ZBC_LENGTH],' ') as Z_LENGTH\n     ,isnull(rtrim([ZBC_STANDARD]),' ') as Z_STANDARD\n     ,' ' as Z_BAT_LOCATOR_A\n     ,' ' as Z_BAT_LOCATOR_B\n     ,' ' as Z_BAT_LOCATOR_C\n     ,isnull([ZBC_PCS_PER_HEAT],' ') as Z_PCS_PER_HEAT\n     ,isnull([ZBC_WT_PER_BLD],0.000) as Z_KG_PER_BLD\n     ,isnull([ZBC_PCS_PER_BLD],' ') as Z_PCS_PER_BLD\n     ,isnull([ZBC_WT_PER_PCS],0.000) as Z_KG_PER_PCS\n     ,isnull([ZBC_WT_PER_COIL],0.000) as Z_KG_PER_COIL\n     ,isnull([ZBC_ACT_COI_WT],0.000) as Z_ACT_COI_WT\n     ,'        ' as Z_MAC_NO\n     ,'        ' as Z_COIL_NO\n     ,' ' as Z_TOTAL_CUT\n     ,' ' as Z_TOTAL_BEND\n     ,' ' as Z_TOTAL_LINK\n     ,isnull([CUT_PER_TON],0.00) as Z_CUT_PER_TON\n     ,isnull([BEND_PER_TON],0.00) as Z_BEND_PER_TON\n     ,isnull([LINK_PER_TON],0.00) as Z_LINK_PER_TON\n     ,'        ' as Z_COU_GRA\n     ,'        ' as Z_COU_REF\n     ,' ' as Z_NO_OF_END\n     ,0.00 as Z_COU_DIA_1\n     ,0.00 as Z_COU_DIA_2\n     ,' ' as Z_COU_TYPE_1\n     ,' ' as Z_COU_TYPE_2\n     ,' ' as Z_NO_OF_PNT\n     ,' ' as Z_TAG_NO\n     ,' ' as Z_MAC_TPL\n     ,' ' as Z_NO_OF_STR\n     ,0.000 as Z_AREA_PER_PC\n     ,isnull([ZBC_WT_PER_PCS],0.000) as Z_WT_PER_PC\n     ,isnull([CON_MAT],' ') as Z_CON_MAT\n     ,isnull([CONSUME_BATCHES],' ') as Z_CONSUME_BATCHE\n     ,' ' as Z_SHAPE_CODE\n     ,' ' as Z_INV_LEN\n     ,' ' as Z_WBS1\n     ,' ' as Z_WBS2\n     ,' ' as Z_WBS3\n     ,' ' as Z_BBSNO\n     ,' ' as Z_PROD_MARK\n     ,0.00 as Z_MW_SPA\n     ,0.00 as Z_CW_SPA\n     ,' ' as Z_MW_LEN\n     ,' ' as Z_CW_LEN\n     ,' ' as Z_PIECES\n     ,'0' as Z_CW_OVR_HANG1\n     ,'0' as Z_CW_OVR_HANG2\n     ,'0' as Z_MW_OVR_HANG1\n     ,'0' as Z_MW_OVR_HANG2\n     ,' ' as Z_BBS_DESC\n     ,isnull([PLANT_D],' ') as PLANT_D\n     ,isnull([STOR_LOC_D],' ') as LGORT_D\n     ,isnull([MATL_NO_D],' ') as MATNR_D\n     ,isnull([QUANTITY_D],0.000) as QUANTITY_D\n     ,isnull([CHARG_D],' ') as CHARG_D\n     ,[SHIFT] as SHIFT\n     ,' ' as REV_STATUS\n     ,' ' as PROD_STATUS\n     ,'A' as STATUS\n     ,' ' as ERROR_CD\n     ,[REC_TYPE] as REC_TYPE\n     ,' ' as PROC_TS\n     ,[INTERFACE_ID] as INTER_ID\n     ,'00000000' as UDATE\n     ,'000000' as UTIME\n     ,'BGDJOBS' as USERID\n     ,' ' as NDS_SALE_ORDER\n     ,' ' as ORDER_ITEM\n     FROM [dbo].[T_NSA_GR] where status='T'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SendtoQueue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IntermediateMES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  MANDT, CHARG, MATNR_AIM, TIMESTAMP, MATNR_ACH, QUANTITY, MEINS, AUART, AUFNR, BLDAT, BUDAT, PCODE, PLANT, LGORT, NO_OF_GI_REC, VBELN, POSNR, MBLNR, MJAHR, RUECK , RMZHL, REV_RUECK, REV_RMZHL, Z_HEAT_NO, Z_THEO_WT, Z_SHIFT, Z_PROD_DATE, Z_MILL_SOURCE, Z_LENGTH, Z_STANDARD\n     , Z_BAT_LOCATOR_A\n     , Z_BAT_LOCATOR_B\n     , Z_BAT_LOCATOR_C\n     , Z_PCS_PER_HEAT\n     , Z_KG_PER_BLD\n     , Z_PCS_PER_BLD\n     , Z_KG_PER_PCS\n     , Z_KG_PER_COIL\n     , Z_ACT_COI_WT\n     , Z_MAC_NO\n     , Z_COIL_NO\n     , Z_TOTAL_CUT\n     , Z_TOTAL_BEND\n     , Z_TOTAL_LINK\n     , Z_CUT_PER_TON\n     , Z_BEND_PER_TON\n     , Z_LINK_PER_TON\n     , Z_COU_GRA\n     , Z_COU_REF\n     , Z_NO_OF_END\n     , Z_COU_DIA_1\n     , Z_COU_DIA_2\n     , Z_COU_TYPE_1\n     , Z_COU_TYPE_2\n     , Z_NO_OF_PNT\n     , Z_TAG_NO\n     , Z_MAC_TPL\n     , Z_NO_OF_STR\n     , Z_AREA_PER_PC\n     , Z_WT_PER_PC\n     , Z_CON_MAT\n     , Z_CONSUME_BATCHE\n     , Z_SHAPE_CODE\n     , Z_INV_LEN\n     , Z_WBS1\n     , Z_WBS2\n     , Z_WBS3\n     , Z_BBSNO\n     , Z_PROD_MARK\n     , Z_MW_SPA\n     , Z_CW_SPA\n     , Z_MW_LEN\n     , Z_CW_LEN\n     , Z_PIECES\n     , Z_CW_OVR_HANG1\n     , Z_CW_OVR_HANG2\n     , Z_MW_OVR_HANG1\n     , Z_MW_OVR_HANG2\n     , Z_BBS_DESC\n     , PLANT_D\n     , LGORT_D\n     ,MATNR_D\n     , QUANTITY_D\n     , CHARG_D\n     , SHIFT\n     , REV_STATUS\n     ,PROD_STATUS\n     , STATUS\n     , ERROR_CD\n     , REC_TYPE\n     , PROC_TS\n     , INTER_ID\n     , UDATE\n     , UTIME\n     , USERID\n     , NDS_SALE_ORDER\n     , ORDER_ITEM\n     FROM [dbo].[T_NSA_GR_STAGING]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT"
										},
										"sink": {
											"path": "$['$MANDT']"
										}
									},
									{
										"source": {
											"name": "CHARG"
										},
										"sink": {
											"path": "$['$CHARG']"
										}
									},
									{
										"source": {
											"name": "MATNR_AIM"
										},
										"sink": {
											"path": "$['$MATNR_AIM']"
										}
									},
									{
										"source": {
											"name": "TIMESTAMP"
										},
										"sink": {
											"path": "$['$TIMESTAMP']"
										}
									},
									{
										"source": {
											"name": "MATNR_ACH"
										},
										"sink": {
											"path": "$['$MATNR_ACH']"
										}
									},
									{
										"source": {
											"name": "QUANTITY"
										},
										"sink": {
											"path": "$['$QUANTITY']"
										}
									},
									{
										"source": {
											"name": "MEINS"
										},
										"sink": {
											"path": "$['$MEINS']"
										}
									},
									{
										"source": {
											"name": "AUART"
										},
										"sink": {
											"path": "$['$AUART']"
										}
									},
									{
										"source": {
											"name": "AUFNR"
										},
										"sink": {
											"path": "$['$AUFNR']"
										}
									},
									{
										"source": {
											"name": "BLDAT"
										},
										"sink": {
											"path": "$['$BLDAT']"
										}
									},
									{
										"source": {
											"name": "BUDAT"
										},
										"sink": {
											"path": "$['$BUDAT']"
										}
									},
									{
										"source": {
											"name": "PCODE"
										},
										"sink": {
											"path": "$['$PCODE']"
										}
									},
									{
										"source": {
											"name": "PLANT"
										},
										"sink": {
											"path": "$['$PLANT']"
										}
									},
									{
										"source": {
											"name": "NO_OF_GI_REC"
										},
										"sink": {
											"path": "$['$NO_OF_GI_REC']"
										}
									},
									{
										"source": {
											"name": "VBELN"
										},
										"sink": {
											"path": "$['$VBELN']"
										}
									},
									{
										"source": {
											"name": "POSNR"
										},
										"sink": {
											"path": "$['$POSNR']"
										}
									},
									{
										"source": {
											"name": "MBLNR"
										},
										"sink": {
											"path": "$['$MBLNR']"
										}
									},
									{
										"source": {
											"name": "MJAHR"
										},
										"sink": {
											"path": "$['$MJAHR']"
										}
									},
									{
										"source": {
											"name": "RUECK"
										},
										"sink": {
											"path": "$['$RUECK']"
										}
									},
									{
										"source": {
											"name": "RMZHL"
										},
										"sink": {
											"path": "$['$RMZHL']"
										}
									},
									{
										"source": {
											"name": "REV_RUECK"
										},
										"sink": {
											"path": "$['$REV_RUECK']"
										}
									},
									{
										"source": {
											"name": "REV_RMZHL"
										},
										"sink": {
											"path": "$['$REV_RMZHL']"
										}
									},
									{
										"source": {
											"name": "Z_HEAT_NO"
										},
										"sink": {
											"path": "$['$Z_HEAT_NO']"
										}
									},
									{
										"source": {
											"name": "Z_THEO_WT"
										},
										"sink": {
											"path": "$['$Z_THEO_WT']"
										}
									},
									{
										"source": {
											"name": "Z_SHIFT"
										},
										"sink": {
											"path": "$['$Z_SHIFT']"
										}
									},
									{
										"source": {
											"name": "Z_PROD_DATE"
										},
										"sink": {
											"path": "$['$Z_PROD_DATE']"
										}
									},
									{
										"source": {
											"name": "Z_MILL_SOURCE"
										},
										"sink": {
											"path": "$['$Z_MILL_SOURCE']"
										}
									},
									{
										"source": {
											"name": "Z_LENGTH"
										},
										"sink": {
											"path": "$['$Z_LENGTH']"
										}
									},
									{
										"source": {
											"name": "Z_STANDARD"
										},
										"sink": {
											"path": "$['$Z_STANDARD']"
										}
									},
									{
										"source": {
											"name": "Z_BAT_LOCATOR_A"
										},
										"sink": {
											"path": "$['$Z_BAT_LOCATOR_A']"
										}
									},
									{
										"source": {
											"name": "Z_BAT_LOCATOR_B"
										},
										"sink": {
											"path": "$['$Z_BAT_LOCATOR_B']"
										}
									},
									{
										"source": {
											"name": "Z_BAT_LOCATOR_C"
										},
										"sink": {
											"path": "$['$Z_BAT_LOCATOR_C']"
										}
									},
									{
										"source": {
											"name": "Z_PCS_PER_HEAT"
										},
										"sink": {
											"path": "$['$Z_PCS_PER_HEAT']"
										}
									},
									{
										"source": {
											"name": "Z_KG_PER_BLD"
										},
										"sink": {
											"path": "$['$Z_KG_PER_BLD']"
										}
									},
									{
										"source": {
											"name": "Z_PCS_PER_BLD"
										},
										"sink": {
											"path": "$['$Z_PCS_PER_BLD']"
										}
									},
									{
										"source": {
											"name": "Z_KG_PER_COIL"
										},
										"sink": {
											"path": "$['$Z_KG_PER_COIL']"
										}
									},
									{
										"source": {
											"name": "Z_ACT_COI_WT"
										},
										"sink": {
											"path": "$['$Z_ACT_COI_WT']"
										}
									},
									{
										"source": {
											"name": "Z_MAC_NO"
										},
										"sink": {
											"path": "$['$Z_MAC_NO']"
										}
									},
									{
										"source": {
											"name": "Z_COIL_NO"
										},
										"sink": {
											"path": "$['$Z_COIL_NO']"
										}
									},
									{
										"source": {
											"name": "Z_TOTAL_CUT"
										},
										"sink": {
											"path": "$['$Z_TOTAL_CUT']"
										}
									},
									{
										"source": {
											"name": "Z_TOTAL_BEND"
										},
										"sink": {
											"path": "$['$Z_TOTAL_BEND']"
										}
									},
									{
										"source": {
											"name": "Z_TOTAL_LINK"
										},
										"sink": {
											"path": "$['$Z_TOTAL_LINK']"
										}
									},
									{
										"source": {
											"name": "Z_CUT_PER_TON"
										},
										"sink": {
											"path": "$['$Z_CUT_PER_TON']"
										}
									},
									{
										"source": {
											"name": "Z_BEND_PER_TON"
										},
										"sink": {
											"path": "$['$Z_BEND_PER_TON']"
										}
									},
									{
										"source": {
											"name": "Z_LINK_PER_TON"
										},
										"sink": {
											"path": "$['$Z_LINK_PER_TON']"
										}
									},
									{
										"source": {
											"name": "Z_COU_GRA"
										},
										"sink": {
											"path": "$['$Z_COU_GRA']"
										}
									},
									{
										"source": {
											"name": "Z_COU_REF"
										},
										"sink": {
											"path": "$['$Z_COU_REF']"
										}
									},
									{
										"source": {
											"name": "Z_NO_OF_END"
										},
										"sink": {
											"path": "$['$Z_NO_OF_END']"
										}
									},
									{
										"source": {
											"name": "Z_COU_DIA_1"
										},
										"sink": {
											"path": "$['$Z_COU_DIA_1']"
										}
									},
									{
										"source": {
											"name": "Z_COU_DIA_2"
										},
										"sink": {
											"path": "$['$Z_COU_DIA_2']"
										}
									},
									{
										"source": {
											"name": "Z_COU_TYPE_1"
										},
										"sink": {
											"path": "$['$Z_COU_TYPE_1']"
										}
									},
									{
										"source": {
											"name": "Z_COU_TYPE_2"
										},
										"sink": {
											"path": "$['$Z_COU_TYPE_2']"
										}
									},
									{
										"source": {
											"name": "Z_NO_OF_PNT"
										},
										"sink": {
											"path": "$['$Z_NO_OF_PNT']"
										}
									},
									{
										"source": {
											"name": "Z_TAG_NO"
										},
										"sink": {
											"path": "$['$Z_TAG_NO']"
										}
									},
									{
										"source": {
											"name": "Z_MAC_TPL"
										},
										"sink": {
											"path": "$['$Z_MAC_TPL']"
										}
									},
									{
										"source": {
											"name": "Z_NO_OF_STR"
										},
										"sink": {
											"path": "$['$Z_NO_OF_STR']"
										}
									},
									{
										"source": {
											"name": "Z_AREA_PER_PC"
										},
										"sink": {
											"path": "$['$Z_AREA_PER_PC']"
										}
									},
									{
										"source": {
											"name": "Z_CON_MAT"
										},
										"sink": {
											"path": "$['$Z_CON_MAT']"
										}
									},
									{
										"source": {
											"name": "Z_CONSUME_BATCHE"
										},
										"sink": {
											"path": "$['$Z_CONSUME_BATCHES']"
										}
									},
									{
										"source": {
											"name": "Z_SHAPE_CODE"
										},
										"sink": {
											"path": "$['$Z_SHAPE_CODE']"
										}
									},
									{
										"source": {
											"name": "Z_INV_LEN"
										},
										"sink": {
											"path": "$['$Z_INV_LEN']"
										}
									},
									{
										"source": {
											"name": "Z_WBS1"
										},
										"sink": {
											"path": "$['$Z_WBS1']"
										}
									},
									{
										"source": {
											"name": "Z_WBS2"
										},
										"sink": {
											"path": "$['$Z_WBS2']"
										}
									},
									{
										"source": {
											"name": "Z_WBS3"
										},
										"sink": {
											"path": "$['$Z_WBS3']"
										}
									},
									{
										"source": {
											"name": "Z_BBSNO"
										},
										"sink": {
											"path": "$['$Z_BBSNO']"
										}
									},
									{
										"source": {
											"name": "Z_PROD_MARK"
										},
										"sink": {
											"path": "$['$Z_PROD_MARK']"
										}
									},
									{
										"source": {
											"name": "Z_MW_SPA"
										},
										"sink": {
											"path": "$['$Z_MW_SPA']"
										}
									},
									{
										"source": {
											"name": "Z_CW_SPA"
										},
										"sink": {
											"path": "$['$Z_CW_SPA']"
										}
									},
									{
										"source": {
											"name": "Z_MW_LEN"
										},
										"sink": {
											"path": "$['$Z_MW_LEN']"
										}
									},
									{
										"source": {
											"name": "Z_CW_LEN"
										},
										"sink": {
											"path": "$['$Z_CW_LEN']"
										}
									},
									{
										"source": {
											"name": "Z_PIECES"
										},
										"sink": {
											"path": "$['$Z_PIECES']"
										}
									},
									{
										"source": {
											"name": "Z_CW_OVR_HANG1"
										},
										"sink": {
											"path": "$['$Z_CW_OVR_HANG1']"
										}
									},
									{
										"source": {
											"name": "Z_CW_OVR_HANG2"
										},
										"sink": {
											"path": "$['$Z_CW_OVR_HANG2']"
										}
									},
									{
										"source": {
											"name": "Z_MW_OVR_HANG1"
										},
										"sink": {
											"path": "$['$Z_MW_OVR_HANG1']"
										}
									},
									{
										"source": {
											"name": "Z_MW_OVR_HANG2"
										},
										"sink": {
											"path": "$['$Z_MW_OVR_HANG2']"
										}
									},
									{
										"source": {
											"name": "Z_BBS_DESC"
										},
										"sink": {
											"path": "$['$Z_BBS_DESC']"
										}
									},
									{
										"source": {
											"name": "PLANT_D"
										},
										"sink": {
											"path": "$['$PLANT_D']"
										}
									},
									{
										"source": {
											"name": "LGORT_D"
										},
										"sink": {
											"path": "$['$LGORT']"
										}
									},
									{
										"source": {
											"name": "MATNR_D"
										},
										"sink": {
											"path": "$['$MATNR_D']"
										}
									},
									{
										"source": {
											"name": "QUANTITY_D"
										},
										"sink": {
											"path": "$['$QUANTITY_D']"
										}
									},
									{
										"source": {
											"name": "CHARG_D"
										},
										"sink": {
											"path": "$['$CHARG_D']"
										}
									},
									{
										"source": {
											"name": "SHIFT"
										},
										"sink": {
											"path": "$['$SHIFT']"
										}
									},
									{
										"source": {
											"name": "REV_STATUS"
										},
										"sink": {
											"path": "$['$REV_STATUS']"
										}
									},
									{
										"source": {
											"name": "PROD_STATUS"
										},
										"sink": {
											"path": "$['$PROD_STATUS']"
										}
									},
									{
										"source": {
											"name": "STATUS"
										},
										"sink": {
											"path": "$['$STATUS']"
										}
									},
									{
										"source": {
											"name": "ERROR_CD"
										},
										"sink": {
											"path": "$['$ERROR_CD']"
										}
									},
									{
										"source": {
											"name": "REC_TYPE"
										},
										"sink": {
											"path": "$['$REC_TYPE']"
										}
									},
									{
										"source": {
											"name": "PROC_TS"
										},
										"sink": {
											"path": "$['$PROC_TS']"
										}
									},
									{
										"source": {
											"name": "INTER_ID"
										},
										"sink": {
											"path": "$['$INTER_ID']"
										}
									},
									{
										"source": {
											"name": "UDATE"
										},
										"sink": {
											"path": "$['$UDATE']"
										}
									},
									{
										"source": {
											"name": "UTIME"
										},
										"sink": {
											"path": "$['$UTIME']"
										}
									},
									{
										"source": {
											"name": "USERID"
										},
										"sink": {
											"path": "$['$USERID']"
										}
									},
									{
										"source": {
											"name": "NDS_SALE_ORDER"
										},
										"sink": {
											"path": "$['$NDS_SALE_ORDER']"
										}
									},
									{
										"source": {
											"name": "ORDER_ITEM"
										},
										"sink": {
											"path": "$['$ORDER_ITEM']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "GRIntermediate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RestResourceGR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate_Intermediate_Data",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SendtoQueue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table [dbo].[T_NSA_GR_STAGING]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "TriggerToSubscriber",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Truncate_Intermediate_Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "NSH_SAP_GR_Sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"STATUS": {
						"type": "string",
						"defaultValue": "STATUS"
					}
				},
				"variables": {
					"MANDT": {
						"type": "Array"
					},
					"ID_MESSAGE": {
						"type": "Array"
					},
					"AIM_MATL_NO": {
						"type": "Array"
					},
					"ACH_MATL_NO": {
						"type": "Array"
					},
					"BASE_UOM": {
						"type": "Array"
					},
					"ORD_TYPE": {
						"type": "Integer",
						"defaultValue": 0
					},
					"ORD_NO": {
						"type": "Array"
					},
					"DOCU_DATE": {
						"type": "Array"
					},
					"POSTG_DATE": {
						"type": "Array"
					},
					"PCODE": {
						"type": "Array"
					},
					"PLANT": {
						"type": "Array"
					},
					"STOR_LOC": {
						"type": "Array"
					},
					"NO_GI_RECS": {
						"type": "Array"
					},
					"SD_DOCU_NO": {
						"type": "Array"
					},
					" ITEM_NO": {
						"type": "Array"
					},
					"STATUS": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-26T12:03:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NSH_Ignition_QCData_Pub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOTNO_1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT LOT_NO FROM SAP_RESULTS_HDR a left join (select distinct charg,ach_matl_no,status from t_nsa_gr) b \n  on a.charg=b.charg where a.status='A' and b.status in('P','Y','E')"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOTNO_2",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT LOT_NO FROM SAP_RESULTS_HDR a left join (select distinct fld_GR_batch_id,fld_gr_aim_matl_no from [NSDB11STS].[STS].dbo.tbl_sts_dns_GR where fld_gr_aim_matl_no like 'FP%') b \n on a.charg=b.fld_GR_batch_id and a.MATL_NO=b.fld_gr_aim_matl_no \n where a.status='A' and a.MATL_NO like 'FP%'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "LOTNO_3",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @lcReProcessDate AS VARCHAR(MAX)\nSELECT LOT_NO FROM SAP_RESULTS_HDR WHERE \n  CONVERT(VARCHAR(25), ID_MESSAGE, 126) LIKE @lcReProcessDate and status='E'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "HDR_insertion",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOTNO_1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @lcLotNo as varchar(255)='123022202520';\n\n--INSERT INTO T_HDR_T\n\t\t\tselect DISTINCT a.MANDT,a.LOT_NO,\n\t\t    (CASE WHEN a.MATL_NO like 'FP%' THEN a.MATL_NO ELSE LTRIM(RTRIM((b.ach_MATL_NO))) END) as MATL_NO,\n\t\t\ta.CHARG as BATCH_NO,a.STOR_LOC,a.PLANT,a.TOT_ELEM,' ' as INSP_LOT_NO,a.USER_ID,a.TEST_DATE,a.TEST_TIME,'A' as STATUS,a.INTERFACE_ID as INTER_ID,a.ID_MESSAGE as TIMESTAMP,' ' as ERROR_CD,' ' as PROC_TS,' ' as REC_TYPE,' ' as USERID,'00000000' as UDATE,'000000' as UTIME\n\t\t\tfrom SAP_RESULTS_HDR a left join (select distinct charg,ach_matl_no,status from t_nsa_gr) b on a.charg=b.charg where a.LOT_NO=@lcLotNo;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DTL_insertion",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LOTNO_1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LOTNO_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "IgnitionQA",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @lcLotNo AS VARCHAR(MAX) \ninsert into T_DTL_T \n\t\t\t\tselect MANDT,LOT_NO,rtrim(MAST_INSP_CHRSTICS) as MAST_INSP_CHRSTICS,rtrim(SAMPLE_NO) as SAMPLE,TEST_RESULT_VAL,USER_ID,rtrim(TEST_DATE) as TEST_DATE,rtrim(TEST_TIME) as TEST_TIME,'A' as STATUS,INTERFACE_ID as INTER_ID,ID_MESSAGE as TIMESTAMP,' ' as ERROR_CD,' ' as PROC_TS,' ' as REC_TYPE,' ' as USERID,'00000000' as UDATE,'000000' as UTIME \n\t\t\t\tfrom SAP_RESULTS_DTL where LOT_NO=@lcLotNo;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "HDR_insertion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select MANDT,\n    LOT_NO,\n    MATL_NO,\n    BATCH_NO,\n    STOR_LOC,\n    PLANT,\n    TOT_ELEM,\n    INSP_LOT_NO,\n    USER_ID,\n    TEST_DATE,\n    TEST_TIME,\n    STATUS,\n    INTER_ID,\n    TIMESTAMP,\n    ERROR_CD,\n    PROC_TS,\n    REC_TYPE,\n    USERID,\n    UDATE,\n    UTIME\n\tFROM [dbo].[T_HDR_T]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"path": "$['MANDT']"
										}
									},
									{
										"source": {
											"name": "LOT_NO",
											"type": "String"
										},
										"sink": {
											"path": "$['LOT_NO']"
										}
									},
									{
										"source": {
											"name": "MATL_NO",
											"type": "String"
										},
										"sink": {
											"path": "$['MATL_NO']"
										}
									},
									{
										"source": {
											"name": "BATCH_NO",
											"type": "String"
										},
										"sink": {
											"path": "$['BATCH_NO']"
										}
									},
									{
										"source": {
											"name": "STOR_LOC",
											"type": "String"
										},
										"sink": {
											"path": "$['STOR_LOC']"
										}
									},
									{
										"source": {
											"name": "PLANT",
											"type": "String"
										},
										"sink": {
											"path": "$['PLANT']"
										}
									},
									{
										"source": {
											"name": "TOT_ELEM",
											"type": "String"
										},
										"sink": {
											"path": "$['TOT_ELEM']"
										}
									},
									{
										"source": {
											"name": "INSP_LOT_NO",
											"type": "String"
										},
										"sink": {
											"path": "$['INSP_LOT_NO']"
										}
									},
									{
										"source": {
											"name": "USER_ID",
											"type": "String"
										},
										"sink": {
											"path": "$['USER_ID']"
										}
									},
									{
										"source": {
											"name": "TEST_DATE",
											"type": "String"
										},
										"sink": {
											"path": "$['TEST_DATE']"
										}
									},
									{
										"source": {
											"name": "TEST_TIME",
											"type": "String"
										},
										"sink": {
											"path": "$['TEST_TIME']"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"path": "$['STATUS']"
										}
									},
									{
										"source": {
											"name": "INTER_ID",
											"type": "String"
										},
										"sink": {
											"path": "$['INTER_ID']"
										}
									},
									{
										"source": {
											"name": "TIMESTAMP",
											"type": "String"
										},
										"sink": {
											"path": "$['TIMESTAMP']"
										}
									},
									{
										"source": {
											"name": "ERROR_CD",
											"type": "String"
										},
										"sink": {
											"path": "$['ERROR_CD']"
										}
									},
									{
										"source": {
											"name": "PROC_TS",
											"type": "String"
										},
										"sink": {
											"path": "$['PROC_TS']"
										}
									},
									{
										"source": {
											"name": "REC_TYPE",
											"type": "String"
										},
										"sink": {
											"path": "$['REC_TYPE']"
										}
									},
									{
										"source": {
											"name": "USERID",
											"type": "String"
										},
										"sink": {
											"path": "$['USERID']"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"path": "$['UDATE']"
										}
									},
									{
										"source": {
											"name": "UTIME",
											"type": "String"
										},
										"sink": {
											"path": "$['UTIME']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Ignition_HDR_Intermediate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IgnitionQC_HDR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"description": "select MANDT,\n    LOT_NO,\n    MAST_INSP_CHRST,\n    SAMPLE,\n    TEST_RESULT_VAL,\n    USER_ID,\n    TEST_DATE,\n    TEST_TIME,\n    STATUS,\n    INTER_ID,\n    TIMESTAMP,\n    ERROR_CD,\n    PROC_TS,\n    REC_TYPE,\n    USERID,\n    UDATE,\n    UTIME\n\tFROM [dbo].[T_DTL_T]",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DTL_insertion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select MANDT,\n    LOT_NO,\n    MAST_INSP_CHRST,\n    SAMPLE,\n    TEST_RESULT_VAL,\n    USER_ID,\n    TEST_DATE,\n    TEST_TIME,\n    STATUS,\n    INTER_ID,\n    TIMESTAMP,\n    ERROR_CD,\n    PROC_TS,\n    REC_TYPE,\n    USERID,\n    UDATE,\n    UTIME\n\tFROM [dbo].[T_DTL_T]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "RestSink",
								"httpRequestTimeout": "00:05:00",
								"requestInterval": 10,
								"requestMethod": "POST",
								"writeBatchSize": 10000,
								"httpCompressionType": "none"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"path": "$['MANDT']"
										}
									},
									{
										"source": {
											"name": "LOT_NO",
											"type": "String"
										},
										"sink": {
											"path": "$['LOT_NO']"
										}
									},
									{
										"source": {
											"name": "MAST_INSP_CHRST",
											"type": "String"
										},
										"sink": {
											"path": "$['MAST_INSP_CHRST']"
										}
									},
									{
										"source": {
											"name": "SAMPLE",
											"type": "String"
										},
										"sink": {
											"path": "$['SAMPLE']"
										}
									},
									{
										"source": {
											"name": "TEST_RESULT_VAL",
											"type": "String"
										},
										"sink": {
											"path": "$['TEST_RESULT_VAL']"
										}
									},
									{
										"source": {
											"name": "USER_ID",
											"type": "String"
										},
										"sink": {
											"path": "$['USER_ID']"
										}
									},
									{
										"source": {
											"name": "TEST_DATE",
											"type": "String"
										},
										"sink": {
											"path": "$['TEST_DATE']"
										}
									},
									{
										"source": {
											"name": "TEST_TIME",
											"type": "String"
										},
										"sink": {
											"path": "$['TEST_TIME']"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"path": "$['STATUS']"
										}
									},
									{
										"source": {
											"name": "INTER_ID",
											"type": "String"
										},
										"sink": {
											"path": "$['INTER_ID']"
										}
									},
									{
										"source": {
											"name": "TIMESTAMP",
											"type": "String"
										},
										"sink": {
											"path": "$['TIMESTAMP']"
										}
									},
									{
										"source": {
											"name": "ERROR_CD",
											"type": "String"
										},
										"sink": {
											"path": "$['ERROR_CD']"
										}
									},
									{
										"source": {
											"name": "PROC_TS",
											"type": "String"
										},
										"sink": {
											"path": "$['PROC_TS']"
										}
									},
									{
										"source": {
											"name": "REC_TYPE",
											"type": "String"
										},
										"sink": {
											"path": "$['REC_TYPE']"
										}
									},
									{
										"source": {
											"name": "USERID",
											"type": "String"
										},
										"sink": {
											"path": "$['USERID']"
										}
									},
									{
										"source": {
											"name": "UDATE",
											"type": "String"
										},
										"sink": {
											"path": "$['UDATE']"
										}
									},
									{
										"source": {
											"name": "UTIME",
											"type": "String"
										},
										"sink": {
											"path": "$['UTIME']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Ignition_DTL_Intermediate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IgnitionQC_DTL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "NSH_SAP_QCData_Sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GR')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ReadGRMesssage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PostGRMessageSQL",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2023-09-09T20:39:00",
						"timeZone": "Singapore Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MESGR')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ignition-->SAP GR Data Posting",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NSH_SAP_ACTY_Sub",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "NSH_Ignition_GR_Pub",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "NSH_SAP_GR_Sub",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2023-10-03T08:09:00",
						"timeZone": "Singapore Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/NSH_Ignition_GR_Pub')]"
			]
		}
	]
}