pipeline/task_pipeline.json
{
	"name": "task_pipeline",
	"properties": {
		"activities": [
			{
				"name": "task1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "taskquery",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@variables('taskquery')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TaskTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "taskquery",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "taskquery",
					"value": {
						"value": "SELECT * from dbo.Table_Student where ID=4;",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"taskquery": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-08T08:58:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}