ADFResources/pipeline/INT061_Subscriber.json
{
	"name": "INT061_Subscriber",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "Select LOAD_NO, VEHICLE_TYPE_NAME, IS_ONHOLD, IS_CANCELLED, VIRTUAL_VEHICLE_TYPE, WM_ROWID, WM_SENDTIME, ACTION from SCM_ADMIN.ESB_LOAD_TBL",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESB_LOAD_TBL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO",
					"value": {
						"value": "@activity('Lookup1').output.value[0].LOAD_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LOAD_NO FROM SCM_ADMIN.LOAD_SAP_TALLY WHERE LOAD_NO  = '2405106515'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LP_STATUS",
								"value": "A"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "CREATE_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(),\n5\n),\n30\n),\n'yyyy-MM-dd HH:mm:ss'\n),\n'.'\n, formatDateTime(utcnow(),\n'fff'\n))",
									"type": "Expression"
								}
							},
							{
								"name": "MODIFY_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(),\n5\n),\n30\n),\n'yyyy-MM-dd HH:mm:ss'\n),\n'.'\n, formatDateTime(utcnow(),\n'fff'\n))",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$LOAD_NO"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Int060_Load_SAP_Tally",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_HDR\nset PROC_TS = '@{variables('PROC_TS')}', \nUPDATION_DATE = '@{variables('PROC_TS')}', \nPLANNER_REMARKS= '@{variables('PLANNER_REMARKS')}', \nPLAN_DELIV_DATE = '@{variables('PLAN_DELIV_DATE')}', \nUSER_name = 'ESB_INT060'\nwhere LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT PLANNER_REMARKS FROM SAPSR3.YMPPT_LP_HDR",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PLANNER_REMARKS",
					"value": {
						"value": "@activity('Lookup2').output.value[0].PLANNER_REMARKS",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PLAN_DELIV_DATE",
					"value": {
						"value": "@activity('Lookup3').output.value[0].PLAN_DELIV_DATE",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT PLAN_DELIV_DATE FROM SAPSR3.YMPPT_LP_HDR",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Script3",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_HDR\nset PROC_TS = '@{variables('PROC_TS')}' , TRAILER_NO='@{variables('TRAILER_NO')}', VEHICLE_TYPE = '@{variables('VEHICLE_TYPE')}', USER_name = 'ESB_INT060' \nwhere LOAD_NO = '@{variables('LOAD_NO')}' and LP_STATUS = 'A'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup4",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT TRAILER_NO FROM SAPSR3.YMPPT_LP_HDR",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT VEHICLE_TYPE FROM SAPSR3.YMPPT_LP_HDR",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TRAILER_NO",
					"value": {
						"value": "@activity('Lookup4').output.value[0].TRAILER_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VEHICLE_TYPE",
					"value": {
						"value": "@activity('Lookup5').output.value[0].VEHICLE_TYPE",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script4",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LP_STATUS, STATUS FROM sapsr3.ymppt_lp_hdr WHERE LOAD_NO  = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script5",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_HDR \nset PROC_TS = '@{variables('PROC_TS')}' , VEHICLE_TYPE = '@{variables('VEHICLE_TYPE')}', TRAILER_NO = '@{variables('TRAILER_NO')}' , USER_name = 'ESB_INT060' \nwhere LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script6",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select LP_STATUS from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script7",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY  SET LP_STATUS   = '@{variables('LP_STATUS')}', STATUS = 'A', MODIFY_DATE = '@{variables('PROC_TS')}' WHERE LOAD_NO = '@{variables('LOAD_NO')}' and LP_STATUS <> 'Y'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script8",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT UPPER (COUNT(*)) as COUNT FROM sapsr3.ymppt_lp_batch_c WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script9",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'A',  MODIFY_DATE = '@{variables('PROC_TS')}' WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script10",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script9_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LOAD_NO FROM sapsr3.ymppt_load_vehic WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script9_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script9",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'T',  MODIFY_DATE = '@{variables('PROC_TS')}' WHERE LOAD_NO = '@{variables('LOAD_NO')}' and LP_STATUS  <> 'Y'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script11",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'Y',  MODIFY_DATE = '@{variables('PROC_TS')}' WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script12",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script11",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select SALES_ORDER,ORDER_ITEM from sapsr3.ymppt_lp_item_c\nwhere (load_no = '@{variables('LOAD_NO')}' ) and (sales_order = '@{variables('ORDER_NO')}' ) and order_item = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script13",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_ITEM_C\nset LOAD_NO = '@{variables('LOAD_NO')}', SALES_ORDER = '@{variables('ORDER_NO')}'\nwhere (LOAD_NO = '@{variables('LOAD_NO')}' ) and (SALES_ORDER = '@{variables('ORDER_NO')}' ) and ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script14",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script13",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select LOAD_NO  from sapsr3.YMPPT_LP_ITEM_C \nwhere (LOAD_NO = '@{variables('LOAD_NO')}' or LOAD_NO = '@{variables('LOAD_NO')}') and (SALES_ORDER = '@{variables('ORDER_NO')}' or SALES_ORDER = '@{variables('ORDER_NO')}') and ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script15",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script14",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_ITEM_C\nset NDS_SALE_ORDER = '%nds_sales_order%',\nCONTRACT = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/CONTRACT_NO%',\nNO_PIECES = '%no_pieces%', \nLOAD_SQN = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/LAYER_NO%',\nPROC_TS = '%currentDateTimeWithoutMiliSec%',\nPLAN_LOAD_QNTY = '%plan_load_qty%',\nDESP_LOAD_QNTY = '%plan_load_qty%',\nINTERMEDIATE_QTY = '%plan_load_qty%',\nPROD_GRP = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/PRODUCT_TYPE%',\nDELIVERY_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%',\nLOAD_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%'\nwhere (LOAD_NO = '@{variables('LOAD_NO')}') and (SALES_ORDER = '%@{variables('ORDER_NO')}' ) and ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script16",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Script15",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script17",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select LOAD_NO from sapsr3.YMPPT_LP_ITEM_C \nwhere ( LOAD_NO = '@{variables('LOAD_NO')}') and ( SALES_ORDER = '@{variables('ORDER_NO')}') and ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script18",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script17",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_ITEM_C\nset NDS_SALE_ORDER = '%nds_sales_order%',\nCONTRACT = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/CONTRACT_NO%',\nNO_PIECES = '%no_pieces%', \nLOAD_SQN = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/LAYER_NO%',\nPROC_TS = '%currentDateTimeWithoutMiliSec%',\nPLAN_LOAD_QNTY = '%plan_load_qty%',\nDESP_LOAD_QNTY = '%plan_load_qty%',\nINTERMEDIATE_QTY = '%plan_load_qty%',\nPROD_GRP = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/PRODUCT_TYPE%',\nDELIVERY_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%',\nLOAD_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%'\nwhere ( LOAD_NO = '%X_loadNo%') and ( SALES_ORDER = '%X_orderNo%') and ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script19",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script18",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select SALES_ORDER,ORDER_ITEM from sapsr3.ymppt_lp_item_c\nwhere ( load_no = '@{variables('LOAD_NO')}') and ( sales_order = '@{variables('ORDER_NO')}') and order_item = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script20",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script19",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update sapsr3.YMPPT_LP_ITEM_C\nset\nLOAD_NO = '@{variables('LOAD_NO')}',\nSALES_ORDER = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/ORDER_NO%',\nNDS_SALE_ORDER = '%nds_sales_order%',\nCONTRACT = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/CONTRACT_NO%',\nNO_PIECES = '%no_pieces%', \nLOAD_SQN = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/LAYER_NO%',\nPROC_TS = '%currentDateTimeWithoutMiliSec%',\nPLAN_LOAD_QNTY = '%plan_load_qty%',\nDESP_LOAD_QNTY = '%plan_load_qty%',\nINTERMEDIATE_QTY = '%plan_load_qty%',\nPROD_GRP = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/PRODUCT_TYPE%',\nDELIVERY_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%',\nLOAD_DATE = '%LoadPlannerData/loadPlannerDoc/Detail/LoadHeader/DELIVERY_DATE%'\nwhere ( LOAD_NO = '%X_loadNo%') and ( SALES_ORDER = '%X_orderNo%') and ORDER_ITEM = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/ITEM_NO%'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script20",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "MANDT",
								"value": "600"
							},
							{
								"name": "PLAN_LOAD_QNTY",
								"value": "$$COLUMN:"
							},
							{
								"name": "DESC_LOAD_QNTY",
								"value": "$$COLUMN:"
							},
							{
								"name": "INTERMEDIATE_QNTY",
								"value": "$$COLUMN:"
							},
							{
								"name": "SHIFT",
								"value": "QQ"
							},
							{
								"name": "LOAD_DATE",
								"value": "$$COLUMN:"
							},
							{
								"name": "UNDERLOAD_CHARGE",
								"value": "No"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "ERROR_CD",
								"value": "$$COLUMN:RD RECODELETED AND THEN SUCCESSFULLY POSTED"
							},
							{
								"name": "TIMESTAMP",
								"value": "$$COLUMN:"
							},
							{
								"name": "PROC_TS",
								"value": "$$COLUMN:"
							},
							{
								"name": "TRANSPORT_ZONE",
								"value": "$$COLUMN:"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$SAP_ORDER_ITEM']"
								},
								"sink": {
									"name": "CLBD_ITEM"
								}
							},
							{
								"source": {
									"path": "$['$MATERIAL_NO']"
								},
								"sink": {
									"name": "MATNR"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NO']"
								},
								"sink": {
									"name": "KUNNR"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_NO']"
								},
								"sink": {
									"name": "SALES_ORDER"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NAME']"
								},
								"sink": {
									"name": "NAME_WE"
								}
							},
							{
								"source": {
									"path": "$['$CUST_CODE']"
								},
								"sink": {
									"name": "KUNAG"
								}
							},
							{
								"source": {
									"path": "$['$CUST_NAME']"
								},
								"sink": {
									"name": "NAME_AG"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_COORDINATOR']"
								},
								"sink": {
									"name": "PROJ_COORD"
								}
							},
							{
								"source": {
									"path": "$['$JOB_SITE_LOCATION']"
								},
								"sink": {
									"name": "DESTINATION_CODE"
								}
							},
							{
								"source": {
									"path": "$['$SHAPE_CODE']"
								},
								"sink": {
									"name": "SHAPE_CODE"
								}
							},
							{
								"source": {
									"path": "$['$WBS1']"
								},
								"sink": {
									"name": "WBS1"
								}
							},
							{
								"source": {
									"path": "$['$WBS2']"
								},
								"sink": {
									"name": "WBS2"
								}
							},
							{
								"source": {
									"path": "$['$WBS3']"
								},
								"sink": {
									"name": "WBS3"
								}
							},
							{
								"source": {
									"path": "$['$WBS4']"
								},
								"sink": {
									"name": "WBS4"
								}
							},
							{
								"source": {
									"path": "$['$WBS5']"
								},
								"sink": {
									"name": "WBS5"
								}
							},
							{
								"source": {
									"path": "$['$INV_LEN_IN_MM']"
								},
								"sink": {
									"name": "INVOICE_LENGTH"
								}
							},
							{
								"source": {
									"path": "$['$ENV_LENGTH']"
								},
								"sink": {
									"name": "EXT_DIMENSION_L"
								}
							},
							{
								"source": {
									"path": "$['$ENV_WIDTH']"
								},
								"sink": {
									"name": "EXT_DIMENSION_W"
								}
							},
							{
								"source": {
									"path": "$['$ENV_HEIGHT']"
								},
								"sink": {
									"name": "EXT_DIMENSION_H"
								}
							},
							{
								"source": {
									"path": "$['$BBS_NO']"
								},
								"sink": {
									"name": "BBS_NO"
								}
							},
							{
								"source": {
									"path": "$['$ITEM_NO']"
								},
								"sink": {
									"name": "ORDER_ITEM"
								}
							},
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO"
								}
							},
							{
								"source": {
									"path": "$['$LAYER_NO']"
								},
								"sink": {
									"name": "LOAD_SQN"
								}
							},
							{
								"source": {
									"path": "$['$PRODUCT_TYPE']"
								},
								"sink": {
									"name": "PROD_GRP"
								}
							},
							{
								"source": {
									"path": "$['$CONTRACT_NO']"
								},
								"sink": {
									"name": "CONTRACT"
								}
							},
							{
								"source": {
									"path": "$['MANDT']"
								},
								"sink": {
									"name": "MANDT"
								}
							},
							{
								"source": {
									"path": "$['PLAN_LOAD_QNTY']"
								},
								"sink": {
									"name": "PLAN_LOAD_QNTY"
								}
							},
							{
								"source": {
									"path": "$['DESC_LOAD_QNTY']"
								},
								"sink": {
									"name": "DESC_LOAD_QNTY"
								}
							},
							{
								"source": {
									"path": "$['INTERMEDIATE_QNTY']"
								},
								"sink": {
									"name": "INTERMEDIATE_QNTY"
								}
							},
							{
								"source": {
									"path": "$['SHIFT']"
								},
								"sink": {
									"name": "SHIFT"
								}
							},
							{
								"source": {
									"path": "$['LOAD_DATE']"
								},
								"sink": {
									"name": "LOAD_DATE"
								}
							},
							{
								"source": {
									"path": "$['UNDERLOAD_CHARGE']"
								},
								"sink": {
									"name": "UNDERLOAD_CHARGE"
								}
							},
							{
								"source": {
									"path": "$['STATUS']"
								},
								"sink": {
									"name": "STATUS"
								}
							},
							{
								"source": {
									"path": "$['ERROR_CD']"
								},
								"sink": {
									"name": "ERROR_CD"
								}
							},
							{
								"source": {
									"path": "$['TIMESTAMP']"
								},
								"sink": {
									"name": "TIMESTAMP"
								}
							},
							{
								"source": {
									"path": "$['PROC_TS']"
								},
								"sink": {
									"name": "PROC_TS"
								}
							},
							{
								"source": {
									"path": "$['TRANSPORT_ZONE']"
								},
								"sink": {
									"name": "TRANSPORT_ZONE"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT060_YMPPT_LP_ITEM_C",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script21",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT to_char(Sum(TALLY_BATCH_QTY)) as TALLY_BACTH_QTY, to_char(Sum(NO_PIECES)) as NO_PIECES, SALES_ORDER, ORDER_ITEM FROM SAPSR3.YMPPT_LP_BATCH_C WHERE LOAD_NO ='@{variables('LOAD_NO')}' AND SALES_ORDER = '@{variables('ORDER_NO')}' AND ORDER_ITEM = '@{variables('ITEM_NO')}' GROUP BY LOAD_NO, SALES_ORDER, ORDER_ITEM",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script21",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "CREATE_DATE",
								"value": "$$COLUMN:"
							},
							{
								"name": "MODIFY_DATE",
								"value": "$$COLUMN:"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$SAP_ORDER_ITEM']"
								}
							},
							{
								"source": {
									"path": "$['$MATERIAL_NO']"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_NO']"
								},
								"sink": {
									"name": "ORDER_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NAME']"
								}
							},
							{
								"source": {
									"path": "$['$CUST_CODE']"
								}
							},
							{
								"source": {
									"path": "$['$CUST_NAME']"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_COORDINATOR']"
								}
							},
							{
								"source": {
									"path": "$['$JOB_SITE_LOCATION']"
								}
							},
							{
								"source": {
									"path": "$['$SHAPE_CODE']"
								}
							},
							{
								"source": {
									"path": "$['$WBS1']"
								}
							},
							{
								"source": {
									"path": "$['$WBS2']"
								}
							},
							{
								"source": {
									"path": "$['$WBS3']"
								}
							},
							{
								"source": {
									"path": "$['$WBS4']"
								}
							},
							{
								"source": {
									"path": "$['$WBS5']"
								}
							},
							{
								"source": {
									"path": "$['$INV_LEN_IN_MM']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_LENGTH']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_WIDTH']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_HEIGHT']"
								}
							},
							{
								"source": {
									"path": "$['$BBS_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ITEM_NO']"
								},
								"sink": {
									"name": "ORDER_ITEM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_PIECES']"
								},
								"sink": {
									"name": "DELD_LOAD_PCS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LAYER_NO']"
								}
							},
							{
								"source": {
									"path": "$['$PRODUCT_TYPE']"
								}
							},
							{
								"source": {
									"path": "$['$WEIGHT_IN_MT']"
								}
							},
							{
								"source": {
									"path": "$['$NVL(SUBSTR(TRIM(ORDH']['JOB_SITE_LOCATION),0,3),\\\\'\\\\')']"
								}
							},
							{
								"source": {
									"path": "$['$CAST(((ORDI']['ORDER_QTY*LOAD']['ORDER_PIECES)/ORDI']['ORDER_PIECES)ASDECIMAL(10,3))']"
								}
							},
							{
								"source": {
									"path": "$['$CONTRACT_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_QTY']"
								}
							},
							{
								"source": {
									"path": "$['$IS_DELETED']"
								}
							},
							{
								"source": {
									"path": "$['$NVL(LOAD']['NR_OF_BUNDLE,0)']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_REQUEST_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$QTY_IN_BASE_UOM']"
								},
								"sink": {
									"name": "PLAN_LOAD_QNTY",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OracleTable8",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script22",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT to_char(Sum(TALLY_BATCH_QTY)) as TALLY_BACTH_QTY, to_char(Sum(NO_PIECES)) as NO_PIECES, SALES_ORDER, ORDER_ITEM FROM SAPSR3.YMPPT_LP_BATCH_C WHERE LOAD_NO = '@{variables('LOAD_NO')}' AND SALES_ORDER = '@{variables('ORDER_NO')}' AND ORDER_ITEM = '@{variables('ITEM_NO')}' GROUP BY LOAD_NO, SALES_ORDER, ORDER_ITEM",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script23",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script22",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable7",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.ITEM_ON_LOAD_SAP_TALLY SET PLAN_LOAD_PCS = '@{variables('ORDER_PIECES')}', DELD_LOAD_QNTY = NVL('%TALLY_BACTH_QTY%',0), DELD_LOAD_PCS = NVL('%deldLoadPcs%',0), MODIFY_DATE = '%currentTimeOnLoadSAPTally%' WHERE LOAD_NO = '@{variables('LOAD_NO')}' AND ORDER_REQUEST_NO = '@{variables('ORDER_REQUEST_NO')}' AND ORDER_ITEM = '@{variables('ITEM_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup6",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT PROC_TS FROM SAPSR3.YMPPT_LP_HDR",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable6",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PROC_TS",
					"value": {
						"value": "@concat(formatDateTime(addMinutes(addHours(utcNow(),\n8\n),\n00\n),\n'yyyy-MM-dd-HH.mm.ss'\n),\n'.'\n, substring(formatDateTime(utcNow(),\n'fffffff'\n),\n1\n,\n3\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable7",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ORDER_PIECES",
					"value": {
						"value": "@activity('Lookup7').output.value[0].ORDER_PIECES",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable8",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ORDER_REQUEST_NO",
					"value": {
						"value": "@activity('Lookup8').output.value[0].ORDER_REQUEST_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup7",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT ORDER_PIECES FROM SCM_ADMIN.sales_order_line_on_load",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_SCM_ADMIN_sales_order_line_on_load",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup8",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT ORDER_REQUEST_NO FROM SCM_ADMIN.sales_order_line_on_load",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_SCM_ADMIN_sales_order_line_on_load",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"LOAD_NO": {
				"type": "String"
			},
			"PLANNER_REMARKS": {
				"type": "String"
			},
			"PLAN_DELIV_DATE": {
				"type": "String"
			},
			"TRAILER_NO": {
				"type": "String"
			},
			"VEHICLE_TYPE": {
				"type": "String"
			},
			"LP_STATUS": {
				"type": "String"
			},
			"ORDER_NO": {
				"type": "String"
			},
			"ITEM_NO": {
				"type": "String"
			},
			"CONTRACT_NO": {
				"type": "String"
			},
			"LAYER_NO": {
				"type": "String"
			},
			"PRODUCT_TYPE": {
				"type": "String"
			},
			"DELIVERY_DATE": {
				"type": "String"
			},
			"PROC_TS": {
				"type": "String"
			},
			"ORDER_REQUEST_NO": {
				"type": "String"
			},
			"ORDER_PIECES": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}