ADFResources/pipeline/INT061_Sub_Update.json
{
	"name": "INT061_Sub_Update",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select LOAD_NO from SCM_ADMIN.ESB_ITEM_ON_LOAD_SAP_TALLY",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESBITEM_ON_LOAD_SAP_TALLY",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO_ARRAY",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('LOAD_NO_ARRAY')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "validation",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select LOAD_NO from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('Iterate_LoadNo')}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "INT060_YMPPT_LP_HDR",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Iterate_LoadNo",
								"value": {
									"value": "@item().LOAD_NO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('validation').output.value), 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Load_sap_tally_copy_copy1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"additionalColumns": [
													{
														"name": "LP_STATUS",
														"value": "A"
													},
													{
														"name": "STATUS",
														"value": "Y"
													},
													{
														"name": "CREATE_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													},
													{
														"name": "MODIFY_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													}
												],
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "POST",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "OracleSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['$LOAD_NO']"
														},
														"sink": {
															"name": "LOAD_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$LP_STATUS']"
														},
														"sink": {
															"name": "LP_STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['STATUS']"
														},
														"sink": {
															"name": "STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['CREATE_DATE']"
														},
														"sink": {
															"name": "CREATE_DATE",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['MODIFY_DATE']"
														},
														"sink": {
															"name": "MODIFY_DATE",
															"type": "String"
														}
													}
												],
												"collectionReference": ""
											}
										},
										"inputs": [
											{
												"referenceName": "Int060_ESB_Load_Tally_Head",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Int060_Load_SAP_Tally",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Script1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Load_sap_tally_copy_copy1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.ESB_YMPPT_LP_HDR T1\nUSING sapsr3.ESB_YMPPT_LP_HDR S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    S.PROC_TS='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    S.UPDATION_DATE='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    T1.PLANNER_REMARKS = S.REMARK1,\n    T1.USER_NAME = ''ESB_INT060'',\n    T1.PLAN_DELIV_DATE = S.PLAN_DELIV_DATE;",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script2",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.ESB_YMPPT_LP_HDR T1\nUSING sapsr3.ESB_YMPPT_LP_HDR S\nON (T1.LOAD_NO = S.Iterate_LoadNo AND T1.LP_STATUS ='A')\nWHEN MATCHED THEN\nUPDATE SET\n    S.PROC_TS='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    S.TRAILER_NO = T1.TRAILER_NO,\n    S.USER_NAME = ''ESB_INT060'',\n    T1.VEHICLE_TYPE_NAME = S.VEHICLE_TYPE;\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script4",
										"type": "Script",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT LP_STATUS, STATUS FROM sapsr3.ymppt_lp_hdr WHERE LOAD_NO  = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script3",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select LP_STATUS from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script5",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY hdr\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY stg\nON (hdr.LOAD_NO = stg.LOAD_NO and hdr.LP_STATUS <> 'Y')\nWHEN MATCHED THEN\nUPDATE SET\n    hdr.MODIFY_DATE = stg.PROC_TS,\n    hdr.UPDATION_DATE = TO_CHAR(CURRENT_DATE, 'YYYYMMDD'),\n    hdr.LP_STATUS = stg.LP_STATUS,\n    hdr.STATUS='A',\n    hdr.USER_NAME = 'ESB_INT060';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script6",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script5",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT UPPER (COUNT(*)) as COUNT FROM sapsr3.ymppt_lp_batch_c WHERE LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script7",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='A';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script9",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script7",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo and T1.LP_STATUS  <> 'Y')\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='T';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script10",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script9",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT LOAD_NO FROM sapsr3.ymppt_load_vehic WHERE LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script11",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script10",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='Y';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script13",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script11",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "update sapsr3.ITEM_ON_LOAD_SAP_TALLY\nset LOAD_NO = ('X'+'@{variables('Iterate_LoadNo')}'), ORDER_NO = ('X'+'@{variables('ORDER_NO')}')\nwhere",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Script13",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"LOAD_NO_ARRAY": {
				"type": "Array"
			},
			"Iterate_LoadNo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}