ADFResources/pipeline/INT061_Sub_Update.json
{
	"name": "INT061_Sub_Update",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select LOAD_NO from SCM_ADMIN.ESB_ITEM_ON_LOAD_SAP_TALLY",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESBITEM_ON_LOAD_SAP_TALLY",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO_ARRAY",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('LOAD_NO_ARRAY')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "validation",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select LOAD_NO from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('Iterate_LoadNo')}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "INT060_YMPPT_LP_HDR",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Iterate_LoadNo",
								"value": {
									"value": "@item().LOAD_NO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('validation').output.value), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Script1_copy1",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "INSERT INTO SAPSR3.ymppt_lp_item_c (\r\nmandt,             \r\nload_no,           \r\nnds_sale_order,    \r\norder_item,        \r\nsales_order,       \r\nclbd_item,         \r\nmatnr,             \r\nload_date,         \r\nload_sqn,          \r\nshift,             \r\ndelivery_date,     \r\nplan_load_qnty,    \r\ndesp_load_qnty,    \r\ndestination_code,  \r\nkunnr,             \r\nname_we,           \r\nkunag,             \r\nname_ag,           \r\nproj_coord,        \r\ntransport_zone,    \r\ncontract,          \r\nprod_grp,          \r\nunderload_charge,  \r\nno_pieces,         \r\nshape_code,        \r\nwbs1,              \r\nwbs2,              \r\nwbs3,              \r\nwbs4,              \r\nwbs5,              \r\ninvoice_length,    \r\next_dimension_l,   \r\next_dimension_w,   \r\next_dimension_h,   \r\nbbs_no,            \r\nstatus,            \r\nerror_cd,          \r\nproc_ts,           \r\nintermediate_qty,\r\ntimestamp\r\n) SELECT\r\n'600',\r\nload_no,\r\nNVL(TRIM(nds_sale_order),' '),\r\nTRIM(item_no),\r\norder_no,\r\nsap_order_item,\r\nTRIM(material_no),\r\nNVL((SELECT PLAN_DELIV_DATE FROM SAPSR3.ESB_ymppt_lp_hdr),' '),  -- take from headerdelivery_date\r\nlayer_no,\r\n'QQ',\r\nNVL((SELECT PLAN_DELIV_DATE FROM SAPSR3.ESB_ymppt_lp_hdr),' '),   -- take from headerdelivery_date\r\nplan_load_qty,\r\nplan_load_qty,\r\nTRIM(LOAD_JOB_SITE_LOCATION),\r\nproj_no,\r\nTRIM(proj_name),\r\ncust_code,\r\nTRIM(cust_name),\r\nproj_coordinator,\r\nTRIM(ordh_job_site_location), \r\ncontract_no,\r\nTRIM(product_type),\r\n'No',\r\nno_pieces,\r\nTRIM(shape_code),\r\nwbs1,\r\nwbs2,\r\nwbs3,\r\nwbs4,\r\nwbs5,\r\ninv_len_in_mm,\r\nenv_length,\r\nenv_width,\r\nenv_height,\r\nbbs_no,\r\n'Y',\r\n'RD RECODELETED AND THEN SUCCESSFULLY POSTED',\r\nTO_CHAR(SYSDATE, 'YYYY-MM-DD-HH24-MI-SS'),\r\nplan_load_qty,\r\nTO_CHAR(SYSTIMESTAMP, 'YYYY-MM-DD-HH24-MI-SS.FF6')\r\nFROM SAPSR3.esb_ymppt_lp_item_c;"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Load_sap_tally_copy_copy1_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "QUEUE TO SAP STAGING_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"additionalColumns": [
													{
														"name": "LP_STATUS",
														"value": "A"
													},
													{
														"name": "STATUS",
														"value": "Y"
													},
													{
														"name": "CREATE_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													},
													{
														"name": "MODIFY_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													}
												],
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "POST",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "OracleSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['$LOAD_NO']"
														},
														"sink": {
															"name": "LOAD_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$LP_STATUS']"
														},
														"sink": {
															"name": "LP_STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['STATUS']"
														},
														"sink": {
															"name": "STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['CREATE_DATE']"
														},
														"sink": {
															"name": "CREATE_DATE",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['MODIFY_DATE']"
														},
														"sink": {
															"name": "MODIFY_DATE",
															"type": "String"
														}
													}
												],
												"collectionReference": ""
											}
										},
										"inputs": [
											{
												"referenceName": "Int060_ESB_Load_Tally_Head",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Int060_Load_SAP_Tally",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Script1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Load_sap_tally_copy_copy1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.ESB_YMPPT_LP_HDR T1\nUSING sapsr3.ESB_YMPPT_LP_HDR S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    S.PROC_TS='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    S.UPDATION_DATE='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    T1.PLANNER_REMARKS = S.REMARK1,\n    T1.USER_NAME = ''ESB_INT060'',\n    T1.PLAN_DELIV_DATE = S.PLAN_DELIV_DATE;",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script2",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.ESB_YMPPT_LP_HDR T1\nUSING sapsr3.ESB_YMPPT_LP_HDR S\nON (T1.LOAD_NO = S.Iterate_LoadNo AND T1.LP_STATUS ='A')\nWHEN MATCHED THEN\nUPDATE SET\n    S.PROC_TS='@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')}',\n    S.TRAILER_NO = T1.TRAILER_NO,\n    S.USER_NAME = ''ESB_INT060'',\n    T1.VEHICLE_TYPE_NAME = S.VEHICLE_TYPE;\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script4",
										"type": "Script",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT LP_STATUS, STATUS FROM sapsr3.ymppt_lp_hdr WHERE LOAD_NO  = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script3",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select LP_STATUS from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script5",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY hdr\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY stg\nON (hdr.LOAD_NO = stg.LOAD_NO and hdr.LP_STATUS <> 'Y')\nWHEN MATCHED THEN\nUPDATE SET\n    hdr.MODIFY_DATE = stg.PROC_TS,\n    hdr.UPDATION_DATE = TO_CHAR(CURRENT_DATE, 'YYYYMMDD'),\n    hdr.LP_STATUS = stg.LP_STATUS,\n    hdr.STATUS='A',\n    hdr.USER_NAME = 'ESB_INT060';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script6",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script5",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT UPPER (COUNT(*)) as COUNT FROM sapsr3.ymppt_lp_batch_c WHERE LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script7",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='A';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script9",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script7",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo and T1.LP_STATUS  <> 'Y')\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='T';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script10",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script9",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT LOAD_NO FROM sapsr3.ymppt_load_vehic WHERE LOAD_NO = '@{variables('Iterate_LoadNo')}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script11",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script10",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SCM_IDB_Connect",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO SCM_ADMIN.LOAD_SAP_TALLY T1\nUSING SCM_ADMIN.ESB_LOAD_SAP_TALLY S\nON (T1.LOAD_NO = S.Iterate_LoadNo)\nWHEN MATCHED THEN\nUPDATE SET\n    T1.MODIFY_DATE = stg.PROC_TS,\n    T1.STATUS='Y';",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script13",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script11",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.ITEM_ON_LOAD_SAP_TALLY itm\nUSING sapsr3.ESB_ITEM_ON_LOAD_SAP_TALLY stg\nON (itm.LOAD_NO = stg.LOAD_NO AND itm.LOAD_NO=('X'+itm.LOAD_NO) AND itm.SALES_ORDER=('X'+stg.ORDER_NO)) )\nWHEN MATCHED THEN\nUPDATE SET\n    set LOAD_NO = stg.LOAD_NO, ORDER_NO = stg.ORDER_NO\n    ",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "Script13",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									},
									{
										"name": "Script14",
										"type": "Script",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select itm.SALES_ORDER,itm.ORDER_ITEM from sapsr3.ymppt_lp_item_c itm\r\njoin ESB_YMPPT_LP_ITEM_C stg\r\nON (itm.LOAD_NO=stg.LOAD_NO)\r\nwhere (itm.load_no = '@{variables('Iterate_LoadNo')}' ) and \r\n(itm.sales_order = stg.ORDER_NO ) and \r\nitm.order_item = stg.ITEM_NO;",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Lookup2",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "select itm.SALES_ORDER,itm.ORDER_ITEM from sapsr3.ymppt_lp_item_c itm\r\njoin ESB_YMPPT_LP_ITEM_C stg\r\nON (itm.LOAD_NO=stg.LOAD_NO)\r\nwhere (itm.load_no = '@{variables('Iterate_LoadNo')}' ) and \r\n(itm.sales_order = stg.ORDER_NO ) and \r\nitm.order_item = stg.ITEM_NO;",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "INT060_YMPPT_LP_ITEM_C",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "QUEUE TO SAP STAGING_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"additionalColumns": [
													{
														"name": "SHIFT",
														"value": "QQ"
													},
													{
														"name": "UNDERLOAD_CHARG",
														"value": "No"
													},
													{
														"name": "STATUS",
														"value": "Y"
													},
													{
														"name": "ERROR_CD",
														"value": "RD RECODELETED AND THEN SUCCESSFULLY POSTED"
													},
													{
														"name": "DELIVERY_DATE",
														"value": ""
													},
													{
														"name": "LOAD_DATE",
														"value": ""
													},
													{
														"name": "TIMESTAMP",
														"value": ""
													},
													{
														"name": "PROC_TS",
														"value": ""
													},
													{
														"name": "DESP_LOAD_QTY",
														"value": ""
													},
													{
														"name": "INTERMEDIATE_QTY",
														"value": ""
													}
												],
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "POST",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "OracleSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['$SAP_ORDER_ITEM']"
														},
														"sink": {
															"name": "SAP_ORDER_ITEM"
														}
													},
													{
														"source": {
															"path": "$['$MATERIAL_NO']"
														},
														"sink": {
															"name": "MATERIAL_NO"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_NO']"
														},
														"sink": {
															"name": "PROJ_NO"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_NO']"
														},
														"sink": {
															"name": "ORDER_NO"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_NAME']"
														},
														"sink": {
															"name": "PROJ_NAME"
														}
													},
													{
														"source": {
															"path": "$['$CUST_CODE']"
														},
														"sink": {
															"name": "CUST_CODE"
														}
													},
													{
														"source": {
															"path": "$['$CUST_NAME']"
														},
														"sink": {
															"name": "CUST_NAME"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_COORDINATOR']"
														},
														"sink": {
															"name": "PROJ_COORDINATOR"
														}
													},
													{
														"source": {
															"path": "$['$LOAD_JOB_SITE_LOCATION']"
														},
														"sink": {
															"name": "LOAD_JOB_SITE_LOCATION"
														}
													},
													{
														"source": {
															"path": "$['$SHAPE_CODE']"
														},
														"sink": {
															"name": "SHAPE_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS1']"
														},
														"sink": {
															"name": "WBS1",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS2']"
														},
														"sink": {
															"name": "WBS2",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS3']"
														},
														"sink": {
															"name": "WBS3",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS4']"
														},
														"sink": {
															"name": "WBS4",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS5']"
														},
														"sink": {
															"name": "WBS5",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$INV_LEN_IN_MM']"
														},
														"sink": {
															"name": "INV_LEN_IN_MM"
														}
													},
													{
														"source": {
															"path": "$['$ENV_LENGTH']"
														},
														"sink": {
															"name": "ENV_LENGTH"
														}
													},
													{
														"source": {
															"path": "$['$ENV_WIDTH']"
														},
														"sink": {
															"name": "ENV_WIDTH"
														}
													},
													{
														"source": {
															"path": "$['$ENV_HEIGHT']"
														},
														"sink": {
															"name": "ENV_HEIGHT"
														}
													},
													{
														"source": {
															"path": "$['$BBS_NO']"
														},
														"sink": {
															"name": "BBS_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$ITEM_NO']"
														},
														"sink": {
															"name": "ITEM_NO"
														}
													},
													{
														"source": {
															"path": "$['$LOAD_NO']"
														},
														"sink": {
															"name": "LOAD_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$LAYER_NO']"
														},
														"sink": {
															"name": "LAYER_NO"
														}
													},
													{
														"source": {
															"path": "$['$PRODUCT_TYPE']"
														},
														"sink": {
															"name": "PRODUCT_TYPE"
														}
													},
													{
														"source": {
															"path": "$['$CONTRACT_NO']"
														},
														"sink": {
															"name": "CONTRACT_NO"
														}
													},
													{
														"source": {
															"path": "$['$NDS_SALE_ORDER']"
														},
														"sink": {
															"name": "NDS_SALE_ORDER",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$NO_PIECES']"
														},
														"sink": {
															"name": "NO_PIECES",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$PLAN_LOAD_QTY']"
														},
														"sink": {
															"name": "PLAN_LOAD_QTY"
														}
													},
													{
														"source": {
															"path": "$['$ORDH_JOB_SITE_LOCATION']"
														},
														"sink": {
															"name": "ORDH_JOB_SITE_LOCATION"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_REQUEST_NO']"
														},
														"sink": {
															"name": "ORDER_REQUEST_NO"
														}
													},
													{
														"source": {
															"path": "$['$IS_DELETED']"
														},
														"sink": {
															"name": "IS_DELETED"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_PIECES']"
														},
														"sink": {
															"name": "ORDER_PIECES"
														}
													},
													{
														"source": {
															"path": "$['$QTY_IN_BASE_UOM']"
														},
														"sink": {
															"name": "QTY_IN_BASE_UOM"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "Int060_ESB_Load_Tally_Head",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "INT060_YMPPT_LP_ITEM_C",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('Lookup2').output.value), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "QUEUE TO SAP STAGING_copy1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"additionalColumns": [
													{
														"name": "SHIFT",
														"value": "QQ"
													},
													{
														"name": "UNDERLOAD_CHARG",
														"value": "No"
													},
													{
														"name": "STATUS",
														"value": "Y"
													},
													{
														"name": "ERROR_CD",
														"value": "RD RECODELETED AND THEN SUCCESSFULLY POSTED"
													},
													{
														"name": "DELIVERY_DATE",
														"value": ""
													},
													{
														"name": "LOAD_DATE",
														"value": ""
													},
													{
														"name": "TIMESTAMP",
														"value": ""
													},
													{
														"name": "PROC_TS",
														"value": ""
													},
													{
														"name": "DESP_LOAD_QTY",
														"value": ""
													},
													{
														"name": "INTERMEDIATE_QTY",
														"value": ""
													}
												],
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "POST",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "OracleSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['$SAP_ORDER_ITEM']"
														},
														"sink": {
															"name": "SAP_ORDER_ITEM"
														}
													},
													{
														"source": {
															"path": "$['$MATERIAL_NO']"
														},
														"sink": {
															"name": "MATERIAL_NO"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_NO']"
														},
														"sink": {
															"name": "PROJ_NO"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_NO']"
														},
														"sink": {
															"name": "ORDER_NO"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_NAME']"
														},
														"sink": {
															"name": "PROJ_NAME"
														}
													},
													{
														"source": {
															"path": "$['$CUST_CODE']"
														},
														"sink": {
															"name": "CUST_CODE"
														}
													},
													{
														"source": {
															"path": "$['$CUST_NAME']"
														},
														"sink": {
															"name": "CUST_NAME"
														}
													},
													{
														"source": {
															"path": "$['$PROJ_COORDINATOR']"
														},
														"sink": {
															"name": "PROJ_COORDINATOR"
														}
													},
													{
														"source": {
															"path": "$['$LOAD_JOB_SITE_LOCATION']"
														},
														"sink": {
															"name": "LOAD_JOB_SITE_LOCATION"
														}
													},
													{
														"source": {
															"path": "$['$SHAPE_CODE']"
														},
														"sink": {
															"name": "SHAPE_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS1']"
														},
														"sink": {
															"name": "WBS1",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS2']"
														},
														"sink": {
															"name": "WBS2",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS3']"
														},
														"sink": {
															"name": "WBS3",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS4']"
														},
														"sink": {
															"name": "WBS4",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$WBS5']"
														},
														"sink": {
															"name": "WBS5",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$INV_LEN_IN_MM']"
														},
														"sink": {
															"name": "INV_LEN_IN_MM"
														}
													},
													{
														"source": {
															"path": "$['$ENV_LENGTH']"
														},
														"sink": {
															"name": "ENV_LENGTH"
														}
													},
													{
														"source": {
															"path": "$['$ENV_WIDTH']"
														},
														"sink": {
															"name": "ENV_WIDTH"
														}
													},
													{
														"source": {
															"path": "$['$ENV_HEIGHT']"
														},
														"sink": {
															"name": "ENV_HEIGHT"
														}
													},
													{
														"source": {
															"path": "$['$BBS_NO']"
														},
														"sink": {
															"name": "BBS_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$ITEM_NO']"
														},
														"sink": {
															"name": "ITEM_NO"
														}
													},
													{
														"source": {
															"path": "$['$LOAD_NO']"
														},
														"sink": {
															"name": "LOAD_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$LAYER_NO']"
														},
														"sink": {
															"name": "LAYER_NO"
														}
													},
													{
														"source": {
															"path": "$['$PRODUCT_TYPE']"
														},
														"sink": {
															"name": "PRODUCT_TYPE"
														}
													},
													{
														"source": {
															"path": "$['$CONTRACT_NO']"
														},
														"sink": {
															"name": "CONTRACT_NO"
														}
													},
													{
														"source": {
															"path": "$['$NDS_SALE_ORDER']"
														},
														"sink": {
															"name": "NDS_SALE_ORDER",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$NO_PIECES']"
														},
														"sink": {
															"name": "NO_PIECES",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$PLAN_LOAD_QTY']"
														},
														"sink": {
															"name": "PLAN_LOAD_QTY"
														}
													},
													{
														"source": {
															"path": "$['$ORDH_JOB_SITE_LOCATION']"
														},
														"sink": {
															"name": "ORDH_JOB_SITE_LOCATION"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_REQUEST_NO']"
														},
														"sink": {
															"name": "ORDER_REQUEST_NO"
														}
													},
													{
														"source": {
															"path": "$['$IS_DELETED']"
														},
														"sink": {
															"name": "IS_DELETED"
														}
													},
													{
														"source": {
															"path": "$['$ORDER_PIECES']"
														},
														"sink": {
															"name": "ORDER_PIECES"
														}
													},
													{
														"source": {
															"path": "$['$QTY_IN_BASE_UOM']"
														},
														"sink": {
															"name": "QTY_IN_BASE_UOM"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "Int060_ESB_Load_Tally_Head",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "INT060_YMPPT_LP_ITEM_C",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Script15",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "MERGE INTO sapsr3.YMPPT_LP_ITEM_C itm\r\nUSING sapsr3.ESB_YMPPT_LP_ITEM_C stg\r\nON (itm.LOAD_NO = stg.LOAD_NO AND itm.IS_DELETED ='Y' AND itm.LOAD_NO=stg.LOAD_NO AND itm.SALES_ORDER=stg.ORDER_NO AND itm.ORDER_ITEM=stg.ITEM_NO)\r\nWHEN MATCHED THEN\r\nUPDATE SET\r\n    itm.LOAD_NO='X'+itm.LOAD_NO,\r\n    itm.SALES_ORDER='X'+itm.ORDER_NO,\r\n\r\n"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script16",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script15",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "MERGE INTO sapsr3.YMPPT_LP_ITEM_C itm\r\nUSING sapsr3.ESB_YMPPT_LP_ITEM_C stg\r\nON (itm.LOAD_NO = stg.LOAD_NO AND itm.LOAD_NO=('X'+itm.LOAD_NO) AND itm.SALES_ORDER=('X'+itm.ORDER_NO)) AND itm.ORDER_ITEM=stg.ITEM_NO)\r\nWHEN MATCHED THEN\r\nUPDATE SET\r\n    itm.NDS_SALE_ORDER=stg.nds_sales_order,\r\n    itm.CONTRACT=stg.CONTRACT_NO,\r\n    itm.NO_PIECES=stg.NO_PIECES,\r\n    itm.LOAD_SQN=stg.LAYER_NO,\r\n    itm.PROC_TS=@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss.ffffff')},\r\n    itm.PLAN_LOAD_QNTY=stg.PLAN_LOAD_QNTY,\r\n    itm.DESP_LOAD_QNTY=stg.DESP_LOAD_QNTY,\r\n    itm.INTERMEDIATE_QTY=stg.INTERMEDIATE_QTY,\r\n    itm.PROD_GRP=stg.PRODUCT_TYPE,\r\n    itm.DELIVERY_DATE=stg.DELIVERY_DATE,\r\n    itm.LOAD_DATE=stg.DELIVERY_DATE;\r\n\r\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"LOAD_NO_ARRAY": {
				"type": "Array"
			},
			"Iterate_LoadNo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}