ADFResources/pipeline/INT060_subscriber.json
{
	"name": "INT060_subscriber",
	"properties": {
		"activities": [
			{
				"name": "YMPPT_LP_HDR_Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LP_STATUS",
								"value": "A"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "USER_NAME",
								"value": "ESB_INT060"
							},
							{
								"name": "ERROR_CD",
								"value": "RECORD DELETED AND THEN SUCCESSFULLY POSTED"
							},
							{
								"name": "EMAIL_ALERT_IND",
								"value": "N"
							},
							{
								"name": "DELIVERY_SQN",
								"value": "0"
							},
							{
								"name": "MANDT",
								"value": "600"
							},
							{
								"name": "USER_NAME",
								"value": "ESB_INT060"
							},
							{
								"name": "UPDATION_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(),\n5\n),\n30\n),\n'yyyy-MM-dd HH:mm:ss'\n),\n'.'\n, formatDateTime(utcnow(),\n'fff'\n))",
									"type": "Expression"
								}
							},
							{
								"name": "PROC-TS",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(),\n5\n),\n30\n),\n'yyyy-MM-dd HH:mm:ss'\n),\n'.'\n, formatDateTime(utcnow(),\n'fff'\n))",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$LOAD_NO"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$VEHICLE_TYPE_NAME"
								},
								"sink": {
									"name": "VEHICLE_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$DELIVERY_DATE"
								},
								"sink": {
									"name": "PLAN_DELIV_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$REMARK1"
								},
								"sink": {
									"name": "PLANNER_REMARKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$LP_STATUS"
								},
								"sink": {
									"name": "LP_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$STATUS"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$USER_NAME"
								},
								"sink": {
									"name": "USER_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$ERROR_CD"
								},
								"sink": {
									"name": "ERROR_CD",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$EMAIL_ALERT_IND"
								},
								"sink": {
									"name": "EMAIL_ALERT_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$DELIVERY_SQN"
								},
								"sink": {
									"name": "DELIVERY_SQN",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_sap_tally_copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "YMPPT_LP_HDR_Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LP_STATUS",
								"value": "A"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "CREATE_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
									"type": "Expression"
								}
							},
							{
								"name": "MODIFY_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LP_STATUS']"
								},
								"sink": {
									"name": "LP_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['STATUS']"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CREATE_DATE']"
								},
								"sink": {
									"name": "CREATE_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MODIFY_DATE']"
								},
								"sink": {
									"name": "MODIFY_DATE",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Int060_Load_SAP_Tally",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Load_sap_tally_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LP_STATUS, STATUS FROM sapsr3.ymppt_lp_hdr WHERE LOAD_NO  = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "Select LOAD_NO, VEHICLE_TYPE_NAME, IS_ONHOLD, IS_CANCELLED, VIRTUAL_VEHICLE_TYPE, WM_ROWID, WM_SENDTIME, ACTION from SCM_ADMIN.ESB_LOAD_TBL",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESB_LOAD_TBL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO",
					"value": {
						"value": "@activity('Lookup1').output.value[0].LOAD_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) FROM sapsr3.ymppt_lp_batch_c WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script3",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'T' WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script4",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'A' WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script5",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LOAD_NO FROM sapsr3.ymppt_load_vehic WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script6",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update SCM_ADMIN.LOAD_SAP_TALLY set LP_STATUS = 'Y' WHERE LOAD_NO ='@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Script6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "SHIFT",
								"value": "QQ"
							},
							{
								"name": "UNDERLOAD_CHARG",
								"value": "No"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "ERROR_CD",
								"value": "RD RECODELETED AND THEN SUCCESSFULLY POSTED"
							},
							{
								"name": "NDS_SALE_ORDER",
								"value": ""
							},
							{
								"name": "DELIVERY_DATE",
								"value": ""
							},
							{
								"name": "LOAD_DATE",
								"value": ""
							},
							{
								"name": "TIMESTAMP",
								"value": ""
							},
							{
								"name": "PROC_TS",
								"value": ""
							},
							{
								"name": "NO_PIECES",
								"value": ""
							},
							{
								"name": "NDS_SALE_ORDER",
								"value": ""
							},
							{
								"name": "PLAN_LOAD_QTY",
								"value": ""
							},
							{
								"name": "DESP_LOAD_QTY",
								"value": ""
							},
							{
								"name": "INTERMEDIATE_QTY",
								"value": ""
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$SAP_ORDER_ITEM']"
								},
								"sink": {
									"name": "CLBD_ITEM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$MATERIAL_NO']"
								},
								"sink": {
									"name": "MATNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NO']"
								},
								"sink": {
									"name": "KUNNR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_NO']"
								},
								"sink": {
									"name": "SALES_ORDER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NAME']"
								},
								"sink": {
									"name": "NAME_WE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CUST_CODE']"
								},
								"sink": {
									"name": "KUNAG",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CUST_NAME']"
								},
								"sink": {
									"name": "NAME_AG",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_COORDINATOR']"
								},
								"sink": {
									"name": "PROJ_COORD",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$JOB_SITE_LOCATION']"
								},
								"sink": {
									"name": "DESTINATION_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SHAPE_CODE']"
								},
								"sink": {
									"name": "SHAPE_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$WBS1']"
								},
								"sink": {
									"name": "WBS1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$WBS2']"
								},
								"sink": {
									"name": "WBS2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$WBS3']"
								},
								"sink": {
									"name": "WBS3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$WBS4']"
								},
								"sink": {
									"name": "WBS4",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$WBS5']"
								},
								"sink": {
									"name": "WBS5",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$INV_LEN_IN_MM']"
								},
								"sink": {
									"name": "INVOICE_LENGTH",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ENV_LENGTH']"
								},
								"sink": {
									"name": "EXT_DIMENSION_L",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ENV_WIDTH']"
								},
								"sink": {
									"name": "EXT_DIMENSION_W",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ENV_HEIGHT']"
								},
								"sink": {
									"name": "EXT_DIMENSION_H",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$BBS_NO']"
								},
								"sink": {
									"name": "BBS_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ITEM_NO']"
								},
								"sink": {
									"name": "ORDER_ITEM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LAYER_NO']"
								},
								"sink": {
									"name": "LOAD_SQN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PRODUCT_TYPE']"
								},
								"sink": {
									"name": "PROD_GRP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CONTRACT_NO']"
								},
								"sink": {
									"name": "CONTRACT",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$NDS_SALE_ORDER']"
								},
								"sink": {
									"name": "NDS_SALE_ORDER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$DELIVERY_DATE']"
								},
								"sink": {
									"name": "DELIVERY_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LOAD_DATE']"
								},
								"sink": {
									"name": "LOAD_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$TIMESTAMP']"
								},
								"sink": {
									"name": "TIMESTAMP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROC_TS']"
								},
								"sink": {
									"name": "PROC_TS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$NO_PIECES']"
								},
								"sink": {
									"name": "NO_PIECES",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$NDS_SALE_ORDER']"
								},
								"sink": {
									"name": "NDS_SALE_ORDER",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PLAN_LOAD_QTY']"
								},
								"sink": {
									"name": "PLAN_LOAD_QTY"
								}
							},
							{
								"source": {
									"path": "$['$DESP_LOAD_QTY']"
								},
								"sink": {
									"name": "DESP_LOAD_QTY"
								}
							},
							{
								"source": {
									"path": "$['$INTERMEDIATE_QTY']"
								},
								"sink": {
									"name": "INTERMEDIATE_QTY",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT060_YMPPT_LP_ITEM_C",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script7",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT to_char(Sum(TALLY_BATCH_QTY)) as TALLY_BACTH_QTY, to_char(Sum(NO_PIECES)) as NO_PIECES, SALES_ORDER, ORDER_ITEM FROM SAPSR3.YMPPT_LP_BATCH_C WHERE LOAD_NO ='%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/LOAD_NO%' AND SALES_ORDER = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/ORDER_NO%' AND ORDER_ITEM = '%LoadPlannerData/loadPlannerDoc/Detail/LoadItem/ITEM_NO%' GROUP BY LOAD_NO, SALES_ORDER, ORDER_ITEM"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$SAP_ORDER_ITEM']"
								}
							},
							{
								"source": {
									"path": "$['$MATERIAL_NO']"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_NO']"
								},
								"sink": {
									"name": "ORDER_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_NAME']"
								}
							},
							{
								"source": {
									"path": "$['$CUST_CODE']"
								}
							},
							{
								"source": {
									"path": "$['$CUST_NAME']"
								}
							},
							{
								"source": {
									"path": "$['$PROJ_COORDINATOR']"
								}
							},
							{
								"source": {
									"path": "$['$JOB_SITE_LOCATION']"
								}
							},
							{
								"source": {
									"path": "$['$SHAPE_CODE']"
								}
							},
							{
								"source": {
									"path": "$['$WBS1']"
								}
							},
							{
								"source": {
									"path": "$['$WBS2']"
								}
							},
							{
								"source": {
									"path": "$['$WBS3']"
								}
							},
							{
								"source": {
									"path": "$['$WBS4']"
								}
							},
							{
								"source": {
									"path": "$['$WBS5']"
								}
							},
							{
								"source": {
									"path": "$['$INV_LEN_IN_MM']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_LENGTH']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_WIDTH']"
								}
							},
							{
								"source": {
									"path": "$['$ENV_HEIGHT']"
								}
							},
							{
								"source": {
									"path": "$['$BBS_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ITEM_NO']"
								},
								"sink": {
									"name": "ORDER_ITEM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_PIECES']"
								}
							},
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LAYER_NO']"
								}
							},
							{
								"source": {
									"path": "$['$PRODUCT_TYPE']"
								}
							},
							{
								"source": {
									"path": "$['$WEIGHT_IN_MT']"
								}
							},
							{
								"source": {
									"path": "$['$NVL(SUBSTR(TRIM(ORDH']['JOB_SITE_LOCATION),0,3),\\\\'\\\\')']"
								}
							},
							{
								"source": {
									"path": "$['$CAST(((ORDI']['ORDER_QTY*LOAD']['ORDER_PIECES)/ORDI']['ORDER_PIECES)ASDECIMAL(10,3))']"
								},
								"sink": {
									"name": "PLAN_LOAD_PCS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CONTRACT_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_QTY']"
								}
							},
							{
								"source": {
									"path": "$['$IS_DELETED']"
								}
							},
							{
								"source": {
									"path": "$['$NVL(LOAD']['NR_OF_BUNDLE,0)']"
								}
							},
							{
								"source": {
									"path": "$['$ORDER_REQUEST_NO']"
								}
							},
							{
								"source": {
									"path": "$['$ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$QTY_IN_BASE_UOM']"
								},
								"sink": {
									"name": "PLAN_LOAD_QNTY",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OracleTable8",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Script7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"LOAD_NO": {
				"type": "String"
			},
			"ITEM_NO": {
				"type": "Array"
			},
			"ORDER_NO": {
				"type": "String"
			},
			"ITEM_NOs": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}