ADFResources/pipeline/INT050_VALIDATION.json
{
	"name": "INT050_VALIDATION",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "WITH FirstQuery AS (\r\n    SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\r\n    FROM (\r\n        SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\r\n        FROM scm_admin.bpcsequencing\r\n        MINUS\r\n        SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\r\n        FROM scm_admin.esb_bpcsequencing\r\n    )\r\n    WHERE ROWNUM <= 1000\r\n)\r\nSELECT\r\n    NVL(PSCH.FLD_PSCH_PLAN_PROCESS_TIME, 0) AS FLD_PSCH_PLAN_PROCESS_TIME,\r\n    NVL(TRIM(PSCH.FLD_PSCH_REC_TYPE_OBSOLETE), ' ') AS FLD_PSCH_REC_TYPE_OBSOLETE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_SAL_FG_UOM), ' ') AS FLD_PSCH_SAL_FG_UOM,\r\n    NVL(TRIM(PSCH.FLD_PSCH_MATL_NO), ' ') AS FLD_PSCH_MATL_NO,\r\n    NVL(PSCH.FLD_PSCH_SEQ_NO, ' ') AS FLD_PSCH_SEQ_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_CUST_DESC), ' ') AS FLD_PSCH_CUST_DESC,\r\n    NVL(TRIM(PSCH.FLD_PSCH_NXT_WRK_CTR), ' ') AS FLD_PSCH_NXT_WRK_CTR,\r\n    NVL(TRIM(PSCH.FLD_PSCH_PROD_GROUP), ' ') AS FLD_PSCH_PROD_GROUP,\r\n    NVL(TRIM(PSCH.FLD_PSCH_ENG_DWG_NO), ' ') AS FLD_PSCH_ENG_DWG_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_DEPNT_REQ_FLAG), ' ') AS FLD_PSCH_DEPNT_REQ_FLAG,\r\n    NVL(TRIM(PSCH.FLD_PSCH_MSG_ID), ' ') AS FLD_PSCH_MSG_ID,\r\n    NVL(PSCH.FLD_PSCH_PRODN_QTY_PCS, 0) AS FLD_PSCH_PRODN_QTY_PCS,\r\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_PRODN_SHIFT), ' ') AS FLD_PSCH_PLAN_PRODN_SHIFT,\r\n    NVL(TRIM(PSCH.FLD_PSCH_ITEM_NO), ' ') AS FLD_PSCH_ITEM_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_RUN_NO), ' ') AS FLD_PSCH_RUN_NO,\r\n    NVL(PSCH.FLD_PSCH_SAL_FG_QTY, 0) AS FLD_PSCH_SAL_FG_QTY,\r\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_PRODN_DATE), ' ') AS FLD_PSCH_PLAN_PRODN_DATE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_SHAPE_CODE_ID), ' ') AS FLD_PSCH_SHAPE_CODE_ID,\r\n    NVL(PSCH.FLD_PSCH_PLAN_SETUP_TIME, 0) AS FLD_PSCH_PLAN_SETUP_TIME,\r\n    NVL(TRIM(PSCH.FLD_PSCH_INDEPNT_ITEM), 0) AS FLD_PSCH_INDEPNT_ITEM,\r\n    NVL(TRIM(PSCH.FLD_PSCH_SAL_ORD_NO), ' ') AS FLD_PSCH_SAL_ORD_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_CUST_ID), ' ') AS FLD_PSCH_CUST_ID,\r\n    NVL(TRIM(PSCH.FLD_PSCH_INDEPNT_MATL_NO), ' ') AS FLD_PSCH_INDEPNT_MATL_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_SHIP_TO_DESC), ' ') AS FLD_PSCH_SHIP_TO_DESC,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_CREATE_DATE), ' ') AS FLD_PSCH_Q_CREATE_DATE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_END_TIME), ' ') AS FLD_PSCH_Q_END_TIME,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_ISRELEASE), ' ') AS FLD_PSCH_Q_ISRELEASE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_MODIFY_DATE), ' ') AS FLD_PSCH_Q_MODIFY_DATE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_OPER_TYPE), ' ') AS FLD_PSCH_Q_OPER_TYPE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_RELEASE_DATE), ' ') AS FLD_PSCH_Q_RELEASE_DATE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_PRODN_ORD_NO), ' ') AS FLD_PSCH_PRODN_ORD_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_PO_NO), ' ') AS FLD_PSCH_Q_PO_NO,\r\n    NVL(PSCH.FLD_PSCH_Q_SEQ_NO, 0) AS FLD_PSCH_Q_SEQ_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_WRK_CTR), ' ') AS FLD_PSCH_PLAN_WRK_CTR,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_START_TIME), ' ') AS FLD_PSCH_Q_START_TIME,\r\n    NVL(TRIM(PSCH.FLD_PSCH_Q_PRODN_ORD_NO), ' ') AS FLD_PSCH_Q_PRODN_ORD_NO,\r\n    NVL(TRIM(PSCH.FLD_PSCH_TAG_ID_FROM), ' ') AS FLD_PSCH_TAG_ID_FROM,\r\n    NVL(TRIM(PSCH.FLD_PSCH_TAG_ID_TO), ' ') AS FLD_PSCH_TAG_ID_TO,\r\n    NVL(PSCH.FLD_PSCH_UOPQUANTITY, 0) AS FLD_PSCH_UOPQUANTITY,\r\n    NVL(TRIM(PSCH.FLD_PSCH_UOPQUANTITYUOM), ' ') AS FLD_PSCH_UOPQUANTITYUOM,\r\n    NVL(PSCH.FLD_PSCH_PU_NR_OF_OPERATION, 0) AS FLD_PSCH_PU_NR_OF_OPERATION,\r\n    NVL(TRIM(PSCH.FLD_PSCH_RELEASE_CODE), ' ') AS FLD_PSCH_RELEASE_CODE,\r\n    NVL(TRIM(PSCH.FLD_PSCH_LOADING_START), ' ') AS FLD_PSCH_LOADING_START,\r\n    NVL(TRIM(PSCH.FLD_PSCH_LOADING_END), ' ') AS FLD_PSCH_LOADING_END,\r\n    NVL(PSCH.REC_ID, 0) AS REC_ID\r\nFROM\r\n    scm_admin.BPCSEQUENCING PSCH\r\nJOIN \r\n    FirstQuery FQ ON PSCH.FLD_PSCH_ITEM_NO = FQ.FLD_PSCH_ITEM_NO\r\n                 AND PSCH.FLD_PSCH_SAL_ORD_NO = FQ.FLD_PSCH_SAL_ORD_NO\r\n                 AND PSCH.FLD_PSCH_SEQ_NO = FQ.FLD_PSCH_SEQ_NO\r\n                 AND PSCH.FLD_PSCH_Q_OPER_TYPE = FQ.FLD_PSCH_Q_OPER_TYPE\r\n                 AND PSCH.FLD_PSCH_Q_PO_NO = FQ.FLD_PSCH_Q_PO_NO\r\nWHERE\r\n    LENGTH(PSCH.FLD_PSCH_RELEASE_CODE) > 0\r\n    AND PSCH.FLD_PSCH_Q_ISRELEASE = 'Y'\r\n    AND ROWNUM <= 2;\r\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT050_IDB_BPCSEQENCING",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT050_IDB_BPCSEQUENCING_Pub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}