ADFResources/pipeline/INT061_Sub_Update.json
{
	"name": "INT061_Sub_Update",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select LOAD_NO from SCM_ADMIN.ESB_ITEM_ON_LOAD_SAP_TALLY",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESBITEM_ON_LOAD_SAP_TALLY",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO_ARRAY",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('LOAD_NO_ARRAY')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "validation",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select LOAD_NO from SCM_ADMIN.LOAD_SAP_TALLY where LOAD_NO = '@{variables('Iterate_LoadNo')}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "INT060_YMPPT_LP_HDR",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Iterate_LoadNo",
								"value": {
									"value": "@item().LOAD_NO",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('validation').output.value), 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Load_sap_tally_copy_copy1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"additionalColumns": [
													{
														"name": "LP_STATUS",
														"value": "A"
													},
													{
														"name": "STATUS",
														"value": "Y"
													},
													{
														"name": "CREATE_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													},
													{
														"name": "MODIFY_DATE",
														"value": {
															"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
															"type": "Expression"
														}
													}
												],
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "POST",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "OracleSink",
												"writeBatchSize": 10000
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['$LOAD_NO']"
														},
														"sink": {
															"name": "LOAD_NO",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['$LP_STATUS']"
														},
														"sink": {
															"name": "LP_STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['STATUS']"
														},
														"sink": {
															"name": "STATUS",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['CREATE_DATE']"
														},
														"sink": {
															"name": "CREATE_DATE",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['MODIFY_DATE']"
														},
														"sink": {
															"name": "MODIFY_DATE",
															"type": "String"
														}
													}
												],
												"collectionReference": ""
											}
										},
										"inputs": [
											{
												"referenceName": "Int060_ESB_Load_Tally_Head",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Int060_Load_SAP_Tally",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Script1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Load_sap_tally_copy_copy1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "SAP_DEV_DEMO",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "update sapsr3.YMPPT_LP_HDR\t\t\t\t\t\t\t\t\t\t\t\t\t\t\r\nset PROC_TS = '%yyyy-MM-dd HH:mm:ss.DDDDDD%' , UPDATION_DATE = '%yyyyMMdd%' , TRAILER_NO='%QUEUE/Detail/LoadHeader/TRAILER_NO%',\r\nPLANNER_REMARKS= '%QUEUE/Detail/LoadHeader/REMARK1%', PLAN_DELIV_DATE = '%QUEUE/PLAN_DELIV_DATE%',\r\nVEHICLE_TYPE = '%QUEUE/Detail/LoadHeader/VEHICLE_TYPE_NAME%', USER_name = 'ESB_INT060' where LOAD_NO = '%QUEUE/Detail/LoadHeader/LOAD_NO%' and LP_STATUS = 'A'\r\n\r\n"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"LOAD_NO_ARRAY": {
				"type": "Array"
			},
			"Iterate_LoadNo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}