ADFResources/pipeline/INT060_subscriber.json
{
	"name": "INT060_subscriber",
	"properties": {
		"activities": [
			{
				"name": "YMPPT_LP_HDR_Copy",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LP_STATUS",
								"value": "A"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "USER_NAME",
								"value": "ESB_INT060"
							},
							{
								"name": "ERROR_CD",
								"value": "RECORD DELETED AND THEN SUCCESSFULLY POSTED"
							},
							{
								"name": "EMAIL_ALERT_IND",
								"value": "N"
							},
							{
								"name": "DELIVERY_SQN",
								"value": "0"
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$LOAD_NO"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$VEHICLE_TYPE_NAME"
								},
								"sink": {
									"name": "VEHICLE_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$DELIVERY_DATE"
								},
								"sink": {
									"name": "PLAN_DELIV_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$REMARK1"
								},
								"sink": {
									"name": "PLANNER_REMARKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$LP_STATUS"
								},
								"sink": {
									"name": "LP_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$STATUS"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$USER_NAME"
								},
								"sink": {
									"name": "USER_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$ERROR_CD"
								},
								"sink": {
									"name": "ERROR_CD",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$EMAIL_ALERT_IND"
								},
								"sink": {
									"name": "EMAIL_ALERT_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$DELIVERY_SQN"
								},
								"sink": {
									"name": "DELIVERY_SQN",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT060_YMPPT_LP_HDR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_sap_tally_copy",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "YMPPT_LP_HDR_Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "LP_STATUS",
								"value": "A"
							},
							{
								"name": "STATUS",
								"value": "Y"
							},
							{
								"name": "CREATE_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
									"type": "Expression"
								}
							},
							{
								"name": "MODIFY_DATE",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n ",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$LOAD_NO']"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$LP_STATUS']"
								},
								"sink": {
									"name": "LP_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['STATUS']"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CREATE_DATE']"
								},
								"sink": {
									"name": "CREATE_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['MODIFY_DATE']"
								},
								"sink": {
									"name": "MODIFY_DATE",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Int060_ESB_Load_Tally_Head",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Int060_Load_SAP_Tally",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Load_sap_tally_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT LP_STATUS, STATUS FROM sapsr3.ymppt_lp_hdr WHERE LOAD_NO  = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "Select LOAD_NO, VEHICLE_TYPE_NAME, IS_ONHOLD, IS_CANCELLED, VIRTUAL_VEHICLE_TYPE, WM_ROWID, WM_SENDTIME, ACTION from SCM_ADMIN.ESB_LOAD_TBL",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT060_ESB_LOAD_TBL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO",
					"value": {
						"value": "@activity('Lookup1').output.value[0].LOAD_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT COUNT(*) FROM sapsr3.ymppt_lp_batch_c WHERE LOAD_NO = '@{variables('LOAD_NO')}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script3",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'T' WHERE LOAD_NO = '@{variables('LOAD_NO')}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script4",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE SCM_ADMIN.LOAD_SAP_TALLY SET LP_STATUS = 'A' WHERE LOAD_NO = '@{variables('LOAD_NO')}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"LOAD_NO": {
				"type": "String"
			}
		},
		"annotations": []
	}
}