ADFResources/pipeline/NSH_INT107_ODOS_SOBT_DATA_PUB1.json
{
	"name": "NSH_INT107_ODOS_SOBT_DATA_PUB1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT (count(1) / 50) + 1 AS recordcount\r\nFROM dbo.SAP_ORDER_DATA sod\r\nJOIN WMBESMbny2gto wmb ON sod.TRACKNO = wmb.TRACK_NO\r\nWHERE wmb.STATUS = 'Q' \r\n  AND wmb.transfer_status != 'P';\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NSH_INT107_SAP_ORDER_DATA_2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Rowcount",
					"value": {
						"value": "@range(1, int(activity('Lookup1').output.value[0].recordcount))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n    sod.MANDT, sod.TRACKNO, sod.Z_ITEM_NO, sod.Creation_Date, sod.CREATED_BY, sod.ORDER_TYPE, sod.CONTRACT_NO, sod.PROJ_ID, sod.CUSTOMER_ID, sod.PO_NUM, sod.PO_Date, \r\n    sod.REQ_DELI_DATE, sod.OVER_DELIVERY_TOLERANCE, sod.UUNDER_DELIVERY_TOLERANCE, sod.ITEM_NO, sod.MATL_NO,\t\t\t\t\t\r\n    sod.ORD_QTY, sod.SALES_UOM, sod.NUMERATOR, sod.UOM_1, sod.DENOMINATOR, sod.UOM_2, sod.HG_ITEM_NO, sod.VALUATION_TYPE, sod.SO_NO, sod.BATCH_NO,\t\t\t\t\t\r\n    sod.SO_STATUS, sod.BT_STATUS, sod.BBS_NO, sod.BBS_DESC, sod.SHAPE_CODE, sod.Z_SHAPE_SURCHARG, sod.Z_PROD_DATE, sod.INVOICE_LENGTH, sod.NO_OF_BEND_PC, sod.NO_OF_CUT_PC, \r\n    sod.NO_ROLLING_PC, sod.Z_PIECES, sod.LOCATION, sod.REMARKS, sod.SITE_CONTACT_PERSON, sod.Z_CW_DIA, \t\t\t\t\t\r\n    sod.Z_CW_LEN, sod.Z_CW_OVR_HANG1, sod.Z_CW_OVR_HANG2, sod.Z_CW_SPA, sod.Z_ELEM_TYPE, sod.Z_MW_DIA, sod.Z_MW_LEN, sod.Z_MW_OVR_HANG1, sod.Z_MW_OVR_HANG2, sod.Z_MW_SPA,\r\n    sod.PROD_MARKG, sod.WBS1, sod.WBS2, sod.WBS3, sod.WBS4, sod.WBS5, sod.Z_MAC_NO, sod.Z_NO_OF_PNT, sod.Z_NO_OF_STR, sod.Z_TOTAL_BEND, sod.Z_TOTAL_CUT, sod.BAR_MARK, \r\n    sod.NO_MW_PC, sod.NO_CW_PC, sod.ACT_MW_LEN, sod.SLOPE, sod.PIN_DIAMETER, sod.SEG_A, sod.SEG_B, \t\t\t\t\t\r\n    sod.SEG_C, sod.SEG_D, sod.SEG_E, sod.SEG_F, sod.SEG_G, sod.SEG_H, sod.SEG_I, sod.SEG_J, sod.SEG_K, sod.SEG_L, sod.SEG_M, sod.SEG_N,sod.SEG_O, sod.SEG_R, sod.SEG_S, \t\t\t\t\t\r\n    sod.SEG_T, sod.HT_H, sod.AN_P, sod.AN_Q, sod.AN_R, sod.AN_S, sod.AN_T, sod.AN_U, sod.AN_V, sod.AN_W, sod.HT_B, sod.HT_C, sod.HT_D, sod.LEG, sod.HOOK, sod.MW_TYPE, sod.CW_TYPE, \r\n    sod.T_THEO_KG, sod.T_NET_KG, sod.T_BOM, sod.T_MWOH1, sod.T_MWSP, sod.T_MWPC, sod.T_CWPC, sod.T_CWSP, sod.T_MHOH2, sod.T_CWOH1,sod.T_CWOH2, sod.T_REVERSE, sod.T_COMBINE, sod.T_FORCE, \r\n    sod.T_PTCM01, sod.T_PTCM02, sod.T_PTCM03, sod.T_PTCM04, sod.T_PTCM05, sod.T_PTCM06, sod.T_PTCM07, sod.T_PTCM08, sod.T_PTCM09, sod.T_PTCM10, sod.T_PTCC01, sod.T_PTCC02, \r\n    sod.T_PTCC03, sod.T_PTCC04, sod.T_PTCC05, sod.T_PTCC06, sod.T_PTCC07, sod.T_PTCC08, sod.T_PTCC09, sod.T_PTCC10, sod.T_DEL_DIR, sod.T_DEL_DIS, sod.T_DEL_TIME, \r\n    sod.T_CAB_PROD_LEN, sod.T_CUT_TIME, sod.T_BEND_TIME, sod.T_STK_TIME\r\nFROM \r\n    dbo.SAP_ORDER_DATA sod\r\nJOIN \r\n    WMBESMbny2gto wmb\r\nON \r\n    sod.TRACKNO = wmb.TRACK_NO\r\nWHERE \r\n    wmb.STATUS='Q' and wmb.transfer_status!='P'\r\n\t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NSH_INT107_SAP_ORDER_DATA_2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup2').output.value), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT top 1\n    sod.MANDT, sod.TRACKNO, sod.Z_ITEM_NO, sod.Creation_Date, sod.CREATED_BY, sod.ORDER_TYPE, sod.CONTRACT_NO, sod.PROJ_ID, sod.CUSTOMER_ID, sod.PO_NUM, sod.PO_Date, \n    sod.REQ_DELI_DATE, sod.OVER_DELIVERY_TOLERANCE, sod.UUNDER_DELIVERY_TOLERANCE, sod.ITEM_NO, sod.MATL_NO,\t\t\t\t\t\n    sod.ORD_QTY, sod.SALES_UOM, sod.NUMERATOR, sod.UOM_1, sod.DENOMINATOR, sod.UOM_2, sod.HG_ITEM_NO, sod.VALUATION_TYPE, sod.SO_NO, sod.BATCH_NO,\t\t\t\t\t\n    sod.SO_STATUS, sod.BT_STATUS, sod.BBS_NO, sod.BBS_DESC, sod.SHAPE_CODE, sod.Z_SHAPE_SURCHARG, sod.Z_PROD_DATE, sod.INVOICE_LENGTH, sod.NO_OF_BEND_PC, sod.NO_OF_CUT_PC, \n    sod.NO_ROLLING_PC, sod.Z_PIECES, sod.LOCATION, sod.REMARKS, sod.SITE_CONTACT_PERSON, sod.Z_CW_DIA, \t\t\t\t\t\n    sod.Z_CW_LEN, sod.Z_CW_OVR_HANG1, sod.Z_CW_OVR_HANG2, sod.Z_CW_SPA, sod.Z_ELEM_TYPE, sod.Z_MW_DIA, sod.Z_MW_LEN, sod.Z_MW_OVR_HANG1, sod.Z_MW_OVR_HANG2, sod.Z_MW_SPA,\n    sod.PROD_MARKG, sod.WBS1, sod.WBS2, sod.WBS3, sod.WBS4, sod.WBS5, sod.Z_MAC_NO, sod.Z_NO_OF_PNT, sod.Z_NO_OF_STR, sod.Z_TOTAL_BEND, sod.Z_TOTAL_CUT, sod.BAR_MARK, \n    sod.NO_MW_PC, sod.NO_CW_PC, sod.ACT_MW_LEN, sod.SLOPE, sod.PIN_DIAMETER, sod.SEG_A, sod.SEG_B, \t\t\t\t\t\n    sod.SEG_C, sod.SEG_D, sod.SEG_E, sod.SEG_F, sod.SEG_G, sod.SEG_H, sod.SEG_I, sod.SEG_J, sod.SEG_K, sod.SEG_L, sod.SEG_M, sod.SEG_N,sod.SEG_O, sod.SEG_R, sod.SEG_S, \t\t\t\t\t\n    sod.SEG_T, sod.HT_H, sod.AN_P, sod.AN_Q, sod.AN_R, sod.AN_S, sod.AN_T, sod.AN_U, sod.AN_V, sod.AN_W, sod.HT_B, sod.HT_C, sod.HT_D, sod.LEG, sod.HOOK, sod.MW_TYPE, sod.CW_TYPE, \n    sod.T_THEO_KG, sod.T_NET_KG, sod.T_BOM, sod.T_MWOH1, sod.T_MWSP, sod.T_MWPC, sod.T_CWPC, sod.T_CWSP, sod.T_MHOH2, sod.T_CWOH1,sod.T_CWOH2, sod.T_REVERSE, sod.T_COMBINE, sod.T_FORCE, \n    sod.T_PTCM01, sod.T_PTCM02, sod.T_PTCM03, sod.T_PTCM04, sod.T_PTCM05, sod.T_PTCM06, sod.T_PTCM07, sod.T_PTCM08, sod.T_PTCM09, sod.T_PTCM10, sod.T_PTCC01, sod.T_PTCC02, \n    sod.T_PTCC03, sod.T_PTCC04, sod.T_PTCC05, sod.T_PTCC06, sod.T_PTCC07, sod.T_PTCC08, sod.T_PTCC09, sod.T_PTCC10, sod.T_DEL_DIR, sod.T_DEL_DIS, sod.T_DEL_TIME, \n    sod.T_CAB_PROD_LEN, sod.T_CUT_TIME, sod.T_BEND_TIME, sod.T_STK_TIME\nFROM \n    dbo.SAP_ORDER_DATA sod\nJOIN \n    WMBESMbny2gto wmb\nON \n    sod.TRACKNO = wmb.TRACK_NO\nWHERE \n    wmb.STATUS='Q' and wmb.transfer_status!='P'\n\t",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "MANDT",
												"type": "String"
											},
											"sink": {
												"path": "$MANDT"
											}
										},
										{
											"source": {
												"name": "TRACKNO",
												"type": "String"
											},
											"sink": {
												"path": "$TRACKNO"
											}
										},
										{
											"source": {
												"name": "Creation_Date",
												"type": "String"
											},
											"sink": {
												"path": "$CRDATE"
											}
										},
										{
											"source": {
												"name": "CREATED_BY",
												"type": "String"
											},
											"sink": {
												"path": "$CREATED_BY"
											}
										},
										{
											"source": {
												"name": "PO_NUM",
												"type": "String"
											},
											"sink": {
												"path": "$ZPOSNR"
											}
										},
										{
											"source": {
												"name": "MATL_NO",
												"type": "String"
											},
											"sink": {
												"path": "$MATNR"
											}
										},
										{
											"source": {
												"name": "SO_STATUS",
												"type": "String"
											},
											"sink": {
												"path": "$SOSTATUS"
											}
										},
										{
											"source": {
												"name": "BT_STATUS",
												"type": "String"
											},
											"sink": {
												"path": "$BTSTATUS"
											}
										},
										{
											"source": {
												"name": "BBS_NO",
												"type": "String"
											},
											"sink": {
												"path": "$Z_BBSNO"
											}
										},
										{
											"source": {
												"name": "BBS_DESC",
												"type": "String"
											},
											"sink": {
												"path": "$Z_BBS_DEC"
											}
										},
										{
											"source": {
												"name": "Z_SHAPE_SURCHARG",
												"type": "String"
											},
											"sink": {
												"path": "$Z_SHAPE_CODE"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "NSH_INT107_SAP_ORDER_DATA_2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "NSH_INT107_SAP_ORDER_DATA_MESSAGES",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script2",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE dbo.ESM_SAP_TRACK SET ESB_STATUS = 'E' and STATUS_DATE = getdate() where TRACK_NO = {pipeline().parameters.TRACKNO} and STATUS = 'Q'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Rowcount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT107_SAPY_SOBT_DATA_SUB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Rowcount": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}