ADFResources/pipeline/NSH_INT075_RUNNO.json
{
	"name": "NSH_INT075_RUNNO",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT top 10 B.RUN_NO,\t\t\t\t\t\r\n\t        A.GROUP_TAG_ID,\t\t\t\t\t\r\n\t        COUNT(2) CNT\t\t\t\t\t\r\n\t      FROM [tbl_scm_sts_cab_print_tag] a\t\t\t\t\t\r\n\t      INNER JOIN [DBO].[tbl_scm_sts_cab_bender_download] b\t\t\t\t\t\r\n\t      ON a.run_no = b.run_no\t\t\t\t\t\r\n\t      AND a.tag_no = b.tag_no\t\t\t\t\t\r\n\t      WHERE a.run_no = 'H205015D0000'\t\t\t\t\r\n\t      AND isnull(a.GROUP_TAG_ID,'') <> ''\t\t\t\t\t\r\n\t      AND group_tag_id LIKE 'C%'\t\t\t\t\t\r\n\t      GROUP BY B.RUN_NO,\t\t\t\t\t\r\n\t        A.GROUP_TAG_ID\t\t\t\t\t\r\n\t       HAVING COUNT(GROUP_TAG_ID) > 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable10",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_no",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Run_no')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "run_no_arr",
								"value": [
									"@variables('Runn_no')"
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"run_no": {
				"type": "Array"
			},
			"Run_No": {
				"type": "Array"
			},
			"run_no_arr": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}