ADFResources/pipeline/NSH_INT075_RUNNO.json
{
	"name": "NSH_INT075_RUNNO",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select distinct run_no from dbo.tbl_scm_sts_cab_bender_download where REC_TYPE = 'Y'\t\t\t\t\t\t\t",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable11",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_no_arr",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('run_no_arr')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "run_no",
								"value": {
									"value": "@item().run_no",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select count(*) from scm_admin.cab_bender_download where run_no='@{variables('run_no')}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "SCM_IDB_DB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('Lookup2').output.value), 0)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "CutFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT DISTINCT fld_r_run_no as Run_No\r\n    ,fld_r_dia_ref  as Dia\r\n    ,fld_r_prod_type_ref as ProdType\r\nFROM (\r\n    SELECT fld_r_run_no\r\n        ,fld_r_prod_type_ref = CASE\r\n            WHEN fld_r_prod_type_ref = 'H'\r\n                THEN 'H'\r\n            WHEN fld_r_prod_type_ref = 'T'\r\n                THEN 'H'\r\n            ELSE fld_r_prod_type_ref\r\n            END\r\n        ,fld_r_start_stock_len\r\n        ,fld_r_dia_ref\r\n        ,cast(fld_l_comb_no AS INT) AS fld_l_comb_no\r\n        ,fld_d_cutting_seq_no\r\n        ,fld_l_qty_of_segment\r\n        ,fld_l_stock_bars_len\r\n        ,convert(NUMERIC(18, 0), isnull(fld_d_no_of_cuts, 0)) AS fld_d_no_of_cuts\r\n        ,fld_d_section_no\r\n        ,fld_d_bin_number = CASE\r\n            WHEN (\r\n                    fld_d_bin_number = 'NULL'\r\n                    OR isnull(fld_d_bin_number, ' ') = ' '\r\n                    )\r\n                THEN ' '\r\n            ELSE fld_d_bin_number\r\n            END\r\n        ,fld_d_cut_length\r\n        ,fld_d_tag_ref_info\r\n        ,isnull(fld_d_straight_bend_flag, ' ') AS fld_d_straight_bend_flag\r\n        ,isnull(fld_d_tag_no, '0') AS fld_d_tag_no\r\n        ,fld_rec_type\r\n        ,fld_d_bbs_bar_mark_info = CASE\r\n            WHEN (\r\n                    fld_d_offcut_ind = 'Y'\r\n                    AND (\r\n                        fld_d_bin_number <> 'NULL'\r\n                        AND isnull(fld_d_bin_number, ' ') <> ' '\r\n                        )\r\n                    )\r\n                THEN 'OFFCUT'\r\n            ELSE fld_d_bbs_bar_mark_info\r\n            END\r\n        ,isnull(fld_d_flag_info, ' ') AS fld_d_flag_info\r\n    FROM sts.dbo.tbl_scm_sts_rms_cab_shear\r\n    WHERE isnull(fld_r_run_no, '') <> ''\r\n        AND fld_d_no_of_cuts > 0\r\n    ) AS A\r\nWHERE A.fld_d_bbs_bar_mark_info <> ''\r\n    AND fld_rec_type <> 'S'\r\nORDER BY fld_r_run_no\r\n    ,fld_r_dia_ref",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "STS_RMS_CAB_SHEAR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run_No_Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CutFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Run_No_Arr",
					"value": {
						"value": "@activity('CutFiles').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Run_No_Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Run_No_Arr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Run_No",
								"value": {
									"value": "@item().Run_No",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IDBRunCnt",
								"value": {
									"value": "@activity('Lookup3').output.value[0].countIDB",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable5",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "STSRunCnt",
								"value": {
									"value": "@activity('Lookup4').output.value[0].countSTS",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup3",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": "select r_run_no, count(1) as countIDB from scm_admin.cab_rms_shearline_download where r_run_no in ('@{variables('Run_No')}') group by r_run_no",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "SCM_IDB_DB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup4",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select fld_r_run_no,count(1) as countSTS from [dbo].[tbl_scm_sts_rms_cab_shear] where fld_r_run_no in ('@{variables('Run_No')}') group by fld_r_run_no",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "NSQADB2",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"run_no": {
				"type": "Array"
			},
			"run_no_arr": {
				"type": "String"
			},
			"Run_No_Arr": {
				"type": "Array"
			},
			"Run_No": {
				"type": "String"
			},
			"IDBRunCnt": {
				"type": "String"
			},
			"STSRunCnt": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}