ADFResources/pipeline/NSH_INT108_SAPY_BTOrderStatus_Pub.json
{
	"name": "NSH_INT108_SAPY_BTOrderStatus_Pub",
	"properties": {
		"activities": [
			{
				"name": "CopyData_FromSourceToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopyData_FromStagingToQueue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "ESBSTATUS",
								"value": "S"
							},
							{
								"name": "ESBDATE",
								"value": {
									"value": "@variables('CurrentTime')",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "SELECT TRACKNO,  POSNR, VBELN, CHARG, SOSTATUS, BTSTATUS From SAPSR3.ZSD_SOBTDATA \nWHERE (TRACKNO, POSNR) IN\n(\n\tSELECT TRACKNO, POSNR FROM SAPSR3.ZSD_SOBTDATA WHERE BTSTATUS='C' AND \n\t\tCRDATE > (\n\t\t\tselect TO_CHAR(SYSDATE-30, 'YYYYMMDD') FROM dual\n\t\t\t\t)\nMinus \nSELECT TRACKNO, POSNR FROM SAPSR3.YESB_SOBTDATA)  AND ROWNUM <='1000'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 200
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TRACKNO",
									"type": "String"
								},
								"sink": {
									"name": "TRACKNO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "POSNR",
									"type": "String"
								},
								"sink": {
									"name": "POSNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "ESBSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBDATE",
									"type": "String"
								},
								"sink": {
									"name": "ESBDATE",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "YESB_SOBTDATA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyData_FromStagingToQueue",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT TRACKNO,  POSNR, VBELN, CHARG, SOSTATUS, BTSTATUS From SAPSR3.ZSD_SOBTDATA \r\nWHERE (TRACKNO, POSNR) IN\r\n(\r\n\tSELECT TRACKNO, POSNR FROM SAPSR3.ZSD_SOBTDATA WHERE BTSTATUS='C' AND \r\n\t\tCRDATE > (\r\n\t\t\tselect TO_CHAR(SYSDATE-30, 'YYYYMMDD') FROM dual\r\n\t\t\t\t)\r\nMinus \r\nSELECT TRACKNO, POSNR FROM SAPSR3.YESB_SOBTDATA)  AND ROWNUM <='1000'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TRACKNO",
									"type": "String"
								},
								"sink": {
									"path": "$TRACKNO"
								}
							},
							{
								"source": {
									"name": "POSNR",
									"type": "String"
								},
								"sink": {
									"path": "$POSNR"
								}
							},
							{
								"source": {
									"name": "VBELN",
									"type": "String"
								},
								"sink": {
									"path": "$VBELN"
								}
							},
							{
								"source": {
									"name": "CHARG",
									"type": "String"
								},
								"sink": {
									"path": "$CHARG"
								}
							},
							{
								"source": {
									"name": "SOSTATUS",
									"type": "String"
								},
								"sink": {
									"path": "$SOSTATUS"
								}
							},
							{
								"source": {
									"name": "BTSTATUS",
									"type": "String"
								},
								"sink": {
									"path": "BTSTATUS"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "YESB_SOBTDATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "orderbt_status",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CopyData_FromSourceToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NSH_INT108_ODOS_BTOrderStatus_Sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update SAPSR3.YESB_SOBTDATA Set ESBSTATUS = 'E' where ESBDATE='@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CopyData_FromSourceToStaging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update SAPSR3.YESB_SOBTDATA Set ESBSTATUS = 'E' where ESBDATE='@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String",
				"defaultValue": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'))"
			}
		},
		"annotations": []
	}
}