ADFResources/pipeline/NSH_INT011_SAPY_ContractMaster_Pub.json
{
	"name": "NSH_INT011_SAPY_ContractMaster_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyDataFrom_SAPToQueue_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT sapsr3.INT011_Interface() AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT011_YMSDT_CONTRACT_M",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Funtion_YorN_condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteDataFrom_Queue",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int011_contract_master/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "NSH_INT011_SAPY_ContractMaster_Sub",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT011_ODOS_ContractMaster_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "CopyDataFrom_SAPToQueue_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "vchDescription",
								"value": ""
							},
							{
								"name": "PROC_TS",
								"value": ""
							},
							{
								"name": "ERROR_CD",
								"value": ""
							},
							{
								"name": "STATUS",
								"value": "A"
							}
						],
						"oracleReaderQuery": {
							"value": "select MANDT, CONTR_NO,\tMARKET_SEGMENT,\tCUST_ID, NAME, NAME1, START_DATE, END_DATE, CAB_FORMER_TYPE, SEG_MANAGER, ACC_MANAGER, INTER_ID,  REC_TYPE, YWIREROD_IND, YREBAR_IND,YCAB_IND, YMESH_IND, YPRECAGE, YBPC_IND, YPCSTRAND, YCOLD_ROLL_WIRE, YPRE_CUT_WIRE,YCARPET_IND,YPRCMSH_IND from sapsr3.YMSDT_CONTRACT_M where MANDT =@{pipeline().parameters.MANDT}\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nminus \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\nselect MANDT, CONTR_NO, MARKET_SEGMENT,\tCUST_ID, NAME, NAME1, START_DATE, END_DATE,  CAB_FORMER_TYPE, SEG_MANAGER, ACC_MANAGER, INTER_ID,  REC_TYPE, YWIREROD_IND, YREBAR_IND, YCAB_IND, YMESH_IND, YPRECAGE, YBPC_IND, YPCSTRAND, YCOLD_ROLL_WIRE, YPRE_CUT_WIRE,YCARPET_IND,YPRCMSH_IND from sapsr3.YESB_CONTRACT_M where MANDT =@{pipeline().parameters.MANDT}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": "100",
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"path": "$MANDT"
								}
							},
							{
								"source": {
									"name": "CONTR_NO",
									"type": "String"
								},
								"sink": {
									"path": "$vchContractCode"
								}
							},
							{
								"source": {
									"name": "MARKET_SEGMENT",
									"type": "String"
								},
								"sink": {
									"path": "$MARKET_SEG"
								}
							},
							{
								"source": {
									"name": "CUST_ID",
									"type": "String"
								},
								"sink": {
									"path": "$CUST_ID"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String"
								},
								"sink": {
									"path": "$NAME1_GP"
								}
							},
							{
								"source": {
									"name": "NAME1",
									"type": "String"
								},
								"sink": {
									"path": "$NAME2_GP"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$START_DATE"
								}
							},
							{
								"source": {
									"name": "END_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$END_DATE"
								}
							},
							{
								"source": {
									"name": "CAB_FORMER_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$CAB_FORMER_TYPE"
								}
							},
							{
								"source": {
									"name": "SEG_MANAGER",
									"type": "String"
								},
								"sink": {
									"path": "$SEG_MANAGER"
								}
							},
							{
								"source": {
									"name": "ACC_MANAGER",
									"type": "String"
								},
								"sink": {
									"path": "$ACC_MANAGER"
								}
							},
							{
								"source": {
									"name": "INTER_ID",
									"type": "String"
								},
								"sink": {
									"path": "$INTERFACE_ID"
								}
							},
							{
								"source": {
									"name": "REC_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$REC_TYPE"
								}
							},
							{
								"source": {
									"name": "YWIREROD_IND",
									"type": "String"
								},
								"sink": {
									"path": "$chrWireRodInd"
								}
							},
							{
								"source": {
									"name": "YREBAR_IND",
									"type": "String"
								},
								"sink": {
									"path": "$chrRebarInd"
								}
							},
							{
								"source": {
									"name": "YCAB_IND",
									"type": "String"
								},
								"sink": {
									"path": "$chrCABInd"
								}
							},
							{
								"source": {
									"name": "YMESH_IND",
									"type": "String"
								},
								"sink": {
									"path": "$chrMeshInd"
								}
							},
							{
								"source": {
									"name": "YPRECAGE",
									"type": "String"
								},
								"sink": {
									"path": "$chrPrecage"
								}
							},
							{
								"source": {
									"name": "YBPC_IND",
									"type": "String"
								},
								"sink": {
									"path": "$chrBPCInd"
								}
							},
							{
								"source": {
									"name": "YPCSTRAND",
									"type": "String"
								},
								"sink": {
									"path": "$chrPCSTrand"
								}
							},
							{
								"source": {
									"name": "YCOLD_ROLL_WIRE",
									"type": "String"
								},
								"sink": {
									"path": "$chrColdRollWire"
								}
							},
							{
								"source": {
									"name": "YPRE_CUT_WIRE",
									"type": "String"
								},
								"sink": {
									"path": "$chrPreCutWire"
								}
							},
							{
								"source": {
									"name": "vchDescription"
								},
								"sink": {
									"path": "$['$vchDescription']"
								}
							},
							{
								"source": {
									"name": "PROC_TS",
									"type": "String"
								},
								"sink": {
									"path": "$['$PROC_TS']"
								}
							},
							{
								"source": {
									"name": "ERROR_CD",
									"type": "String"
								},
								"sink": {
									"path": "$['$ERROR_CD']"
								}
							},
							{
								"source": {
									"name": "STATUS"
								},
								"sink": {
									"path": "$['$STATUS']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT011_YESB_CONTRACT_M",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT011_CONTRACT_MASTER",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"MANDT": {
				"type": "String",
				"defaultValue": "110"
			}
		},
		"annotations": []
	}
}