ADFResources/pipeline/NSH_INT065_IDB_CAB_RMS_SHEARLINE.json
{
	"name": "NSH_INT065_IDB_CAB_RMS_SHEARLINE",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"path": "$"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "cab_rms_shearline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "int065_cab_rms_shearline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_USP_INT065",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT064') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "cab_rms_shearline",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"description": "@equals(activity('Lookup_USP_INT064').output.firstRow.RESULT, 'Y')",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT065",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT065').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int065_cab_rms_shearline/messages/head"
							}
						},
						{
							"name": "Wait3",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT064_STS_tbl_scm_sts_cab_bender_download",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"esbUpdateTime": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			},
			{
				"name": "Web1_copy1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT065",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int065_cab_rms_shearline/messages/head"
				}
			}
		],
		"annotations": []
	}
}