ADFResources/pipeline/NSH_INT064_IDB_CabBenderDownload_Pub.json
{
	"name": "NSH_INT064_IDB_CabBenderDownload_Pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n    SELECT tag_no\n    FROM (\n        SELECT tag_no\n        FROM scm_admin.cab_bender_download\n        MINUS\n        SELECT tag_no\n        FROM scm_admin.esb_cab_bender_download\n    )\n    WHERE ROWNUM <= ${batchSize}\n)\nSELECT\n    NVL(FLD_SBOM_MSG_ID, ' ') AS FLD_SBOM_MSG_ID,\n    NVL(FLD_SBOM_PROD_ORD_NO, ' ') AS FLD_SBOM_PROD_ORD_NO,\n    NVL(FLD_SBOM_SAL_ORD_NO, ' ') AS FLD_SBOM_SAL_ORD_NO,\n    NVL(FLD_SBOM_SAL_ITEM_NO, ' ') AS FLD_SBOM_SAL_ITEM_NO,\n    NVL(FLD_SBOM_ORD_ITEM_NO, ' ') AS FLD_SBOM_ORD_ITEM_NO,\n    NVL(FLD_SBOM_MATL_NO, ' ') AS FLD_SBOM_MATL_NO,\n    NVL(FLD_SBOM_BOM_ITEM_NO, ' ') AS FLD_SBOM_BOM_ITEM_NO,\n    NVL(FLD_SBOM_COMP_MATL_NO, ' ') AS FLD_SBOM_COMP_MATL_NO,\n    NVL(FLD_SBOM_COMP_QTY, 0) AS FLD_SBOM_COMP_QTY,\n    NVL(FLD_SBOM_COMP_UOM, ' ') AS FLD_SBOM_COMP_UOM,\n    NVL(FLD_SBOM_BASE_QTY, 0) AS FLD_SBOM_BASE_QTY,\n    NVL(FLD_SBOM_Q_CREATE_DATE, ' ') AS FLD_SBOM_Q_CREATE_DATE,\n    NVL(FLD_SBOM_Q_MODIFY_DATE, ' ') AS FLD_SBOM_Q_MODIFY_DATE,\n    NVL(FLD_SBOM_Q_PRODN_ORD_NO, ' ') AS FLD_SBOM_Q_PRODN_ORD_NO\nFROM\n    scm_admin.cab_bom\nWHERE\n    FLD_SBOM_SAL_ORD_NO IN ('${FLD_SBOM_SAL_ORD_NO}')\n    AND FLD_SBOM_SAL_ITEM_NO IN ('${FLD_SBOM_SAL_ITEM_NO}')\n    AND FLD_SBOM_ORD_ITEM_NO IN ('${FLD_SBOM_ORD_ITEM_NO}')\n    AND FLD_SBOM_BOM_ITEM_NO IN ('${FLD_SBOM_BOM_ITEM_NO}');\n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Cab_bender_download",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Int064_Cab_bender",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_USP_INT064",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT064') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Cab_bender_download",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"description": "@equals(activity('Lookup_USP_INT064').output.firstRow.RESULT, 'Y')",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT064",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT064').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int_064_cab_bender_download/messages/head"
							}
						},
						{
							"name": "Wait3",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT064_STS_tbl_scm_sts_cab_bender_download_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"esbUpdateTime": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int_064_cab_bender_download/messages/head"
				}
			},
			{
				"name": "Wait2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT064",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			}
		],
		"annotations": []
	}
}