ADFResources/pipeline/NSH_INT051_IDB_BPC_PRINT_TAG_PUB.json
{
	"name": "pipeline8",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n    SELECT \n        tag_no \n    FROM (\n        SELECT   \n            tag_no  \n        FROM scm_admin.view_bpc_print_tag \n        MINUS\n        SELECT   \n            tag_no  \n        FROM scm_admin.esb_bpc_print_tag\n    )\n    WHERE rownum <= '1000'\n)\nSELECT\n    NVL(TRIM(MODIFY_DATE), ' ') AS MODIFY_DATE,\n    NVL(TRIM(CREATE_DATE), ' ') AS CREATE_DATE,\n    NVL(TRIM(SO_ITEM_NO), ' ') AS SO_ITEM_NO,\n    NVL(TRIM(BBS_NO), ' ') AS BBS_NO,\n    NVL(TRIM(PLANNEDDATEANDSHIFT), ' ') AS PLANNEDDATEANDSHIFT,\n    NVL(TRIM(DRAWING_NO), ' ') AS DRAWING_NO,\n    NVL(TRIM(DRAWING_REVISION), ' ') AS DRAWING_REVISION,\n    NVL(TRIM(DELIVERY_DATE), ' ') AS DELIVERY_DATE,\n    NVL(SUBSTR(TRIM(CAGE_NAME), 0, 11), ' ') AS CAGE_NAME,\n    NVL(TRIM(SO_NO), ' ') AS SO_NO,\n    NVL(TRIM(FSQ.TAG_NO), ' ') AS TAG_NO,\n    NVL(TRIM(WORK_CENTER), ' ') AS WORK_CENTER,\n    NVL(TRIM(TEMPLATE), ' ') AS TEMPLATE,\n    NVL(TRIM(PROJ_NAME), ' ') AS PROJ_NAME,\n    NVL(TRIM(CUST_NAME), ' ') AS CUST_NAME,\n    NVL(TRIM(PILE_SEQ_NO), ' ') AS PILE_SEQ_NO,\n    NVL(TRIM(PRODN_MARKING_REV_NO), ' ') AS PRODN_MARKING_REV_NO,\n    NVL(TRIM(RUNNING_CNTR), ' ') AS RUNNING_CNTR,\n    NVL(PRODN_SEQ, 0) AS PRODN_SEQ,\n    NVL(TRIM(PRODN_MARKING), ' ') AS PRODN_MARKING,\n    NVL(TRIM(FLD_PSCH_REC_TYPE_OBSOLETE), ' ') AS FLD_PSCH_REC_TYPE_OBSOLETE,\n    NVL(TRIM(Q_PO_NO), ' ') AS Q_PO_NO,\n    NVL(TRIM(RELEASE_CODE), ' ') AS RELEASE_CODE,\n    NVL(TRIM(LOAD_NO), ' ') AS LOAD_NO,\n    NVL(REC_ID, 0) AS REC_ID,\n    NVL(URGENT_ORDER_IND, ' ') AS URGENT_ORDER_IND,\n    NVL(CONQUAS_IND, ' ') AS CONQUAS_IND\nFROM \n    scm_admin.view_bpc_print_tag FSQ\nJOIN \n    FirstQuery FQ ON FSQ.TAG_NO = FQ.TAG_NO",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CAGE_NAME",
									"type": "String"
								},
								"sink": {
									"path": "$CAGE_NAME"
								}
							},
							{
								"source": {
									"name": "CUST_NAME",
									"type": "String"
								},
								"sink": {
									"path": "$CUST_NAME"
								}
							},
							{
								"source": {
									"name": "PROJ_NAME",
									"type": "String"
								},
								"sink": {
									"path": "$PROJ_NAME"
								}
							},
							{
								"source": {
									"name": "SO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$SO_NO"
								}
							},
							{
								"source": {
									"name": "SO_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$SO_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "PRODN_MARKING",
									"type": "String"
								},
								"sink": {
									"path": "$PRODN_MARKING"
								}
							},
							{
								"source": {
									"name": "PRODN_MARKING_REV_NO",
									"type": "String"
								},
								"sink": {
									"path": "$PRODN_MARKING_REV_NO"
								}
							},
							{
								"source": {
									"name": "DRAWING_NO",
									"type": "String"
								},
								"sink": {
									"path": "$DRAWING_NO"
								}
							},
							{
								"source": {
									"name": "DRAWING_REVISION",
									"type": "String"
								},
								"sink": {
									"path": "$DRAWING_REVISION"
								}
							},
							{
								"source": {
									"name": "PILE_SEQ_NO",
									"type": "String"
								},
								"sink": {
									"path": "$PILE_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "BBS_NO",
									"type": "String"
								},
								"sink": {
									"path": "$BBS_NO"
								}
							},
							{
								"source": {
									"name": "RUNNING_CNTR",
									"type": "String"
								},
								"sink": {
									"path": "$RUNNING_CNTR"
								}
							},
							{
								"source": {
									"name": "WORK_CENTER",
									"type": "String"
								},
								"sink": {
									"path": "$WORK_CENTER"
								}
							},
							{
								"source": {
									"name": "TEMPLATE",
									"type": "String"
								},
								"sink": {
									"path": "$TEMPLATE"
								}
							},
							{
								"source": {
									"name": "PRODN_SEQ",
									"type": "Double"
								},
								"sink": {
									"path": "$PRODN_SEQ"
								}
							},
							{
								"source": {
									"name": "PLANNEDDATEANDSHIFT",
									"type": "String"
								},
								"sink": {
									"path": "$PLANNEDDATEANDSHIFT"
								}
							},
							{
								"source": {
									"name": "DELIVERY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$DELIVERY_DATE"
								}
							},
							{
								"source": {
									"name": "Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$Q_PO_NO"
								}
							},
							{
								"source": {
									"name": "TAG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$TAG_NO"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "MODIFY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$MODIFY_DATE"
								}
							},
							{
								"source": {
									"name": "RELEASE_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$RELEASE_CODE"
								}
							},
							{
								"source": {
									"name": "LOAD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$LOAD_NO"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "BPC_PRINT_TAG",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "RestResource4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT051",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT051').output.firstRow.RESULT,\n'Y'\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int051_bpc_print_tag/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup_USP_INT051",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT051') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "BPC_PRINT_TAG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int051_bpc_print_tag/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			},
			{
				"name": "Wait2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT051",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			}
		],
		"annotations": []
	}
}