ADFResources/pipeline/NSH_INT003_STS_OrderAttribute_Sub1.json
{
	"name": "NSH_INT003_STS_OrderAttribute_Sub1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FLD_SOR_NO",
					"value": {
						"value": "@activity('Lookup1').output.value[0].FLD_TRK_SOR_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TOP 1 t1.FLD_TRK_SOR_NO \r\nFROM TBL_DSS_STS_DNS_VAR_TRK t1\r\nJOIN WMBbjpwo1y t2 ON t1.FLD_TRK_SOR_NO = t2.FLD_TRK_SOR_NO\r\nWHERE t1.FLD_TRK_STATUS = 'Y' \r\n  AND t2.FLD_TRK_STATUS = 'Y' \r\n  AND (t2.status != 'P' OR t2.status IS NULL);\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_DSS_STS_DNS_VAR_TRK",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup12').output.value), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait 60 sec",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Script4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						},
						{
							"name": "Script3",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy_Data_From_QueueTo_STS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update WMBbjpwo1y set status='P' where TRACK_NO='@{variables('FLD_SOR_NO')}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Copy_Data_From_QueueTo_STS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBatchSize": 100,
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$FLD_VATTR_MANDT"
											},
											"sink": {
												"name": "FLD_VATTR_MANDT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ID"
											},
											"sink": {
												"name": "FLD_VATTR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SOR_NO"
											},
											"sink": {
												"name": "FLD_VATTR_SOR_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SAL_ORD_NO"
											},
											"sink": {
												"name": "FLD_VATTR_SAL_ORD_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ITEM_NO"
											},
											"sink": {
												"name": "FLD_VATTR_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CLBD_ITEM"
											},
											"sink": {
												"name": "FLD_VATTR_CLBD_ITEM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_REF_SOR_NO"
											},
											"sink": {
												"name": "FLD_VATTR_REF_SOR_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_REF_ITEM_NO"
											},
											"sink": {
												"name": "FLD_VATTR_REF_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ACT_WT_ORDER"
											},
											"sink": {
												"name": "FLD_VATTR_ACT_WT_ORDER",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ACT_WT_PER_PC"
											},
											"sink": {
												"name": "FLD_VATTR_ACT_WT_PER_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_AREA_PER_PC"
											},
											"sink": {
												"name": "FLD_VATTR_AREA_PER_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ASSM_IND"
											},
											"sink": {
												"name": "FLD_VATTR_ASSM_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_BASE_TO_SALES_UOM"
											},
											"sink": {
												"name": "FLD_VATTR_BASE_TO_SALES_UOM",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_BBSNO"
											},
											"sink": {
												"name": "FLD_VATTR_BBSNO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_BBS_DESC"
											},
											"sink": {
												"name": "FLD_VATTR_BBS_DESC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_BEND_IND"
											},
											"sink": {
												"name": "FLD_VATTR_BEND_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_BOM_IND"
											},
											"sink": {
												"name": "FLD_VATTR_BOM_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COMPLEXITY"
											},
											"sink": {
												"name": "FLD_VATTR_COMPLEXITY",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_DIA_1"
											},
											"sink": {
												"name": "FLD_VATTR_COU_DIA_1",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_DIA_2"
											},
											"sink": {
												"name": "FLD_VATTR_COU_DIA_2",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_GRA"
											},
											"sink": {
												"name": "FLD_VATTR_COU_GRA",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_SYSTEM"
											},
											"sink": {
												"name": "FLD_VATTR_COU_SYSTEM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_TYPE_1"
											},
											"sink": {
												"name": "FLD_VATTR_COU_TYPE_1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COU_TYPE_2"
											},
											"sink": {
												"name": "FLD_VATTR_COU_TYPE_2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_COUNT"
											},
											"sink": {
												"name": "FLD_VATTR_COUNT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CSB_IND"
											},
											"sink": {
												"name": "FLD_VATTR_CSB_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_COUNT"
											},
											"sink": {
												"name": "FLD_VATTR_CW_COUNT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_DIA"
											},
											"sink": {
												"name": "FLD_VATTR_CW_DIA",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_INV_LEN"
											},
											"sink": {
												"name": "FLD_VATTR_CW_INV_LEN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_INV_OVR_HANG1"
											},
											"sink": {
												"name": "FLD_VATTR_CW_INV_OVR_HANG1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_INV_OVR_HANG2"
											},
											"sink": {
												"name": "FLD_VATTR_CW_INV_OVR_HANG2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_PRD_LEN"
											},
											"sink": {
												"name": "FLD_VATTR_CW_PRD_LEN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_PRD_OVR_HANG1"
											},
											"sink": {
												"name": "FLD_VATTR_CW_PRD_OVR_HANG1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_PRD_OVR_HANG2"
											},
											"sink": {
												"name": "FLD_VATTR_CW_PRD_OVR_HANG2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CW_SPA"
											},
											"sink": {
												"name": "FLD_VATTR_CW_SPA",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DELI_DATE"
											},
											"sink": {
												"name": "FLD_VATTR_DELI_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DEP_IND"
											},
											"sink": {
												"name": "FLD_VATTR_DEP_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DEP_SO_NUMBER"
											},
											"sink": {
												"name": "FLD_VATTR_DEP_SO_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DIAMETER"
											},
											"sink": {
												"name": "FLD_VATTR_DIAMETER",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DRAW_NO"
											},
											"sink": {
												"name": "FLD_VATTR_DRAW_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DRAW_REF"
											},
											"sink": {
												"name": "FLD_VATTR_DRAW_REF",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_DRAW_REV_NO"
											},
											"sink": {
												"name": "FLD_VATTR_DRAW_REV_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ELEM_TYPE"
											},
											"sink": {
												"name": "FLD_VATTR_ELEM_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_END_LAP"
											},
											"sink": {
												"name": "FLD_VATTR_END_LAP",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_EXT_DIM_HGT"
											},
											"sink": {
												"name": "FLD_VATTR_EXT_DIM_HGT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_EXT_DIM_LGT"
											},
											"sink": {
												"name": "FLD_VATTR_EXT_DIM_LGT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_EXT_DIM_WDT"
											},
											"sink": {
												"name": "FLD_VATTR_EXT_DIM_WDT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_FAB_STANDARD"
											},
											"sink": {
												"name": "FLD_VATTR_FAB_STANDARD",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_FORMER_DIA"
											},
											"sink": {
												"name": "FLD_VATTR_FORMER_DIA",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_GALVANIZATION_IND"
											},
											"sink": {
												"name": "FLD_VATTR_GALVANIZATION_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_HG_ITEM_NO"
											},
											"sink": {
												"name": "FLD_VATTR_HG_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_IND_ITEM_NO"
											},
											"sink": {
												"name": "FLD_VATTR_IND_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_INV_LEN"
											},
											"sink": {
												"name": "FLD_VATTR_INV_LEN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_INV_WT_ORDER"
											},
											"sink": {
												"name": "FLD_VATTR_INV_WT_ORDER",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_INV_WT_PER_PC"
											},
											"sink": {
												"name": "FLD_VATTR_INV_WT_PER_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_OF_BEND_PC"
											},
											"sink": {
												"name": "FLD_VATTR_NO_OF_BEND_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_OF_CUT_PC"
											},
											"sink": {
												"name": "FLD_VATTR_NO_OF_CUT_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_OF_END_PC"
											},
											"sink": {
												"name": "FLD_VATTR_NO_OF_END_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_OF_PNT_PC"
											},
											"sink": {
												"name": "FLD_VATTR_NO_OF_PNT_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_OF_STR_PC"
											},
											"sink": {
												"name": "FLD_VATTR_NO_OF_STR_PC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_NO_ROLLING"
											},
											"sink": {
												"name": "FLD_VATTR_NO_ROLLING",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MAINCON_IND"
											},
											"sink": {
												"name": "FLD_VATTR_MAINCON_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MATL_NO"
											},
											"sink": {
												"name": "FLD_VATTR_MATL_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MESH_TYPE"
											},
											"sink": {
												"name": "FLD_VATTR_MESH_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_COUNT"
											},
											"sink": {
												"name": "FLD_VATTR_MW_COUNT",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_DIA"
											},
											"sink": {
												"name": "FLD_VATTR_MW_DIA",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_INV_LEN"
											},
											"sink": {
												"name": "FLD_VATTR_MW_INV_LEN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_INV_OVR_HANG1"
											},
											"sink": {
												"name": "FLD_VATTR_MW_INV_OVR_HANG1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_INV_OVR_HANG2"
											},
											"sink": {
												"name": "FLD_VATTR_MW_INV_OVR_HANG2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_PRD_LEN"
											},
											"sink": {
												"name": "FLD_VATTR_MW_PRD_LEN",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_PRD_OVR_HANG1"
											},
											"sink": {
												"name": "FLD_VATTR_MW_PRD_OVR_HANG1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_PRD_OVR_HANG2"
											},
											"sink": {
												"name": "FLD_VATTR_MW_PRD_OVR_HANG2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_MW_SPA"
											},
											"sink": {
												"name": "FLD_VATTR_MW_SPA",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PILE_DIA"
											},
											"sink": {
												"name": "FLD_VATTR_PILE_DIA",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PILE_SEQ"
											},
											"sink": {
												"name": "FLD_VATTR_PILE_SEQ",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PRD_LENGTH"
											},
											"sink": {
												"name": "FLD_VATTR_PRD_LENGTH",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PRODUCE_IND"
											},
											"sink": {
												"name": "FLD_VATTR_PRODUCE_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROD_CD"
											},
											"sink": {
												"name": "FLD_VATTR_PROD_CD",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROD_GRP"
											},
											"sink": {
												"name": "FLD_VATTR_PROD_GRP",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROD_MARK"
											},
											"sink": {
												"name": "FLD_VATTR_PROD_MARK",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROD_ORD_NO"
											},
											"sink": {
												"name": "FLD_VATTR_PROD_ORD_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROD_TYPE"
											},
											"sink": {
												"name": "FLD_VATTR_PROD_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PROJ_SECTOR"
											},
											"sink": {
												"name": "FLD_VATTR_PROJ_SECTOR",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_REMARKS"
											},
											"sink": {
												"name": "FLD_VATTR_REMARKS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_RUSH_ORDER_IND"
											},
											"sink": {
												"name": "FLD_VATTR_RUSH_ORDER_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SALES_QTY_IN_SALES_UOM"
											},
											"sink": {
												"name": "FLD_VATTR_SALES_QTY_IN_SALES_UOM",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SALES_UOM"
											},
											"sink": {
												"name": "FLD_VATTR_SALES_UOM",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SHAPE_SURCHARGE"
											},
											"sink": {
												"name": "FLD_VATTR_SHAPE_SURCHARGE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_SHAPE_CODE"
											},
											"sink": {
												"name": "FLD_VATTR_SHAPE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_ST_LAP"
											},
											"sink": {
												"name": "FLD_VATTR_ST_LAP",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_TOTAL_ITEMS"
											},
											"sink": {
												"name": "FLD_VATTR_TOTAL_ITEMS",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_TWIN_IND"
											},
											"sink": {
												"name": "FLD_VATTR_TWIN_IND",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_WBS1"
											},
											"sink": {
												"name": "FLD_VATTR_WBS1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_WBS2"
											},
											"sink": {
												"name": "FLD_VATTR_WBS2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_WBS3"
											},
											"sink": {
												"name": "FLD_VATTR_WBS3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_WBS4"
											},
											"sink": {
												"name": "FLD_VATTR_WBS4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_WBS5"
											},
											"sink": {
												"name": "FLD_VATTR_WBS5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_HIERARCHY"
											},
											"sink": {
												"name": "FLD_VATTR_HIERARCHY",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_STATUS"
											},
											"sink": {
												"name": "FLD_VATTR_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CREATE_BY"
											},
											"sink": {
												"name": "FLD_VATTR_CREATE_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_CREATE_DATE"
											},
											"sink": {
												"name": "FLD_VATTR_CREATE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$FLD_VATTR_PURECSB_IND"
											},
											"sink": {
												"name": "FLD_VATTR_PURECSB_IND",
												"type": "Boolean"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Order_Attribute",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TBL_DSS_STS_DNS_VAR_ATTR",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy_Data_From_QueueTo_STS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SAP_DEV_DEMO",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE dbo.TBL_DSS_STS_DNS_VAR_TRK SET FLD_TRK_STATUS = 'T'\nWHERE fld_trk_sor_no='@{variables('FLD_SOR_NO')}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Delete_Data_FromQueue",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 60 sec",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/order_atrribute/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						},
						{
							"name": "Script4",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy_Data_From_QueueTo_STS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE dbo.TBL_DSS_STS_DNS_VAR_TRK SET FLD_TRK_STATUS = 'Q'\nWHERE fld_trk_sor_no='@{variables('FLD_SOR_NO')}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup12",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * FROM dbo.TBL_DSS_STS_DNS_VAR_ATTR where FLD_VATTR_SOR_NO='@{variables('FLD_SOR_NO')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_DSS_STS_DNS_VAR_TRK",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"FLD_SOR_NO": {
				"type": "String"
			},
			"fld_trk_sor_no": {
				"type": "String"
			}
		},
		"annotations": []
	}
}