ADFResources/pipeline/NSH_INT065_IDB_CAB_RMS_SHEARLINE_Pub.json
{
	"name": "NSH_INT065_IDB_CAB_RMS_SHEARLINE_Pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "fld_q_rec_type",
								"value": ""
							},
							{
								"name": "fld_create_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "fld_create_by",
								"value": "ESB INT065"
							},
							{
								"name": "fld_modify_date",
								"value": ""
							},
							{
								"name": "fld_modify_by",
								"value": ""
							},
							{
								"name": "fld_rec_type",
								"value": "Y"
							}
						],
						"oracleReaderQuery": "WITH FirstQuery AS (\n    SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\n    FROM (\n        SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\n        FROM scm_admin.cab_rms_shearline_download\n        MINUS\n        SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\n        FROM scm_admin.esb_cab_rms_shearline_download\n    )\n    WHERE ROWNUM <= '1000'\n)\nSELECT \n    NVL(FQ.r_run_no, ' ') AS r_run_no,\n    NVL(CRSD.r_prod_type_ref, ' ') AS r_prod_type_ref,\n    NVL(CRSD.r_start_stock_len, 0) AS r_start_stock_len,\n    NVL(CRSD.r_dia_ref, 0) AS r_dia_ref,\n    NVL(CRSD.l_comb_no, ' ') AS l_comb_no,\n    NVL(CRSD.l_qty_of_segment, 0) AS l_qty_of_segment,\n    NVL(CRSD.l_stock_bars_len, 0) AS l_stock_bars_len,\n    NVL(CRSD.d_no_of_cuts, 0) AS d_no_of_cuts,\n    NVL(CRSD.d_section_no, ' ') AS d_section_no,\n    NVL(CRSD.d_bin_number, ' ') AS d_bin_number,\n    NVL(CRSD.d_cut_length, ' ') AS d_cut_length,\n    NVL(CRSD.d_tag_ref_info, ' ') AS d_tag_ref_info,\n    NVL(CRSD.d_straight_bend_flag, ' ') AS d_straight_bend_flag,\n    NVL(CRSD.d_bbs_bar_mark_info, ' ') AS d_bbs_bar_mark_info,\n    NVL(CRSD.d_tag_no, ' ') AS d_tag_no,\n    NVL(CRSD.d_flag_info, ' ') AS d_flag_info,\n    NVL(CRSD.create_date, ' ') AS create_date,\n    NVL(CRSD.update_date, ' ') AS update_date,\n    NVL(FQ.d_cutting_seq_no, 0) AS d_cutting_seq_no,\n    NVL(CRSD.d_offcut_ind, ' ') AS d_offcut_ind\nFROM  \n    FirstQuery FQ\nJOIN\n    scm_admin.cab_rms_shearline_download CRSD ON FQ.r_run_no = CRSD.r_run_no\n                                             AND FQ.r_dia_ref = CRSD.r_dia_ref\n                                             AND FQ.l_comb_no = CRSD.l_comb_no\n                                             AND FQ.d_section_no = CRSD.d_section_no\n                                             AND FQ.d_bin_number = CRSD.d_bin_number\n                                             AND FQ.d_cutting_seq_no = CRSD.d_cutting_seq_no;\n",
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "R_RUN_NO",
									"type": "String"
								},
								"sink": {
									"path": "$R_RUN_NO"
								}
							},
							{
								"source": {
									"name": "R_PROD_TYPE_REF",
									"type": "String"
								},
								"sink": {
									"path": "$R_PROD_TYPE_REF"
								}
							},
							{
								"source": {
									"name": "R_START_STOCK_LEN",
									"type": "Double"
								},
								"sink": {
									"path": "$R_START_STOCK_LEN"
								}
							},
							{
								"source": {
									"name": "R_DIA_REF",
									"type": "Double"
								},
								"sink": {
									"path": "$R_DIA_REF"
								}
							},
							{
								"source": {
									"name": "L_COMB_NO",
									"type": "String"
								},
								"sink": {
									"path": "$L_COMB_NO"
								}
							},
							{
								"source": {
									"name": "L_QTY_OF_SEGMENT",
									"type": "Double"
								},
								"sink": {
									"path": "$L_QTY_OF_SEGMENT"
								}
							},
							{
								"source": {
									"name": "L_STOCK_BARS_LEN",
									"type": "Double"
								},
								"sink": {
									"path": "$L_STOCK_BARS_LEN"
								}
							},
							{
								"source": {
									"name": "D_NO_OF_CUTS",
									"type": "Double"
								},
								"sink": {
									"path": "$D_NO_OF_CUTS"
								}
							},
							{
								"source": {
									"name": "D_SECTION_NO",
									"type": "String"
								},
								"sink": {
									"path": "$D_SECTION_NO"
								}
							},
							{
								"source": {
									"name": "D_BIN_NUMBER",
									"type": "String"
								},
								"sink": {
									"path": "$D_BIN_NUMBER"
								}
							},
							{
								"source": {
									"name": "D_CUT_LENGTH",
									"type": "String"
								},
								"sink": {
									"path": "$D_CUT_LENGTH"
								}
							},
							{
								"source": {
									"name": "D_TAG_REF_INFO",
									"type": "String"
								},
								"sink": {
									"path": "$D_TAG_REF_INFO"
								}
							},
							{
								"source": {
									"name": "D_STRAIGHT_BEND_FLAG",
									"type": "String"
								},
								"sink": {
									"path": "$D_STRAIGHT_BEND_FLAG"
								}
							},
							{
								"source": {
									"name": "D_BBS_BAR_MARK_INFO",
									"type": "String"
								},
								"sink": {
									"path": "$D_BBS_BAR_MARK_INFO"
								}
							},
							{
								"source": {
									"name": "D_TAG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$D_TAG_NO"
								}
							},
							{
								"source": {
									"name": "D_FLAG_INFO",
									"type": "String"
								},
								"sink": {
									"path": "$D_FLAG_INFO"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "UPDATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$UPDATE_DATE"
								}
							},
							{
								"source": {
									"name": "D_CUTTING_SEQ_NO",
									"type": "Double"
								},
								"sink": {
									"path": "$D_CUTTING_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "D_OFFCUT_IND",
									"type": "String"
								},
								"sink": {
									"path": "$D_OFFCUT_IND"
								}
							},
							{
								"source": {
									"name": "fld_q_rec_type",
									"type": "String"
								},
								"sink": {
									"path": "fld_q_rec_type"
								}
							},
							{
								"source": {
									"name": "fld_create_date",
									"type": "String"
								},
								"sink": {
									"path": "fld_create_date"
								}
							},
							{
								"source": {
									"name": "fld_create_by",
									"type": "String"
								},
								"sink": {
									"path": "fld_create_by"
								}
							},
							{
								"source": {
									"name": "fld_modify_date",
									"type": "String"
								},
								"sink": {
									"path": "fld_modify_date"
								}
							},
							{
								"source": {
									"name": "fld_modify_by",
									"type": "String"
								},
								"sink": {
									"path": "fld_modify_by"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "cab_rms_shearline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "int065_cab_rms_shearline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1_copy1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int065_cab_rms_shearline/messages/head"
				}
			},
			{
				"name": "Script1_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update SCM_ADMIN.ESB_CAB_RMS_SHEARLINE_DOWNLOAD Set ESBSTATUS = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "ESBSTATUS",
								"value": "S"
							},
							{
								"name": "ESBUPDATETIME",
								"value": {
									"value": "@variables('CurrentTime')",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\r\n    FROM (\r\n        SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\r\n        FROM scm_admin.cab_rms_shearline_download\r\n        MINUS\r\n        SELECT r_run_no, r_dia_ref, l_comb_no, d_section_no, d_bin_number, d_cutting_seq_no\r\n        FROM scm_admin.esb_cab_rms_shearline_download\r\n    )\r\n    WHERE ROWNUM <= '1000'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "R_RUN_NO",
									"type": "String"
								},
								"sink": {
									"name": "R_RUN_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "R_DIA_REF",
									"type": "Decimal"
								},
								"sink": {
									"name": "R_DIA_REF",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "L_COMB_NO",
									"type": "String"
								},
								"sink": {
									"name": "L_COMB_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "D_SECTION_NO",
									"type": "String"
								},
								"sink": {
									"name": "D_SECTION_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "D_BIN_NUMBER",
									"type": "String"
								},
								"sink": {
									"name": "D_BIN_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "D_CUTTING_SEQ_NO",
									"type": "Decimal"
								},
								"sink": {
									"name": "D_CUTTING_SEQ_NO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ESBSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "ESBSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBUPDATETIME",
									"type": "String"
								},
								"sink": {
									"name": "ESBUPDATETIME",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "cab_rms_shearline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ESB_Cab_rms_shearline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NSH_INT064_STS_tbl_scm_sts_cab_bender_download_Sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"esbUpdateTime": {
							"value": "@utcnow()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Wait1_copy1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "Script1_copy1_copy2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Update SCM_ADMIN.ESB_CAB_RMS_SHEARLINE_DOWNLOAD Set STATUS = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}