ADFResources/pipeline/NSH_INT050_IDB_BPCSEQUENCING_Pub.json
{
	"name": "NSH_INT050_IDB_BPCSEQUENCING_Pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data2_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n    SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\n    FROM (\n        SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\n        FROM scm_admin.bpcsequencing\n        MINUS\n        SELECT FLD_PSCH_ITEM_NO, FLD_PSCH_SAL_ORD_NO, FLD_PSCH_SEQ_NO, FLD_PSCH_Q_OPER_TYPE, FLD_PSCH_Q_PO_NO\n        FROM scm_admin.esb_bpcsequencing\n    )\n    WHERE ROWNUM <= 1000\n)\nSELECT\n    NVL(PSCH.FLD_PSCH_PLAN_PROCESS_TIME, 0) AS FLD_PSCH_PLAN_PROCESS_TIME,\n    NVL(TRIM(PSCH.FLD_PSCH_REC_TYPE_OBSOLETE), ' ') AS FLD_PSCH_REC_TYPE_OBSOLETE,\n    NVL(TRIM(PSCH.FLD_PSCH_SAL_FG_UOM), ' ') AS FLD_PSCH_SAL_FG_UOM,\n    NVL(TRIM(PSCH.FLD_PSCH_MATL_NO), ' ') AS FLD_PSCH_MATL_NO,\n    NVL(PSCH.FLD_PSCH_SEQ_NO, ' ') AS FLD_PSCH_SEQ_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_CUST_DESC), ' ') AS FLD_PSCH_CUST_DESC,\n    NVL(TRIM(PSCH.FLD_PSCH_NXT_WRK_CTR), ' ') AS FLD_PSCH_NXT_WRK_CTR,\n    NVL(TRIM(PSCH.FLD_PSCH_PROD_GROUP), ' ') AS FLD_PSCH_PROD_GROUP,\n    NVL(TRIM(PSCH.FLD_PSCH_ENG_DWG_NO), ' ') AS FLD_PSCH_ENG_DWG_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_DEPNT_REQ_FLAG), ' ') AS FLD_PSCH_DEPNT_REQ_FLAG,\n    NVL(TRIM(PSCH.FLD_PSCH_MSG_ID), ' ') AS FLD_PSCH_MSG_ID,\n    NVL(PSCH.FLD_PSCH_PRODN_QTY_PCS, 0) AS FLD_PSCH_PRODN_QTY_PCS,\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_PRODN_SHIFT), ' ') AS FLD_PSCH_PLAN_PRODN_SHIFT,\n    NVL(TRIM(PSCH.FLD_PSCH_ITEM_NO), ' ') AS FLD_PSCH_ITEM_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_RUN_NO), ' ') AS FLD_PSCH_RUN_NO,\n    NVL(PSCH.FLD_PSCH_SAL_FG_QTY, 0) AS FLD_PSCH_SAL_FG_QTY,\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_PRODN_DATE), ' ') AS FLD_PSCH_PLAN_PRODN_DATE,\n    NVL(TRIM(PSCH.FLD_PSCH_SHAPE_CODE_ID), ' ') AS FLD_PSCH_SHAPE_CODE_ID,\n    NVL(PSCH.FLD_PSCH_PLAN_SETUP_TIME, 0) AS FLD_PSCH_PLAN_SETUP_TIME,\n    NVL(TRIM(PSCH.FLD_PSCH_INDEPNT_ITEM), 0) AS FLD_PSCH_INDEPNT_ITEM,\n    NVL(TRIM(PSCH.FLD_PSCH_SAL_ORD_NO), ' ') AS FLD_PSCH_SAL_ORD_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_CUST_ID), ' ') AS FLD_PSCH_CUST_ID,\n    NVL(TRIM(PSCH.FLD_PSCH_INDEPNT_MATL_NO), ' ') AS FLD_PSCH_INDEPNT_MATL_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_SHIP_TO_DESC), ' ') AS FLD_PSCH_SHIP_TO_DESC,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_CREATE_DATE), ' ') AS FLD_PSCH_Q_CREATE_DATE,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_END_TIME), ' ') AS FLD_PSCH_Q_END_TIME,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_ISRELEASE), ' ') AS FLD_PSCH_Q_ISRELEASE,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_MODIFY_DATE), ' ') AS FLD_PSCH_Q_MODIFY_DATE,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_OPER_TYPE), ' ') AS FLD_PSCH_Q_OPER_TYPE,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_RELEASE_DATE), ' ') AS FLD_PSCH_Q_RELEASE_DATE,\n    NVL(TRIM(PSCH.FLD_PSCH_PRODN_ORD_NO), ' ') AS FLD_PSCH_PRODN_ORD_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_PO_NO), ' ') AS FLD_PSCH_Q_PO_NO,\n    NVL(PSCH.FLD_PSCH_Q_SEQ_NO, 0) AS FLD_PSCH_Q_SEQ_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_PLAN_WRK_CTR), ' ') AS FLD_PSCH_PLAN_WRK_CTR,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_START_TIME), ' ') AS FLD_PSCH_Q_START_TIME,\n    NVL(TRIM(PSCH.FLD_PSCH_Q_PRODN_ORD_NO), ' ') AS FLD_PSCH_Q_PRODN_ORD_NO,\n    NVL(TRIM(PSCH.FLD_PSCH_TAG_ID_FROM), ' ') AS FLD_PSCH_TAG_ID_FROM,\n    NVL(TRIM(PSCH.FLD_PSCH_TAG_ID_TO), ' ') AS FLD_PSCH_TAG_ID_TO,\n    NVL(PSCH.FLD_PSCH_UOPQUANTITY, 0) AS FLD_PSCH_UOPQUANTITY,\n    NVL(TRIM(PSCH.FLD_PSCH_UOPQUANTITYUOM), ' ') AS FLD_PSCH_UOPQUANTITYUOM,\n    NVL(PSCH.FLD_PSCH_PU_NR_OF_OPERATION, 0) AS FLD_PSCH_PU_NR_OF_OPERATION,\n    NVL(TRIM(PSCH.FLD_PSCH_RELEASE_CODE), ' ') AS FLD_PSCH_RELEASE_CODE,\n    NVL(TRIM(PSCH.FLD_PSCH_LOADING_START), ' ') AS FLD_PSCH_LOADING_START,\n    NVL(TRIM(PSCH.FLD_PSCH_LOADING_END), ' ') AS FLD_PSCH_LOADING_END,\n    NVL(PSCH.REC_ID, 0) AS REC_ID\nFROM\n    scm_admin.BPCSEQUENCING PSCH\nJOIN \n    FirstQuery FQ ON PSCH.FLD_PSCH_ITEM_NO = FQ.FLD_PSCH_ITEM_NO\n                 AND PSCH.FLD_PSCH_SAL_ORD_NO = FQ.FLD_PSCH_SAL_ORD_NO\n                 AND PSCH.FLD_PSCH_SEQ_NO = FQ.FLD_PSCH_SEQ_NO\n                 AND PSCH.FLD_PSCH_Q_OPER_TYPE = FQ.FLD_PSCH_Q_OPER_TYPE\n                 AND PSCH.FLD_PSCH_Q_PO_NO = FQ.FLD_PSCH_Q_PO_NO\nWHERE\n    LENGTH(PSCH.FLD_PSCH_RELEASE_CODE) > 0\n    AND PSCH.FLD_PSCH_Q_ISRELEASE = 'Y';\n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PROCESS_TIME",
									"type": "Decimal"
								},
								"sink": {
									"path": "$['$FLD_PSCH_PLAN_PROCESS_TIME']"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_REC_TYPE_OBSOLETE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_REC_TYPE_OBSOLETE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_UOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_UOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SEQ_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_NXT_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_NXT_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PROD_GROUP",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PROD_GROUP"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ENG_DWG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ENG_DWG_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_DEPNT_REQ_FLAG",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_DEPNT_REQ_FLAG"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MSG_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MSG_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_QTY_PCS",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_QTY_PCS"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_SHIFT",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_SHIFT"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RUN_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RUN_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_QTY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHAPE_CODE_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHAPE_CODE_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_SETUP_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_SETUP_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_ITEM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_ITEM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHIP_TO_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHIP_TO_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_END_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_END_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_ISRELEASE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_ISRELEASE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_MODIFY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_MODIFY_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_OPER_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_OPER_TYPE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_RELEASE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_RELEASE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PO_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_SEQ_NO",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_START_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_START_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_FROM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_TAG_ID_FROM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_TO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_TAG_ID_TO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITYUOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITYUOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PU_NR_OF_OPERATION",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PU_NR_OF_OPERATION"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RELEASE_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RELEASE_CODE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_LOADING_START",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_LOADING_START"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_LOADING_END",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_LOADING_END"
								}
							},
							{
								"source": {
									"name": "REC_ID",
									"type": "Double"
								},
								"sink": {
									"path": "$REC_ID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "INT050_IDB_BPCSEQENCING",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IDB_BpcSeqencing",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int050_bpcseqencing/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "ESBSTATUS",
								"value": "S"
							},
							{
								"name": "ESBUPDATETIME",
								"value": {
									"value": "@variables('CurrentTime')",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "select FLD_PSCH_ITEM_NO , FLD_PSCH_SAL_ORD_NO ,FLD_PSCH_SEQ_NO , FLD_PSCH_Q_OPER_TYPE,FLD_PSCH_Q_PO_NO  from (select   FLD_PSCH_ITEM_NO , FLD_PSCH_SAL_ORD_NO ,FLD_PSCH_SEQ_NO ,   FLD_PSCH_Q_OPER_TYPE,FLD_PSCH_Q_PO_NO  from scm_admin.bpcsequencing\t\t\t\t\t\t\r\nminus\t\t\t\t\t\t\r\nselect   FLD_PSCH_ITEM_NO , FLD_PSCH_SAL_ORD_NO ,FLD_PSCH_SEQ_NO ,  FLD_PSCH_Q_OPER_TYPE,FLD_PSCH_Q_PO_NO  from scm_admin.esb_bpcsequencing) where rownum <= '1000'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_PSCH_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_ITEM_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_ORD_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_SAL_ORD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SEQ_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_SEQ_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_OPER_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_Q_OPER_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "ESBSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBUPDATETIME",
									"type": "String"
								},
								"sink": {
									"name": "ESBUPDATETIME",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "INT050_IDB_BPCSEQENCING",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ESB_BPCSEQUENCING",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NSH_INT050_STS_BPCSequencing_Sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ESBUPDATETIME": {
							"value": "@utcnow()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update SCM_ADMIN.ESB_BPCSEQUENCING set ESBSTATUS = 'E' where ESBUPDATETIME ='@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update SCM_ADMIN.ESB_BPCSEQUENCING set ESBSTATUS = 'E' where ESBUPDATETIME ='@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String",
				"defaultValue": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))"
			}
		},
		"annotations": []
	}
}