ADFResources/pipeline/NSH_INT013_SAPY_PROJECTMASTER_PUB.json
{
	"name": "NSH_INT013_SAPY_PROJECTMASTER_PUB",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT sapsr3.INT013_Interface() AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT013_YMSDT_PRO_HDR",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT \n    MANDT, PROJ_ID, PROJ_DESC1, PROJ_DESC2, SITE_ADRRS, PROJ_COORD, \n    SITE_CONT_NAME1, SITE_CONT_TEL1, SITE_CONT_NAME2, SITE_CONT_TEL2, \n    GEO_FENCE_ID, CONTRY_KEY, CITY, POST_CODE, REGION, SORT_FIELD, \n    TELE_NO, FAX_NO, INTER_ID, REC_TYPE, STATUS  \nFROM \n    SAPSR3.YMSDT_PRO_HDR \nWHERE \n    MANDT = '110'\nMINUS \nSELECT \n    MANDT, PROJ_ID, PROJ_DESC1, PROJ_DESC2, SITE_ADRRS, PROJ_COORD, \n    SITE_CONT_NAME1, SITE_CONT_TEL1, SITE_CONT_NAME2, SITE_CONT_TEL2, \n    GEO_FENCE_ID, CONTRY_KEY, CITY, POST_CODE, REGION, SORT_FIELD, \n    TELE_NO, FAX_NO, INTER_ID, REC_TYPE, STATUS  \nFROM \n    SAPSR3.YESB_PRO_HDR \nWHERE \n    MANDT = '110'\n",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "INT013_YESB_PRO_HDR",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT013_PROJECT_MASTER",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "INT013_NDS_SAP_PRODUCT_MASTER_DESTINATION",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}