ADFResources/pipeline/NSH_INT048_ODOS_OrderShape_Pub.json
{
	"name": "NSH_INT048_ODOS_OrderShape_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n    (COUNT(1)/ 50) + 1 AS recordcount\r\nFROM \r\n    dbo.SCM_Order_Header\r\nWHERE \r\n    order_request_no IN (\r\n        SELECT \r\n            t1.order_request_no\r\n        FROM \r\n            dbo.SCM_Order_Header t1\r\n        JOIN \r\n            WMBORDERSHAPEbj1ugcj t2 ON t1.order_request_no = t2.order_request_no\r\n    );\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup12",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n    t1.IDENTITY_NO,\r\n    t1.ORD_REQ_NO,\r\n    t1.SALES_ORDER,\r\n    t1.ITEM_NO,\r\n    t1.SHAPE_IND,\r\n    t1.SHAPE_CD,\r\n    t1.DIM_SEQ,\r\n    t1.DIM_CHAR,\r\n    t1.DIM_TYPE,\r\n    t1.DIM_VALUE,\r\n    t1.DIM_X,\r\n    t1.DIM_Y,\r\n    t1.DIM_Z,\r\n    t1.CRITICAL_IND,\r\n    t1.BEND_SEQ,\r\n    t1.PRINT_TAG,\r\n    t1.STATUS,\r\n    t1.PROC_TIMESTAMP,\r\n    t1.WBSElementId,\r\n    t2.PROD_GRP\r\nFROM \r\n    SAP_ORD_SHAPE_VARIANT_DSS t1\r\nJOIN \r\n    SAP_ORDER_ITEM t2 ON t1.ORD_REQ_NO = t2.ORD_REQ_NO AND t1.ITEM_NO = t2.ITEM_NO\r\nWHERE \r\n    t1.ORD_REQ_NO IN (\r\n        SELECT sod.order_request_no\r\n        FROM dbo.SCM_Order_Header sod\r\n        JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n    )\r\n    AND t1.ITEM_NO IN (\r\n        SELECT DISTINCT ITEM_NO \r\n        FROM SAP_ORD_SHAPE_VARIANT_DSS \r\n        WHERE ORD_REQ_NO IN (\r\n            SELECT sod.order_request_no\r\n            FROM dbo.SCM_Order_Header sod\r\n            JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n        )\r\n    );\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "DECLARE @cols AS NVARCHAR(MAX),\r\n        @query AS NVARCHAR(MAX),\r\n        @topN INT = 20, -- Number of dimension sets to pivot\r\n        @maxCounter INT = 20; -- Maximum counter value for the loop\r\n\r\n-- Initialize the column strings\r\nSET @cols = '';\r\n\r\n-- Generate column aliases\r\nSELECT @cols = @cols +\r\n    'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN DIM_X END) AS DIM_X' + CAST(number AS VARCHAR(10)) + ', ' +\r\n    'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN DIM_Y END) AS DIM_Y' + CAST(number AS VARCHAR(10)) + ', ' +\r\n    'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN DIM_CHAR END) AS DIM_CHAR' + CAST(number AS VARCHAR(10)) + ', ' +\r\n    'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN DIM_TYPE END) AS DIM_TYPE' + CAST(number AS VARCHAR(10)) + ', ' +\r\n    'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN DIM_VALUE END) AS DIM_VALUE' + CAST(number AS VARCHAR(10)) + ', ' +\r\n    (CASE WHEN number = @maxCounter THEN 'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN CRITICAL_IND END) AS CRITICAL_IND20'\r\n     ELSE 'MAX(CASE WHEN GroupedRowNum = ' + CAST(number AS VARCHAR(10)) + ' THEN CRITICAL_IND END) AS CRITICAL_IND' + CAST(number AS VARCHAR(10)) END) + ', '\r\nFROM master..spt_values WHERE type = 'P' AND number BETWEEN 1 AND @maxCounter;\r\n\r\n-- Remove trailing comma and space\r\nSET @cols = LEFT(@cols, LEN(@cols) - 1);\r\n\r\n-- Generate the full dynamic SQL query\r\nSET @query = '\r\nWITH RankedData AS (\r\n    SELECT \r\n        t1.ORD_REQ_NO,\r\n        t1.ITEM_NO,\r\n        t1.DIM_X,\r\n        t1.DIM_Y,\r\n        t1.DIM_CHAR,\r\n        t1.DIM_TYPE,\r\n        t1.DIM_VALUE,\r\n        t1.CRITICAL_IND,\r\n\t\tt2.PROD_GRP,\r\n\t\tCASE \r\n            WHEN t3.PRODTYPE_ID = ''7'' THEN ''MSH''\r\n            WHEN t3.PRODTYPE_ID = ''4'' THEN ''CAB''\r\n            WHEN t3.PRODTYPE_ID = ''9'' THEN ''BPC''\r\n            WHEN t3.PRODTYPE_ID = ''10'' THEN ''PRC''\r\n            WHEN t3.PRODTYPE_ID = ''14'' THEN ''PRC''\r\n        END AS PRODUCT_TYPE,\r\n        ROW_NUMBER() OVER (PARTITION BY t1.ORD_REQ_NO, t1.ITEM_NO ORDER BY t1.ITEM_NO) AS GroupedRowNum\r\n    FROM\r\n        SAP_ORD_SHAPE_VARIANT_DSS t1\r\n\t\tINNER JOIN \r\n    dbo.SAP_ORDER_ITEM t2 \r\n    ON t1.ORD_REQ_NO = t2.ORD_REQ_NO \r\n    AND t1.ITEM_NO = t2.ITEM_NO\r\n\tINNER JOIN \r\n    dbo.SAP_WBS_SOR t3 \r\n    ON t1.ORD_REQ_NO = t3.ORD_REQ_NO\r\n\tWHERE  \r\n    t1.ORD_REQ_NO = (SELECT \r\n\t\t\t\t\t\t\tsod.order_request_no\r\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\r\n\t\t\t\t\t\tJOIN \r\n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\r\n\t\t\t\t\t\tON \r\n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no)\r\n    AND t1.ITEM_NO IN (select distinct ITEM_NO from SAP_ORD_SHAPE_VARIANT_DSS where ORD_REQ_NO = (SELECT top 1 \r\n\t\t\t\t\t\t\t sod.order_request_no\r\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\r\n\t\t\t\t\t\tJOIN \r\n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\r\n\t\t\t\t\t\tON \r\n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no))\r\n    AND (\r\n        (t3.PRODTYPE_ID = ''7'') \r\n        OR \r\n        (t3.PRODTYPE_ID != ''7'' AND (t1.PRINT_TAG = ''Y'' OR t1.PRINT_TAG IS null))\r\n    )\r\n)\r\nSELECT\r\n    ORD_REQ_NO,\r\n    ITEM_NO,\r\n\tPROD_GRP,\r\n\tPRODUCT_TYPE,\r\n    ' + @cols + '\r\nFROM RankedData\r\nGROUP BY ORD_REQ_NO, ITEM_NO,PROD_GRP,PRODUCT_TYPE\r\nORDER BY ORD_REQ_NO, ITEM_NO;';\r\n\r\n-- Execute the dynamic SQL\r\nEXEC sp_executesql @query;",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ORD_REQ_NO",
												"type": "String"
											},
											"sink": {
												"path": "$ORD_REQ_NO"
											}
										},
										{
											"source": {
												"name": "ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$ITEM_NO"
											}
										},
										{
											"source": {
												"name": "DIM_X1",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_1"
											}
										},
										{
											"source": {
												"name": "DIM_Y1",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_1"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR1",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_1"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE1",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_1"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE1",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_1"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND1",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_1"
											}
										},
										{
											"source": {
												"name": "DIM_X2",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_2"
											}
										},
										{
											"source": {
												"name": "DIM_Y2",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_2"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR2",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_2"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE2",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_2"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE2",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_2"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND2",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_2"
											}
										},
										{
											"source": {
												"name": "DIM_X3",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_3"
											}
										},
										{
											"source": {
												"name": "DIM_Y3",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_3"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR3",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_3"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE3",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_3"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE3",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_3"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND3",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_3"
											}
										},
										{
											"source": {
												"name": "DIM_X4",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_4"
											}
										},
										{
											"source": {
												"name": "DIM_Y4",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_4"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR4",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_4"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE4",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_4"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE4",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_4"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND4",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_4"
											}
										},
										{
											"source": {
												"name": "DIM_X5",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_5"
											}
										},
										{
											"source": {
												"name": "DIM_Y5",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_5"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR5",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_5"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE5",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_5"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE5",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_5"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND5",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_5"
											}
										},
										{
											"source": {
												"name": "DIM_X6",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_6"
											}
										},
										{
											"source": {
												"name": "DIM_Y6",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_6"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR6",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_6"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE6",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_6"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE6",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_6"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND6",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_6"
											}
										},
										{
											"source": {
												"name": "DIM_X7",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_7"
											}
										},
										{
											"source": {
												"name": "DIM_Y7",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_7"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR7",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_7"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE7",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_7"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE7",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_7"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND7",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_7"
											}
										},
										{
											"source": {
												"name": "DIM_X8",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_8"
											}
										},
										{
											"source": {
												"name": "DIM_Y8",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_8"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR8",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_8"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE8",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_8"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE8",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_8"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND8",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_8"
											}
										},
										{
											"source": {
												"name": "DIM_X9",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_9"
											}
										},
										{
											"source": {
												"name": "DIM_Y9",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_9"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR9",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_9"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE9",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_9"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE9",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_9"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND9",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_9"
											}
										},
										{
											"source": {
												"name": "DIM_X10",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_10"
											}
										},
										{
											"source": {
												"name": "DIM_Y10",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_10"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR10",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_10"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE10",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_10"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE10",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_10"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND10",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_10"
											}
										},
										{
											"source": {
												"name": "DIM_X11",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_11"
											}
										},
										{
											"source": {
												"name": "DIM_Y11",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_11"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR11",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_11"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE11",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_11"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE11",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_11"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND11",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_11"
											}
										},
										{
											"source": {
												"name": "DIM_X12",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_12"
											}
										},
										{
											"source": {
												"name": "DIM_Y12",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_12"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR12",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_12"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE12",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_12"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE12",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_12"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND12",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_12"
											}
										},
										{
											"source": {
												"name": "DIM_X13",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_13"
											}
										},
										{
											"source": {
												"name": "DIM_Y13",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_13"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR13",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_13"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE13",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_13"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE13",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_13"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND13",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_13"
											}
										},
										{
											"source": {
												"name": "DIM_X14",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_14"
											}
										},
										{
											"source": {
												"name": "DIM_Y14",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_14"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR14",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_14"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE14",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_14"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE14",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_14"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND14",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_14"
											}
										},
										{
											"source": {
												"name": "DIM_X15",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_15"
											}
										},
										{
											"source": {
												"name": "DIM_Y15",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_15"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR15",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_15"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE15",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_15"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE15",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_15"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND15",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_15"
											}
										},
										{
											"source": {
												"name": "DIM_X16",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_16"
											}
										},
										{
											"source": {
												"name": "DIM_Y16",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_16"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR16",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_16"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE16",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_16"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE16",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_16"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND16",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_16"
											}
										},
										{
											"source": {
												"name": "DIM_X17",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_17"
											}
										},
										{
											"source": {
												"name": "DIM_Y17",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_17"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR17",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_17"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE17",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_17"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE17",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_17"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND17",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_17"
											}
										},
										{
											"source": {
												"name": "DIM_X18",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_18"
											}
										},
										{
											"source": {
												"name": "DIM_Y18",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_18"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR18",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_18"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE18",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_18"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE18",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_18"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND18",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_18"
											}
										},
										{
											"source": {
												"name": "DIM_X19",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_19"
											}
										},
										{
											"source": {
												"name": "DIM_Y19",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_19"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR19",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_19"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE19",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_19"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE19",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_19"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND19",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_19"
											}
										},
										{
											"source": {
												"name": "DIM_X20",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_X_20"
											}
										},
										{
											"source": {
												"name": "DIM_Y20",
												"type": "Double"
											},
											"sink": {
												"path": "$COORDINATE_Y_20"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR20",
												"type": "String"
											},
											"sink": {
												"path": "$SHAPE_PARAM_20"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE20",
												"type": "String"
											},
											"sink": {
												"path": "$PARAM_IND_20"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE20",
												"type": "String"
											},
											"sink": {
												"path": "$SEGMENT_LENGTH_20"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND20",
												"type": "String"
											},
											"sink": {
												"path": "$CRITICAL_IND_20"
											}
										},
										{
											"source": {
												"name": "PROD_GRP"
											},
											"sink": {
												"path": "$SAP_PRODUCT_GROUP"
											}
										},
										{
											"source": {
												"name": "PRODUCT_TYPE"
											},
											"sink": {
												"path": "$PRODUCT_TYPE"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "INT048_Table_Joins",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT048_OrderShape_Queue",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE dbo.SCM_Order_Header\r\nSET transfer_status = 'F'\r\nWHERE order_request_no IN (\r\n    SELECT sod.order_request_no\r\n    FROM dbo.SCM_Order_Header sod\r\n    JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n);\r\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Script1_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE dbo.SCM_Order_Header\r\nSET transfer_status = 'S'\r\nWHERE order_request_no IN (\r\n    SELECT sod.order_request_no\r\n    FROM dbo.SCM_Order_Header sod\r\n    JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n);\r\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Rowcount",
					"value": {
						"value": "@range(1, int(activity('Lookup1').output.value[0].recordcount))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Rowcount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT048_SCM_OrderShape_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Rowcount": {
				"type": "Array"
			},
			"order_req_no": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}