ADFResources/pipeline/NSH_INT070_IDB_OperationalFeedback_Sub.json
{
	"name": "NSH_INT070_IDB_OperationalFeedback_Sub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT SCM_ADMIN.INT_Interface('USP_INT070') AS Result FROM dual;",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT070_SCM_ADMIN_OPERATION_FEEDBACK_ONTAG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ref_identity",
					"value": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ref_id FROM STS.dbo.tbl_sts_scm_prodn_staging_upd_test \nWHERE REC_TYPE='A'  and (SAP_BATCH_ID like 'O%' or \nSAP_BATCH_ID like 'F%' or SAP_BATCH_ID like 'M%' \tor SAP_BATCH_ID like 'P%' or (SAP_BATCH_ID like 'A%' AND PRODN_STATUS <> 'G'))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "NSH_INT070_SCM_PRODN_STAGING_DATASET",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "UOM",
								"value": "KG"
							},
							{
								"name": "REMARKS",
								"value": "UPD_DNS_ON"
							},
							{
								"name": "TIMESTAMP",
								"value": {
									"value": "@concat(formatDateTime(addMinutes(addHours(utcNow(),\n8\n),\n00\n),\n'yyyy-MM-dd-HH.mm.ss'\n),\n'.'\n, substring(formatDateTime(utcNow(),\n'fffffff'\n),\n1\n,\n3\n))",
									"type": "Expression"
								}
							},
							{
								"name": "IS_CLOSED_IND",
								"value": "Y"
							},
							{
								"name": "REQ_TECO_IND",
								"value": "Y"
							},
							{
								"name": "IDB_START_CR_DATE",
								"value": {
									"value": "@concat(formatDateTime(addMinutes(addHours(utcNow(),\n8\n),\n00\n),\n'yyyy-MM-dd-HH.mm.ss'\n),\n'.'\n, substring(formatDateTime(utcNow(),\n'fffffff'\n),\n1\n,\n3\n))",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$SAP_PO_NUM']"
								},
								"sink": {
									"name": "SAP_PRODN_ORDER_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SCM_Q_PO_NO']"
								},
								"sink": {
									"name": "PRODN_ORDER_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SCM_OPERATION_NO']"
								},
								"sink": {
									"name": "SEQ_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SCM_ORD_QTY_KG']"
								},
								"sink": {
									"name": "OPEN_QTY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['$SCM_ORD_QTY_PCS']"
								},
								"sink": {
									"name": "OPEN_PIECES",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SAP_BATCH_ID']"
								},
								"sink": {
									"name": "BATCH_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$BATCH_QTY']"
								},
								"sink": {
									"name": "CUM_PRODN_QTY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['$BATCH_PCS']"
								},
								"sink": {
									"name": "CUM_PRODN_PIECES",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PRODN_MACHINE']"
								},
								"sink": {
									"name": "PHYSICAL_RESOURCE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$START_TIME']"
								},
								"sink": {
									"name": "PRODN_START",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$END_TIME']"
								},
								"sink": {
									"name": "PRODN_END",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PRODN_REC_DATE']"
								},
								"sink": {
									"name": "PRODN_CRDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CREATE_DATE']"
								},
								"sink": {
									"name": "STAGING_CRDATE"
								}
							},
							{
								"source": {
									"path": "$['$MODIFY_DATE']"
								},
								"sink": {
									"name": "STS_END_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PRODN_ORDER_NO_SCH']"
								},
								"sink": {
									"name": "PRODN_ORDER_NO_SCH",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$PRODN_STATUS']"
								},
								"sink": {
									"name": "FEEDBACK_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$NR_OF_OPERATION']"
								},
								"sink": {
									"name": "NR_OF_OPERATION",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['$product_type']"
								},
								"sink": {
									"name": "PRODUCT_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$SAP_BATCH_ID_TAG_NO']"
								},
								"sink": {
									"name": "TAG_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['$CREATE_DATE__STS_START_CRDATE']"
								},
								"sink": {
									"name": "STS_START_CRDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UOM']"
								},
								"sink": {
									"name": "UOM",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['REMARKS']"
								},
								"sink": {
									"name": "REMARKS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TIMESTAMP']"
								},
								"sink": {
									"name": "TIME_STAMP"
								}
							},
							{
								"source": {
									"path": "$['IS_CLOSED_IND']"
								},
								"sink": {
									"name": "IS_CLOSED_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['REQ_TECO_IND']"
								},
								"sink": {
									"name": "REQ_TECO_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['IDB_START_CR_DATE']"
								},
								"sink": {
									"name": "IDB_START_CRDATE"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "INT070_QueueHead",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT070_OperationFeedback_Ontag_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup2').output.value), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ref_identity')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Update tbl_sts_scm_prodn_staging_upd_test",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB2Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update dbo.tbl_sts_scm_prodn_staging_upd_test SET REC_TYPE = 'Y', MODIFY_BY = 'ESB INT070', MODIFY_DATE =FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss.fff') where REF_ID = \n'@{variables('REF_ID')}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "REF_ID",
								"value": {
									"value": "@item().REF_ID",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"REF_ID": {
				"type": "Integer"
			},
			"ref_identity": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}