ADFResources/pipeline/NSH_INT064_IDB_CabBenderDownload_Pub.json
{
	"name": "NSH_INT064_IDB_CabBenderDownload_Pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n    SELECT tag_no\n    FROM (\n        SELECT tag_no\n        FROM scm_admin.cab_bender_download\n        MINUS\n        SELECT tag_no\n        FROM scm_admin.esb_cab_bender_download\n    )\n    WHERE ROWNUM <= 1000\n)\nSELECT\n    NVL(FSQ.TAG_NO, ' ') AS TAG_NO,\n    NVL(TAG_QTY, 0) AS TAG_QTY,\n    NVL(PRODUCTBAR, ' ') AS PRODUCTBAR,\n    NVL(SHAPECODE, ' ') AS SHAPECODE,\n    NVL(BBS_NO, ' ') AS BBS_NO,\n    NVL(BARMARK, ' ') AS BARMARK,\n    NVL(PRODN_TAG_WT, 0) AS PRODN_TAG_WT,\n    NVL(PIN_TYPE, ' ') AS PIN_TYPE,\n    NVL(PIN_SIZE, ' ') AS PIN_SIZE,\n    NVL(NO_OF_BENDING, 0) AS NO_OF_BENDING,\n    NVL(RUN_NO, ' ') AS RUN_NO,\n    NVL(PLANDURATION, 0) AS PLANDURATION,\n    NVL(PLAN_MACHINE, ' ') AS PLAN_MACHINE,\n    NVL(NO_OF_SEGMENTS, 0) AS NO_OF_SEGMENTS,\n    NVL(SHAPE_BVBS_PARAMETER, ' ') AS SHAPE_BVBS_PARAMETER,\n    NVL(CREATE_DATE, ' ') AS CREATE_DATE,\n    NVL(UPDATE_DATE, ' ') AS UPDATE_DATE,\n    NVL(SPARE1, ' ') AS SPARE1,\n    NVL(SPARE2, ' ') AS SPARE2,\n    NVL(SPARE3, ' ') AS SPARE3,\n    NVL(SPARE4, ' ') AS SPARE4,\n    NVL(SPARE5, ' ') AS SPARE5,\n    NVL(SPARE6, ' ') AS SPARE6,\n    NVL(SPARE7, ' ') AS SPARE7,\n    NVL(SPARE8, ' ') AS SPARE8,\n    NVL(SPARE9, ' ') AS SPARE9,\n    NVL(SPARE12, ' ') AS SPARE12,\n    NVL(PRODN_LEN, 0) AS PRODN_LEN,\n    NVL(BVBS_LEN, 0) AS BVBS_LEN\nFROM\n    scm_admin.cab_bender_download FSQ\nJOIN\n    FirstQuery FQ ON FSQ.TAG_NO = FQ.TAG_NO;\n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TAG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$TAG_NO"
								}
							},
							{
								"source": {
									"name": "TAG_QTY",
									"type": "Double"
								},
								"sink": {
									"path": "$TAG_QTY"
								}
							},
							{
								"source": {
									"name": "PRODUCTBAR",
									"type": "String"
								},
								"sink": {
									"path": "$PRODUCTBAR"
								}
							},
							{
								"source": {
									"name": "SHAPECODE",
									"type": "String"
								},
								"sink": {
									"path": "$SHAPECODE"
								}
							},
							{
								"source": {
									"name": "BBS_NO",
									"type": "String"
								},
								"sink": {
									"path": "$BBS_NO"
								}
							},
							{
								"source": {
									"name": "BARMARK",
									"type": "String"
								},
								"sink": {
									"path": "$BARMARK"
								}
							},
							{
								"source": {
									"name": "PRODN_TAG_WT",
									"type": "Double"
								},
								"sink": {
									"path": "$PRODN_TAG_WT"
								}
							},
							{
								"source": {
									"name": "PIN_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$PIN_TYPE"
								}
							},
							{
								"source": {
									"name": "PIN_SIZE",
									"type": "String"
								},
								"sink": {
									"path": "$PIN_SIZE"
								}
							},
							{
								"source": {
									"name": "NO_OF_BENDING",
									"type": "Double"
								},
								"sink": {
									"path": "$NO_OF_BENDING"
								}
							},
							{
								"source": {
									"name": "RUN_NO",
									"type": "String"
								},
								"sink": {
									"path": "$RUN_NO"
								}
							},
							{
								"source": {
									"name": "PLANDURATION",
									"type": "Double"
								},
								"sink": {
									"path": "$PLANDURATION"
								}
							},
							{
								"source": {
									"name": "PLAN_MACHINE",
									"type": "String"
								},
								"sink": {
									"path": "$PLAN_MACHINE"
								}
							},
							{
								"source": {
									"name": "NO_OF_SEGMENTS",
									"type": "Double"
								},
								"sink": {
									"path": "$NO_OF_SEGMENTS"
								}
							},
							{
								"source": {
									"name": "SHAPE_BVBS_PARAMETER",
									"type": "String"
								},
								"sink": {
									"path": "$SHAPE_BVBS_PARAMETER"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "UPDATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$UPDATE_DATE"
								}
							},
							{
								"source": {
									"name": "SPARE1",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE1"
								}
							},
							{
								"source": {
									"name": "SPARE2",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE2"
								}
							},
							{
								"source": {
									"name": "SPARE3",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE3"
								}
							},
							{
								"source": {
									"name": "SPARE4",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE4"
								}
							},
							{
								"source": {
									"name": "SPARE5",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE5"
								}
							},
							{
								"source": {
									"name": "SPARE6",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE6"
								}
							},
							{
								"source": {
									"name": "SPARE7",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE7"
								}
							},
							{
								"source": {
									"name": "SPARE8",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE8"
								}
							},
							{
								"source": {
									"name": "SPARE9",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE9"
								}
							},
							{
								"source": {
									"name": "SPARE12",
									"type": "String"
								},
								"sink": {
									"path": "$SPARE12"
								}
							},
							{
								"source": {
									"name": "PRODN_LEN",
									"type": "Double"
								},
								"sink": {
									"path": "$PRODN_LEN"
								}
							},
							{
								"source": {
									"name": "BVBS_LEN",
									"type": "Double"
								},
								"sink": {
									"path": "$BVBS_LEN"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Cab_bender_download",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Int064_Cab_bender",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_USP_INT064",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT064') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Cab_bender_download",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"description": "@equals(activity('Lookup_USP_INT064').output.firstRow.RESULT, 'Y')",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT064",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT064').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int_064_cab_bender_download/messages/head"
							}
						},
						{
							"name": "Wait3",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT064_STS_tbl_scm_sts_cab_bender_download_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"esbUpdateTime": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int_064_cab_bender_download/messages/head"
				}
			},
			{
				"name": "Wait2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT064",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			}
		],
		"annotations": []
	}
}