ADFResources/pipeline/NSH_INT023_SAPY_YMPCT_MAT_DETAIL_PUB.json
{
	"name": "NSH_INT023_SAPY_YMPCT_MAT_DETAIL_PUB",
	"properties": {
		"activities": [
			{
				"name": "Source To Queue",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select MANDT, MATNR, MAKTX, PRODUCT_CODE, GRADE, BASE_UOM, INTER_ID, REC_TYPE, SALES_UNIT, PRODH, M_GRADE, PROD_SCH, KG_PER_PC, MATKL, DIA  from SAPSR3.YMPCT_MAT_DETAIL where MANDT= '110'\t\t\nminus\t\t\nselect MANDT, MATNR, MAKTX, PRODUCT_CODE, GRADE, BASE_UOM, INTER_ID, REC_TYPE, SALES_UNIT, PRODH, M_GRADE, PROD_SCH, KG_PER_PC, MATKL, DIA  from SAPSR3.YESB_MAT_DETAIL  where MANDT= '110'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"path": "$MANDT"
								}
							},
							{
								"source": {
									"name": "MATNR",
									"type": "String"
								},
								"sink": {
									"path": "$MATNR"
								}
							},
							{
								"source": {
									"name": "MAKTX",
									"type": "String"
								},
								"sink": {
									"path": "$MAKTX"
								}
							},
							{
								"source": {
									"name": "PRODUCT_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$PRODUCT_CODE"
								}
							},
							{
								"source": {
									"name": "GRADE",
									"type": "String"
								},
								"sink": {
									"path": "$GRADE"
								}
							},
							{
								"source": {
									"name": "BASE_UOM",
									"type": "String"
								},
								"sink": {
									"path": "$BASE_UOM"
								}
							},
							{
								"source": {
									"name": "INTER_ID",
									"type": "String"
								},
								"sink": {
									"path": "$INTER_ID"
								}
							},
							{
								"source": {
									"name": "REC_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$REC_TYPE"
								}
							},
							{
								"source": {
									"name": "SALES_UNIT",
									"type": "String"
								},
								"sink": {
									"path": "$SALES_UNIT"
								}
							},
							{
								"source": {
									"name": "PRODH",
									"type": "String"
								},
								"sink": {
									"path": "$PRODH"
								}
							},
							{
								"source": {
									"name": "M_GRADE",
									"type": "String"
								},
								"sink": {
									"path": "$M_GRADE"
								}
							},
							{
								"source": {
									"name": "PROD_SCH",
									"type": "String"
								},
								"sink": {
									"path": "$PROD_SCH"
								}
							},
							{
								"source": {
									"name": "KG_PER_PC",
									"type": "Decimal"
								},
								"sink": {
									"path": "$KG_PER_PC"
								}
							},
							{
								"source": {
									"name": "MATKL",
									"type": "String"
								},
								"sink": {
									"path": "$MATKL"
								}
							},
							{
								"source": {
									"name": "DIA",
									"type": "Decimal"
								},
								"sink": {
									"path": "$DIA"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT023_YMPCT_MAT_DETAIL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NSH_INT023_tbl_sts_dns_material_master_QUEUE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_USP_INT023",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Source To Queue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT023') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT023_YMPCT_MAT_DETAIL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT023",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT023').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteDataFromINT023Queue",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int023_tbl_sts_dns_material_master/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT023_tbl_sts_dns_material_master_sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "DeleteDataFromINT023Queue_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT023",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int023_tbl_sts_dns_material_master/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			}
		],
		"annotations": []
	}
}