ADFResources/pipeline/NSH_INT048_ODOS_OrderShape_Pub.json
{
	"name": "NSH_INT048_ODOS_OrderShape_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n    (COUNT(1)/ 50) + 1 AS recordcount\r\nFROM \r\n    dbo.SCM_Order_Header\r\nWHERE \r\n    order_request_no IN (\r\n        SELECT \r\n            t1.order_request_no\r\n        FROM \r\n            dbo.SCM_Order_Header t1\r\n        JOIN \r\n            WMBORDERSHAPEbj1ugcj t2 ON t1.order_request_no = t2.order_request_no\r\n    );\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup12",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \r\n    t1.IDENTITY_NO,\r\n    t1.ORD_REQ_NO,\r\n    t1.SALES_ORDER,\r\n    t1.ITEM_NO,\r\n    t1.SHAPE_IND,\r\n    t1.SHAPE_CD,\r\n    t1.DIM_SEQ,\r\n    t1.DIM_CHAR,\r\n    t1.DIM_TYPE,\r\n    t1.DIM_VALUE,\r\n    t1.DIM_X,\r\n    t1.DIM_Y,\r\n    t1.DIM_Z,\r\n    t1.CRITICAL_IND,\r\n    t1.BEND_SEQ,\r\n    t1.PRINT_TAG,\r\n    t1.STATUS,\r\n    t1.PROC_TIMESTAMP,\r\n    t1.WBSElementId,\r\n    t2.PROD_GRP\r\nFROM \r\n    SAP_ORD_SHAPE_VARIANT_DSS t1\r\nJOIN \r\n    SAP_ORDER_ITEM t2 ON t1.ORD_REQ_NO = t2.ORD_REQ_NO AND t1.ITEM_NO = t2.ITEM_NO\r\nWHERE \r\n    t1.ORD_REQ_NO IN (\r\n        SELECT sod.order_request_no\r\n        FROM dbo.SCM_Order_Header sod\r\n        JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n    )\r\n    AND t1.ITEM_NO IN (\r\n        SELECT DISTINCT ITEM_NO \r\n        FROM SAP_ORD_SHAPE_VARIANT_DSS \r\n        WHERE ORD_REQ_NO IN (\r\n            SELECT sod.order_request_no\r\n            FROM dbo.SCM_Order_Header sod\r\n            JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n        )\r\n    );\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "DECLARE @cols AS NVARCHAR(MAX),\n        @query AS NVARCHAR(MAX),\n        @topN INT = 20, -- Number of dimension sets to pivot\n        @counter INT = 1, -- Counter for the loop\n        @maxCounter INT = 20; -- Maximum counter value for the loop\n \n-- Initialize the column strings\nSET @cols = '';\n \n-- Loop to generate column aliases\nWHILE @counter <= @maxCounter\nBEGIN\n    SET @cols = @cols + \n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN DIM_X END) AS DIM_X' + CAST(@counter AS VARCHAR(10)) + ', ' +\n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN DIM_Y END) AS DIM_Y' + CAST(@counter AS VARCHAR(10)) + ', ' +\n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN DIM_CHAR END) AS DIM_CHAR' + CAST(@counter AS VARCHAR(10)) + ', ' +\n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN DIM_TYPE END) AS DIM_TYPE' + CAST(@counter AS VARCHAR(10)) + ', ' +\n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN DIM_VALUE END) AS DIM_VALUE' + CAST(@counter AS VARCHAR(10)) + ', ' +\n        'MAX(CASE WHEN GroupedRowNum = ' + CAST(@counter AS VARCHAR(10)) + ' THEN CRITICAL_IND END) AS CRITICAL_IND' + CAST(@counter AS VARCHAR(10)) + ', ';\n    SET @counter = @counter + 1;\nEND;\n \n-- Remove trailing comma and space\nSET @cols = LEFT(@cols, LEN(@cols) - 2);\n \n-- Generate the full dynamic SQL query\nSET @query = '\nWITH RankedData AS (\n    SELECT top 100\n        ORD_REQ_NO,\n        ITEM_NO,\n        DIM_X,\n        DIM_Y,\n        DIM_CHAR,\n        DIM_TYPE,\n        DIM_VALUE,\n        CRITICAL_IND,\n        ROW_NUMBER() OVER (PARTITION BY ORD_REQ_NO ORDER BY ITEM_NO) AS RowNum,\n        CEILING(CAST(ROW_NUMBER() OVER (PARTITION BY ORD_REQ_NO ORDER BY ITEM_NO) AS FLOAT) / ' + CAST(@topN AS NVARCHAR) + ') AS GroupNum,\n        ROW_NUMBER() OVER (PARTITION BY ORD_REQ_NO ORDER BY ITEM_NO) AS GroupedRowNum\n    FROM \n        SAP_ORD_SHAPE_VARIANT_DSS \n)\nSELECT \n    ORD_REQ_NO,\n    ITEM_NO,\n    ' + @cols + '\nFROM RankedData\nGROUP BY ORD_REQ_NO, ITEM_NO, GroupNum, GroupedRowNum\nORDER BY ORD_REQ_NO, GroupNum, GroupedRowNum;';",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$item_no"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR",
												"type": "String"
											},
											"sink": {
												"path": "$param_ind_1"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE",
												"type": "String"
											},
											"sink": {
												"path": "$shape_param_1"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE",
												"type": "Decimal"
											},
											"sink": {
												"path": "$segment_length_1"
											}
										},
										{
											"source": {
												"name": "DIM_X",
												"type": "Int32"
											},
											"sink": {
												"path": "$coordinate_x_1"
											}
										},
										{
											"source": {
												"name": "DIM_Y",
												"type": "Int32"
											},
											"sink": {
												"path": "$coordinate_y_1"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND",
												"type": "String"
											},
											"sink": {
												"path": "$critical_ind_1"
											}
										},
										{
											"source": {
												"name": "PRODTYPE_ID",
												"type": "Int32"
											},
											"sink": {
												"path": "$product_type"
											}
										},
										{
											"source": {
												"name": "ORDER_NO",
												"type": "String"
											},
											"sink": {
												"path": "$order_no"
											}
										},
										{
											"source": {
												"name": "PROD_GRP",
												"type": "String"
											},
											"sink": {
												"path": "$SAP_PRODUCT_GROUP"
											}
										},
										{
											"source": {
												"name": "SEGMENT_LENGTH_1"
											},
											"sink": {
												"path": "$['$SEGMENT_LENGTH_1']"
											}
										},
										{
											"source": {
												"name": "SHAPE_PARAM_1"
											},
											"sink": {
												"path": "$['$SHAPE_PARAM_1']"
											}
										},
										{
											"source": {
												"name": "PARAM_IND_1"
											},
											"sink": {
												"path": "$['$PARAM_IND_1']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_X_1"
											},
											"sink": {
												"path": "$['$COORDINATE_X_1']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_Y_1"
											},
											"sink": {
												"path": "$['$COORDINATE_Y_1']"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND_1"
											},
											"sink": {
												"path": "$['$CRITICAL_IND_1']"
											}
										},
										{
											"source": {
												"name": "SEGMENT_LENGTH_2"
											},
											"sink": {
												"path": "$['$SEGMENT_LENGTH_2']"
											}
										},
										{
											"source": {
												"name": "SHAPE_PARAM_2"
											},
											"sink": {
												"path": "$['$SHAPE_PARAM_2']"
											}
										},
										{
											"source": {
												"name": "PARAM_IND_2"
											},
											"sink": {
												"path": "$['$PARAM_IND_2']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_X_2"
											},
											"sink": {
												"path": "$['$COORDINATE_X_2']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_Y_2"
											},
											"sink": {
												"path": "$['$COORDINATE_Y_2']"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND_2"
											},
											"sink": {
												"path": "$['$CRITICAL_IND_2']"
											}
										},
										{
											"source": {
												"name": "SEGMENT_LENGTH_3"
											},
											"sink": {
												"path": "$['Column_5']"
											}
										},
										{
											"source": {
												"name": "SHAPE_PARAM_3"
											},
											"sink": {
												"path": "$['Column_6']"
											}
										},
										{
											"source": {
												"name": "PARAM_IND_3"
											},
											"sink": {
												"path": "$['Column_9']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_X_3"
											},
											"sink": {
												"path": "$['Column_10']"
											}
										},
										{
											"source": {
												"name": "COORDINATE_Y_3"
											},
											"sink": {
												"path": "$['Column_11']"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND_3"
											},
											"sink": {
												"path": "$['Column_12']"
											}
										},
										{
											"sink": {
												"path": "$['Column_13']"
											}
										},
										{
											"sink": {
												"path": "$['Column_14']"
											}
										},
										{
											"sink": {
												"path": "$['Column_15']"
											}
										},
										{
											"sink": {
												"path": "$['Column_16']"
											}
										},
										{
											"sink": {
												"path": "$['Column_17']"
											}
										},
										{
											"sink": {
												"path": "$['Column_18']"
											}
										},
										{
											"sink": {
												"path": "$['Column_19']"
											}
										},
										{
											"sink": {
												"path": "$['Column_20']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "INT048_Table_Joins",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT048_OrderShape_Queue",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE dbo.SCM_Order_Header\r\nSET transfer_status = 'F'\r\nWHERE order_request_no IN (\r\n    SELECT sod.order_request_no\r\n    FROM dbo.SCM_Order_Header sod\r\n    JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n);\r\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Script1_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE dbo.SCM_Order_Header\r\nSET transfer_status = 'S'\r\nWHERE order_request_no IN (\r\n    SELECT sod.order_request_no\r\n    FROM dbo.SCM_Order_Header sod\r\n    JOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no\r\n);\r\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Rowcount",
					"value": {
						"value": "@range(1, int(activity('Lookup1').output.value[0].recordcount))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Rowcount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT048_SCM_OrderShape_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Rowcount": {
				"type": "Array"
			},
			"order_req_no": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}