ADFResources/pipeline/NSH_INT075_FileCreation.json
{
	"name": "NSH_INT075_FileCreation",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Combi_NumrArr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CutFileCreationDFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[SP_INT075_SelectDlineData]",
									"storedProcedureParameters": {
										"CombiNo": {
											"type": "Int32",
											"value": {
												"value": "@item().Combi_Numr",
												"type": "Expression"
											}
										},
										"Dia": {
											"type": "Int32",
											"value": {
												"value": "@item().Dia",
												"type": "Expression"
											}
										},
										"GRADE": {
											"type": "String",
											"value": {
												"value": "@item().ProdType",
												"type": "Expression"
											}
										},
										"RunNo": {
											"type": "String",
											"value": {
												"value": "@item().RunNo",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "FileServerWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"maxRowsPerFile": 10000,
										"fileNamePrefix": {
											"value": "@pipeline().parameters.RunNo",
											"type": "Expression"
										},
										"quoteAllText": true,
										"fileExtension": ".OUS"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "fld_d_no_of_cuts",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"name": "fld_d_section_no",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"name": "fld_d_bin_number",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"name": "fld_d_cut_length",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"name": "fld_d_tag_ref_info",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"name": "fld_d_straight_bend_flag",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"name": "fld_d_bbs_bar_mark_info",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"name": "fld_d_tag_no",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"name": "fld_d_flag_info",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"name": "fld_d_cutting_seq_no",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 10
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NSQADB2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CutTextFile",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Combi_NumrArr",
					"value": {
						"value": "@array('Combi_NumrArr')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Dia": {
				"type": "int"
			},
			"ProdType": {
				"type": "string"
			},
			"RunNo": {
				"type": "string"
			},
			"CombNo": {
				"type": "string"
			}
		},
		"variables": {
			"Combi_Num": {
				"type": "String"
			},
			"Combi_Numr": {
				"type": "String"
			},
			"Combi_NumrArr": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}