ADFResources/pipeline/NSH_INT003_ODOS_OrderAttribute_Pub.json
{
	"name": "NSH_INT003_ODOS_OrderAttribute_Pub",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Script2",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Send_DataFrom_NDS_To_Queue",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE dbo.TBL_DSS_STS_DNS_VAR_TRK \nSET FLD_TRK_STATUS = 'T' \nWHERE fld_trk_sor_no = '8000822701'\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Send_DataFrom_NDS_To_Queue",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT *  \nFROM (\n    SELECT ROW_NUMBER() OVER (ORDER BY FLD_VATTR_MANDT, FLD_VATTR_ID, FLD_VATTR_SOR_NO, FLD_VATTR_ITEM_NO) AS Row,\n           FLD_VATTR_MANDT,\n           FLD_VATTR_ID,\n           FLD_VATTR_SOR_NO,\n           FLD_VATTR_SAL_ORD_NO,\n           FLD_VATTR_ITEM_NO,\n           FLD_VATTR_CLBD_ITEM,\n           FLD_VATTR_REF_SOR_NO,\n           FLD_VATTR_REF_ITEM_NO,\n           FLD_VATTR_ACT_WT_ORDER,\n           FLD_VATTR_ACT_WT_PER_PC,\n           FLD_VATTR_AREA_PER_PC,\n           FLD_VATTR_ASSM_IND,\n           FLD_VATTR_BASE_TO_SALES_UOM,\n           FLD_VATTR_BBSNO,\n           FLD_VATTR_BBS_DESC,\n           FLD_VATTR_BEND_IND,\n           FLD_VATTR_BOM_IND,\n           FLD_VATTR_COMPLEXITY,\n           FLD_VATTR_COU_DIA_1,\n           FLD_VATTR_COU_DIA_2,\n           FLD_VATTR_COU_GRA,\n           FLD_VATTR_COU_SYSTEM,\n           FLD_VATTR_COU_TYPE_1,\n           FLD_VATTR_COU_TYPE_2,\n           FLD_VATTR_COUNT,\n           FLD_VATTR_CSB_IND,\n           FLD_VATTR_CW_COUNT,\n           FLD_VATTR_CW_DIA,\n           FLD_VATTR_CW_INV_LEN,\n           FLD_VATTR_CW_INV_OVR_HANG1,\n           FLD_VATTR_CW_INV_OVR_HANG2,\n           FLD_VATTR_CW_PRD_LEN,\n           FLD_VATTR_CW_PRD_OVR_HANG1,\n           FLD_VATTR_CW_PRD_OVR_HANG2,\n           FLD_VATTR_CW_SPA,\n           FLD_VATTR_DELI_DATE,\n           FLD_VATTR_DEP_IND,\n           FLD_VATTR_DEP_SO_NUMBER,\n           FLD_VATTR_DIAMETER,\n           FLD_VATTR_DRAW_NO,\n           FLD_VATTR_DRAW_REF,\n           FLD_VATTR_DRAW_REV_NO,\n           FLD_VATTR_ELEM_TYPE,\n           FLD_VATTR_END_LAP,\n           FLD_VATTR_EXT_DIM_HGT,\n           FLD_VATTR_EXT_DIM_LGT,\n           FLD_VATTR_EXT_DIM_WDT,\n           FLD_VATTR_FAB_STANDARD,\n           FLD_VATTR_FORMER_DIA,\n           FLD_VATTR_GALVANIZATION_IND,\n           FLD_VATTR_HG_ITEM_NO,\n           FLD_VATTR_IND_ITEM_NO,\n           FLD_VATTR_INV_LEN,\n           FLD_VATTR_INV_WT_ORDER,\n           FLD_VATTR_INV_WT_PER_PC,\n           FLD_VATTR_NO_OF_BEND_PC,\n           FLD_VATTR_NO_OF_CUT_PC,\n           FLD_VATTR_NO_OF_END_PC,\n           FLD_VATTR_NO_OF_PNT_PC,\n           FLD_VATTR_NO_OF_STR_PC,\n           FLD_VATTR_NO_ROLLING,\n           FLD_VATTR_MAINCON_IND,\n           FLD_VATTR_MATL_NO,\n           FLD_VATTR_MESH_TYPE,\n           FLD_VATTR_MW_COUNT,\n           FLD_VATTR_MW_DIA,\n           FLD_VATTR_MW_INV_LEN,\n           FLD_VATTR_MW_INV_OVR_HANG1,\n           FLD_VATTR_MW_INV_OVR_HANG2,\n           FLD_VATTR_MW_PRD_LEN,\n           FLD_VATTR_MW_PRD_OVR_HANG1,\n           FLD_VATTR_MW_PRD_OVR_HANG2,\n           FLD_VATTR_MW_SPA,\n           FLD_VATTR_PILE_DIA,\n           FLD_VATTR_PILE_SEQ,\n           FLD_VATTR_PRD_LENGTH,\n           FLD_VATTR_PRODUCE_IND,\n           FLD_VATTR_PROD_CD,\n           FLD_VATTR_PROD_GRP,\n           FLD_VATTR_PROD_MARK,\n           FLD_VATTR_PROD_ORD_NO,\n           FLD_VATTR_PROD_TYPE,\n           FLD_VATTR_PROJ_SECTOR,\n           FLD_VATTR_REMARKS,\n           FLD_VATTR_RUSH_ORDER_IND,\n           FLD_VATTR_SALES_QTY_IN_SALES_UOM,\n           FLD_VATTR_SALES_UOM,\n           FLD_VATTR_SHAPE_SURCHARGE,\n           FLD_VATTR_SHAPE_CODE,\n           FLD_VATTR_ST_LAP,\n           FLD_VATTR_TOTAL_ITEMS,\n           FLD_VATTR_TWIN_IND,\n           FLD_VATTR_WBS1,\n           FLD_VATTR_WBS2,\n           FLD_VATTR_WBS3,\n           FLD_VATTR_WBS4,\n           FLD_VATTR_WBS5,\n           FLD_VATTR_HIERARCHY,\n           'C' as FLD_VATTR_STATUS,\n           FLD_VATTR_CREATE_BY,\n           FLD_VATTR_CREATE_DATE,\n           FLD_VATTR_PURECSB_IND\n    FROM dbo.TBL_DSS_STS_DNS_VAR_ATTR\n    WHERE fld_vattr_status = 'C'\n          AND fld_vattr_sor_no = (\n              SELECT TOP 1 t1.FLD_TRK_SOR_NO \n              FROM TBL_DSS_STS_DNS_VAR_TRK t1\n              JOIN WMBbjpwo1y t2 ON t1.FLD_TRK_SOR_NO = t2.FLD_TRK_SOR_NO\n\t\t\t  where t1.FLD_TRK_STATUS ='Y' AND t2.FLD_TRK_STATUS ='Y' AND (t2.status != 'P' OR t2.status IS NULL)\n          ) \n    \n) AS Order_Attribute;",
										"type": "Expression"
									},
									"queryTimeout": "02:04:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": "100",
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FLD_VATTR_MANDT",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_MANDT"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ID",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_ID"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SOR_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_SOR_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SAL_ORD_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_SAL_ORD_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_ITEM_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CLBD_ITEM",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_CLBD_ITEM"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_REF_SOR_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_REF_SOR_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_REF_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_REF_ITEM_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ACT_WT_ORDER",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_ACT_WT_ORDER"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ACT_WT_PER_PC",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_ACT_WT_PER_PC"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_AREA_PER_PC",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_AREA_PER_PC"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ASSM_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_ASSM_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_BASE_TO_SALES_UOM",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_BASE_TO_SALES_UOM"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_BBSNO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_BBSNO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_BBS_DESC",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_BBS_DESC"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_BEND_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_BEND_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_BOM_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_BOM_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COMPLEXITY",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_COMPLEXITY"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_DIA_1",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_DIA_1"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_DIA_2",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_DIA_2"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_GRA",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_GRA"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_SYSTEM",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_SYSTEM"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_TYPE_1",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_TYPE_1"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COU_TYPE_2",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_COU_TYPE_2"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_COUNT",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_COUNT"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CSB_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_CSB_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CW_COUNT",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_CW_COUNT"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CW_DIA",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_CW_DIA"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CW_INV_LEN",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_CW_INV_LEN"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CW_INV_OVR_HANG1",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_CW_INV_OVR_HANG1"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CW_INV_OVR_HANG2",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_CW_INV_OVR_HANG2"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_MW_PRD_LEN",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_MW_PRD_LEN"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_MW_PRD_OVR_HANG1",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_MW_PRD_OVR_HANG1"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_MW_PRD_OVR_HANG2",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_MW_PRD_OVR_HANG2"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_MW_SPA",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_MW_SPA"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PILE_DIA",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_PILE_DIA"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PILE_SEQ",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PILE_SEQ"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PRD_LENGTH",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_PRD_LENGTH"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PRODUCE_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_PRODUCE_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROD_CD",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROD_CD"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROD_GRP",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROD_GRP"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROD_MARK",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROD_MARK"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROD_ORD_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROD_ORD_NO"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROD_TYPE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROD_TYPE"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PROJ_SECTOR",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_PROJ_SECTOR"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_REMARKS",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_REMARKS"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_RUSH_ORDER_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_RUSH_ORDER_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SALES_QTY_IN_SALES_UOM",
												"type": "Decimal"
											},
											"sink": {
												"path": "$FLD_VATTR_SALES_QTY_IN_SALES_UOM"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SALES_UOM",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_SALES_UOM"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SHAPE_SURCHARGE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_SHAPE_SURCHARGE"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_SHAPE_CODE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_SHAPE_CODE"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_ST_LAP",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_ST_LAP"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_TOTAL_ITEMS",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_TOTAL_ITEMS"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_TWIN_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_TWIN_IND"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_WBS1",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_WBS1"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_WBS2",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_WBS2"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_WBS3",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_WBS3"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_WBS4",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_WBS4"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_WBS5",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_WBS5"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_HIERARCHY",
												"type": "Int32"
											},
											"sink": {
												"path": "$FLD_VATTR_HIERARCHY"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_STATUS",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_STATUS"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CREATE_BY",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_CREATE_BY"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_CREATE_DATE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_VATTR_CREATE_DATE"
											}
										},
										{
											"source": {
												"name": "FLD_VATTR_PURECSB_IND",
												"type": "Boolean"
											},
											"sink": {
												"path": "$FLD_VATTR_PURECSB_IND"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TBL_DSS_STS_DNS_VAR_TRK",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Order_Attribute_pub",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Send_DataFrom_NDS_To_Queue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT003_STS_OrderAttribute_Sub1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT *  \r\nFROM (\r\n    SELECT ROW_NUMBER() OVER (ORDER BY FLD_VATTR_MANDT, FLD_VATTR_ID, FLD_VATTR_SOR_NO, FLD_VATTR_ITEM_NO) AS Row,\r\n           FLD_VATTR_MANDT,\r\n           FLD_VATTR_ID,\r\n           FLD_VATTR_SOR_NO,\r\n           FLD_VATTR_SAL_ORD_NO,\r\n           FLD_VATTR_ITEM_NO,\r\n           FLD_VATTR_CLBD_ITEM,\r\n           FLD_VATTR_REF_SOR_NO,\r\n           FLD_VATTR_REF_ITEM_NO,\r\n           FLD_VATTR_ACT_WT_ORDER,\r\n           FLD_VATTR_ACT_WT_PER_PC,\r\n           FLD_VATTR_AREA_PER_PC,\r\n           FLD_VATTR_ASSM_IND,\r\n           FLD_VATTR_BASE_TO_SALES_UOM,\r\n           FLD_VATTR_BBSNO,\r\n           FLD_VATTR_BBS_DESC,\r\n           FLD_VATTR_BEND_IND,\r\n           FLD_VATTR_BOM_IND,\r\n           FLD_VATTR_COMPLEXITY,\r\n           FLD_VATTR_COU_DIA_1,\r\n           FLD_VATTR_COU_DIA_2,\r\n           FLD_VATTR_COU_GRA,\r\n           FLD_VATTR_COU_SYSTEM,\r\n           FLD_VATTR_COU_TYPE_1,\r\n           FLD_VATTR_COU_TYPE_2,\r\n           FLD_VATTR_COUNT,\r\n           FLD_VATTR_CSB_IND,\r\n           FLD_VATTR_CW_COUNT,\r\n           FLD_VATTR_CW_DIA,\r\n           FLD_VATTR_CW_INV_LEN,\r\n           FLD_VATTR_CW_INV_OVR_HANG1,\r\n           FLD_VATTR_CW_INV_OVR_HANG2,\r\n           FLD_VATTR_CW_PRD_LEN,\r\n           FLD_VATTR_CW_PRD_OVR_HANG1,\r\n           FLD_VATTR_CW_PRD_OVR_HANG2,\r\n           FLD_VATTR_CW_SPA,\r\n           FLD_VATTR_DELI_DATE,\r\n           FLD_VATTR_DEP_IND,\r\n           FLD_VATTR_DEP_SO_NUMBER,\r\n           FLD_VATTR_DIAMETER,\r\n           FLD_VATTR_DRAW_NO,\r\n           FLD_VATTR_DRAW_REF,\r\n           FLD_VATTR_DRAW_REV_NO,\r\n           FLD_VATTR_ELEM_TYPE,\r\n           FLD_VATTR_END_LAP,\r\n           FLD_VATTR_EXT_DIM_HGT,\r\n           FLD_VATTR_EXT_DIM_LGT,\r\n           FLD_VATTR_EXT_DIM_WDT,\r\n           FLD_VATTR_FAB_STANDARD,\r\n           FLD_VATTR_FORMER_DIA,\r\n           FLD_VATTR_GALVANIZATION_IND,\r\n           FLD_VATTR_HG_ITEM_NO,\r\n           FLD_VATTR_IND_ITEM_NO,\r\n           FLD_VATTR_INV_LEN,\r\n           FLD_VATTR_INV_WT_ORDER,\r\n           FLD_VATTR_INV_WT_PER_PC,\r\n           FLD_VATTR_NO_OF_BEND_PC,\r\n           FLD_VATTR_NO_OF_CUT_PC,\r\n           FLD_VATTR_NO_OF_END_PC,\r\n           FLD_VATTR_NO_OF_PNT_PC,\r\n           FLD_VATTR_NO_OF_STR_PC,\r\n           FLD_VATTR_NO_ROLLING,\r\n           FLD_VATTR_MAINCON_IND,\r\n           FLD_VATTR_MATL_NO,\r\n           FLD_VATTR_MESH_TYPE,\r\n           FLD_VATTR_MW_COUNT,\r\n           FLD_VATTR_MW_DIA,\r\n           FLD_VATTR_MW_INV_LEN,\r\n           FLD_VATTR_MW_INV_OVR_HANG1,\r\n           FLD_VATTR_MW_INV_OVR_HANG2,\r\n           FLD_VATTR_MW_PRD_LEN,\r\n           FLD_VATTR_MW_PRD_OVR_HANG1,\r\n           FLD_VATTR_MW_PRD_OVR_HANG2,\r\n           FLD_VATTR_MW_SPA,\r\n           FLD_VATTR_PILE_DIA,\r\n           FLD_VATTR_PILE_SEQ,\r\n           FLD_VATTR_PRD_LENGTH,\r\n           FLD_VATTR_PRODUCE_IND,\r\n           FLD_VATTR_PROD_CD,\r\n           FLD_VATTR_PROD_GRP,\r\n           FLD_VATTR_PROD_MARK,\r\n           FLD_VATTR_PROD_ORD_NO,\r\n           FLD_VATTR_PROD_TYPE,\r\n           FLD_VATTR_PROJ_SECTOR,\r\n           FLD_VATTR_REMARKS,\r\n           FLD_VATTR_RUSH_ORDER_IND,\r\n           FLD_VATTR_SALES_QTY_IN_SALES_UOM,\r\n           FLD_VATTR_SALES_UOM,\r\n           FLD_VATTR_SHAPE_SURCHARGE,\r\n           FLD_VATTR_SHAPE_CODE,\r\n           FLD_VATTR_ST_LAP,\r\n           FLD_VATTR_TOTAL_ITEMS,\r\n           FLD_VATTR_TWIN_IND,\r\n           FLD_VATTR_WBS1,\r\n           FLD_VATTR_WBS2,\r\n           FLD_VATTR_WBS3,\r\n           FLD_VATTR_WBS4,\r\n           FLD_VATTR_WBS5,\r\n           FLD_VATTR_HIERARCHY,\r\n           'C' as FLD_VATTR_STATUS,\r\n           FLD_VATTR_CREATE_BY,\r\n           FLD_VATTR_CREATE_DATE,\r\n           FLD_VATTR_PURECSB_IND\r\n    FROM dbo.TBL_DSS_STS_DNS_VAR_ATTR\r\n    WHERE fld_vattr_status = 'C'\r\n          AND fld_vattr_sor_no = (\r\n              SELECT TOP 1 t1.FLD_TRK_SOR_NO \r\n              FROM TBL_DSS_STS_DNS_VAR_TRK t1\r\n              JOIN WMBbjpwo1y t2 ON t1.FLD_TRK_SOR_NO = t2.FLD_TRK_SOR_NO\r\n\t\t\t  where t1.FLD_TRK_STATUS ='Y' AND t2.FLD_TRK_STATUS ='Y' AND (t2.status != 'P' OR t2.status IS NULL)\r\n          ) \r\n    \r\n) AS Order_Attribute;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_DSS_STS_DNS_VAR_TRK",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"demo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}