ADFResources/pipeline/NSH_INT014_SAPY_YMSDT_CONTR_PROJ_Pub.json
{
	"name": "NSH_INT014_SAPY_YMSDT_CONTR_PROJ_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyData_FromSapToQueue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT sapsr3.INT014_Interface() AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT_014_YMSDT_CUST_MASTR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Funtion_YorN_condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteData_FromQueue",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int_014_customer_master/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "NSH_INT014_SAPY_YMSDT_CONTR_PROJ_Sub",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT014_SAPY_YMSDT_CONTR_PROJ_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "CopyData_FromSapToQueue",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT *\nFROM (\n   SELECT  mandt,\n              cust_id,\n              contry_key,\n              name1,\n              city,\n              post_code,\n              region,\n              sort_field,\n              hse_strt,\n              tele_no,\n              fax_no,\n              inter_id,\n              rec_type,\n              UDATE\n          FROM\n              sapsr3.ymsdt_cust_mastr\n          WHERE\n              mandt = '110'\n          MINUS\n          SELECT\n              mandt,\n              cust_id,\n              contry_key,\n              name1,\n              city,\n              post_code,\n              region,\n              sort_field,\n              hse_strt,\n              tele_no,\n              fax_no,\n              inter_id,\n              rec_type,\n              UDATE\n          FROM\n              sapsr3.yesb_cust_mastr\n          WHERE\n              mandt = '110'\n              ORDER BY UDATE DESC\n)\nWHERE ROWNUM <= 5;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"path": "$MANDT"
								}
							},
							{
								"source": {
									"name": "CUST_ID",
									"type": "String"
								},
								"sink": {
									"path": "$CUST_ID"
								}
							},
							{
								"source": {
									"name": "CONTRY_KEY",
									"type": "String"
								},
								"sink": {
									"path": "$CONTRY_KEY"
								}
							},
							{
								"source": {
									"name": "NAME1",
									"type": "String"
								},
								"sink": {
									"path": "$NAME1"
								}
							},
							{
								"source": {
									"name": "CITY",
									"type": "String"
								},
								"sink": {
									"path": "$CITY"
								}
							},
							{
								"source": {
									"name": "POST_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$POST_CODE"
								}
							},
							{
								"source": {
									"name": "REGION",
									"type": "String"
								},
								"sink": {
									"path": "$REGION"
								}
							},
							{
								"source": {
									"name": "SORT_FIELD",
									"type": "String"
								},
								"sink": {
									"path": "$SORT_FIELD"
								}
							},
							{
								"source": {
									"name": "HSE_STRT",
									"type": "String"
								},
								"sink": {
									"path": "$HSE_STRT"
								}
							},
							{
								"source": {
									"name": "TELE_NO",
									"type": "String"
								},
								"sink": {
									"path": "$TELE_NO"
								}
							},
							{
								"source": {
									"name": "FAX_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FAX_NO"
								}
							},
							{
								"source": {
									"name": "INTER_ID",
									"type": "String"
								},
								"sink": {
									"path": "$INTER_ID"
								}
							},
							{
								"source": {
									"name": "REC_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$REC_TYPE"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT_014_YMSDT_CUST_MASTR",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NSH_INT014_QUEUE",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}