ADFResources/pipeline/NSH_INT049_IDB_BPC_BOM_Pub.json
{
	"name": "NSH_INT049_IDB_BPC_BOM_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "WITH FirstQuery AS (\r\n    SELECT \r\n        FLD_SBOM_SAL_ORD_NO,\r\n        FLD_SBOM_ORD_ITEM_NO,\r\n        FLD_SBOM_SAL_ITEM_NO\r\n    FROM (\r\n        SELECT \r\n            FLD_SBOM_SAL_ORD_NO,\r\n            FLD_SBOM_ORD_ITEM_NO,\r\n            FLD_SBOM_SAL_ITEM_NO\r\n        FROM scm_admin.BPC_BOM\r\n        MINUS\r\n        SELECT \r\n            FLD_SBOM_SAL_ORD_NO,\r\n            FLD_SBOM_ORD_ITEM_NO,\r\n            FLD_SBOM_SAL_ITEM_NO\r\n        FROM scm_admin.ESB_BPC_BOM\r\n    ) \r\n)\r\nSELECT *\r\nFROM (\r\n    SELECT\r\n        NVL(TRIM(FSQ.FLD_SBOM_REC_TYPE_OBSOLETE), ' ') AS FLD_SBOM_REC_TYPE_OBSOLETE,\r\n        NVL(FSQ.FLD_SBOM_BASE_QTY, 0) AS FLD_SBOM_BASE_QTY,\r\n        NVL(TRIM(FSQ.FLD_SBOM_COMP_MATL_NO), ' ') AS FLD_SBOM_COMP_MATL_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_Q_CREATE_DATE), ' ') AS FLD_SBOM_Q_CREATE_DATE,\r\n        NVL(TRIM(FSQ.FLD_SBOM_COMP_UOM), ' ') AS FLD_SBOM_COMP_UOM,\r\n        NVL(TRIM(FSQ.FLD_SBOM_PROD_ORD_NO), ' ') AS FLD_SBOM_PROD_ORD_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_BOM_ITEM_NO), ' ') AS FLD_SBOM_BOM_ITEM_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_SAL_ORD_NO), ' ') AS FLD_SBOM_SAL_ORD_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_ORD_ITEM_NO), ' ') AS FLD_SBOM_ORD_ITEM_NO,\r\n        NVL(FSQ.FLD_SBOM_COMP_QTY, 0) AS FLD_SBOM_COMP_QTY,\r\n        NVL(TRIM(FSQ.FLD_SBOM_MSG_ID), ' ') AS FLD_SBOM_MSG_ID,\r\n        NVL(TRIM(FSQ.FLD_SBOM_Q_MODIFY_DATE), ' ') AS FLD_SBOM_Q_MODIFY_DATE,\r\n        NVL(TRIM(FSQ.FLD_SBOM_MATL_NO), ' ') AS FLD_SBOM_MATL_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_SAL_ITEM_NO), ' ') AS FLD_SBOM_SAL_ITEM_NO,\r\n        NVL(TRIM(FSQ.FLD_SBOM_Q_PROD_ORD_NO), ' ') AS FLD_SBOM_Q_PROD_ORD_NO,\r\n        NVL(FSQ.REC_ID, 0) AS REC_ID,\r\n        ROWNUM AS RN\r\n    FROM\r\n        scm_admin.BPC_BOM FSQ\r\n    JOIN \r\n        FirstQuery FQ ON FSQ.FLD_SBOM_SAL_ORD_NO = FQ.FLD_SBOM_SAL_ORD_NO\r\n                     AND FSQ.FLD_SBOM_ORD_ITEM_NO = FQ.FLD_SBOM_ORD_ITEM_NO\r\n                     AND FSQ.FLD_SBOM_SAL_ITEM_NO = FQ.FLD_SBOM_SAL_ITEM_NO\r\n)\r\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT049_IDB_BPC_BOM",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "WITH FirstQuery AS (\n    SELECT \n        FLD_SBOM_SAL_ORD_NO,\n        FLD_SBOM_ORD_ITEM_NO,\n        FLD_SBOM_SAL_ITEM_NO\n    FROM (        \n        SELECT \n            FLD_SBOM_SAL_ORD_NO,\n            FLD_SBOM_ORD_ITEM_NO,\n            FLD_SBOM_SAL_ITEM_NO\n        FROM scm_admin.ESB_BPC_BOM\n        where  ESBSTATUS = 'I'\n    )\n)\nSELECT *\nFROM (\n    SELECT\n        NVL(TRIM(FSQ.FLD_SBOM_REC_TYPE_OBSOLETE), ' ') AS FLD_SBOM_REC_TYPE_OBSOLETE,\n        NVL(FSQ.FLD_SBOM_BASE_QTY, 0) AS FLD_SBOM_BASE_QTY,\n        NVL(TRIM(FSQ.FLD_SBOM_COMP_MATL_NO), ' ') AS FLD_SBOM_COMP_MATL_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_Q_CREATE_DATE), ' ') AS FLD_SBOM_Q_CREATE_DATE,\n        NVL(TRIM(FSQ.FLD_SBOM_COMP_UOM), ' ') AS FLD_SBOM_COMP_UOM,\n        NVL(TRIM(FSQ.FLD_SBOM_PROD_ORD_NO), ' ') AS FLD_SBOM_PROD_ORD_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_BOM_ITEM_NO), ' ') AS FLD_SBOM_BOM_ITEM_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_SAL_ORD_NO), ' ') AS FLD_SBOM_SAL_ORD_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_ORD_ITEM_NO), ' ') AS FLD_SBOM_ORD_ITEM_NO,\n        NVL(FSQ.FLD_SBOM_COMP_QTY, 0) AS FLD_SBOM_COMP_QTY,\n        NVL(TRIM(FSQ.FLD_SBOM_MSG_ID), ' ') AS FLD_SBOM_MSG_ID,\n        NVL(TRIM(FSQ.FLD_SBOM_Q_MODIFY_DATE), ' ') AS FLD_SBOM_Q_MODIFY_DATE,\n        NVL(TRIM(FSQ.FLD_SBOM_MATL_NO), ' ') AS FLD_SBOM_MATL_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_SAL_ITEM_NO), ' ') AS FLD_SBOM_SAL_ITEM_NO,\n        NVL(TRIM(FSQ.FLD_SBOM_Q_PROD_ORD_NO), ' ') AS FLD_SBOM_Q_PROD_ORD_NO,\n        NVL(FSQ.REC_ID, 0) AS REC_ID,\n        ROWNUM AS RN\n    FROM\n        scm_admin.BPC_BOM FSQ\n    JOIN \n        FirstQuery FQ ON FSQ.FLD_SBOM_SAL_ORD_NO = FQ.FLD_SBOM_SAL_ORD_NO\n                     AND FSQ.FLD_SBOM_ORD_ITEM_NO = FQ.FLD_SBOM_ORD_ITEM_NO\n                     AND FSQ.FLD_SBOM_SAL_ITEM_NO = FQ.FLD_SBOM_SAL_ITEM_NO\n)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": "400",
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FLD_SBOM_MSG_ID",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_MSG_ID"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_PROD_ORD_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_PROD_ORD_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_SAL_ORD_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_SAL_ORD_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_SAL_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_SAL_ITEM_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_ORD_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_ORD_ITEM_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_MATL_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_MATL_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_BOM_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_BOM_ITEM_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_COMP_QTY",
												"type": "Double"
											},
											"sink": {
												"path": "$FLD_SBOM_COMP_QTY"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_COMP_MATL_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_COMP_MATL_NO"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_COMP_UOM",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_COMP_UOM"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_BASE_QTY",
												"type": "Double"
											},
											"sink": {
												"path": "$FLD_SBOM_BASE_QTY"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_Q_CREATE_DATE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_Q_CREATE_DATE"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_Q_MODIFY_DATE",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_Q_MODIFY_DATE"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_Q_PROD_ORD_NO",
												"type": "String"
											},
											"sink": {
												"path": "$FLD_SBOM_Q_PROD_ORD_NO"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "INT049_IDB_BPC_BOM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT049_QUEUE_QA",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentTime",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 8), 00), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"additionalColumns": [
										{
											"name": "ESBSTATUS",
											"value": "I"
										},
										{
											"name": "ESBUPDATETIME",
											"value": {
												"value": "@variables('CurrentTime')",
												"type": "Expression"
											}
										}
									],
									"oracleReaderQuery": "select FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from (select FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from scm_admin.BPC_BOM\t\t\t\t\t\t\t\r\nminus\t\t\t\t\t\t\t\r\nselect FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from scm_admin.ESB_BPC_BOM)",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 400
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FLD_SBOM_SAL_ORD_NO",
												"type": "String"
											},
											"sink": {
												"name": "FLD_SBOM_SAL_ORD_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_ORD_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"name": "FLD_SBOM_ORD_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FLD_SBOM_SAL_ITEM_NO",
												"type": "String"
											},
											"sink": {
												"name": "FLD_SBOM_SAL_ITEM_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESBSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "ESBSTATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESBUPDATETIME",
												"type": "String"
											},
											"sink": {
												"name": "ESBUPDATETIME",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "INT049_IDB_BPC_BOM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT049_ESB_IDB_bbc_bom",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Sucess",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SCM_IDB_Connect",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update SCM_ADMIN.ESB_BPC_BOM set ESBSTATUS = 'S' where ESBUPDATETIME = '@{variables('CurrentTime')}'and ESBSTATUS = 'I'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "BatchSize",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowCount",
								"value": {
									"value": "@range(1, int(activity('BatchSize').output.value[0].recordcount))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "BatchSize",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": " SELECT Case When count(1)>0 Then     \r\n    cast(count(1)/400 as int) + 1 \r\n    Else 0\r\n    end as recordcount\r\n    FROM (\r\n        SELECT \r\n            FLD_SBOM_SAL_ORD_NO,\r\n            FLD_SBOM_ORD_ITEM_NO,\r\n            FLD_SBOM_SAL_ITEM_NO\r\n        FROM scm_admin.BPC_BOM\r\n        MINUS\r\n        SELECT \r\n            FLD_SBOM_SAL_ORD_NO,\r\n            FLD_SBOM_ORD_ITEM_NO,\r\n            FLD_SBOM_SAL_ITEM_NO\r\n        FROM scm_admin.ESB_BPC_BOM\r\n        where  ESBSTATUS = 'I'\r\n    ) ",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "INT049_IDB_BPC_BOM",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Fail",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SCM_IDB_Connect",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update SCM_ADMIN.ESB_BPC_BOM set ESBSTATUS = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}'and ESBSTATUS = 'I'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('RowCount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT049_STS_BPC_BOM_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String",
				"defaultValue": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))"
			},
			"RowCount": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Prod_Env"
		},
		"annotations": []
	}
}