ADFResources/pipeline/NSH_INT077_YMPPT_LP_HDR_SUB.json
{
	"name": "NSH_INT077_YMPPT_LP_HDR_SUB",
	"properties": {
		"activities": [
			{
				"name": "LOAD_SAP_TALLY",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$LOAD_NO"
								},
								"sink": {
									"name": "LOAD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$LP_STATUS"
								},
								"sink": {
									"name": "LP_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$STATUS"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$ERROR_CD"
								},
								"sink": {
									"name": "ERROR_CD",
									"type": "String"
								}
							},
							{
								"source": {
									"path": ""
								},
								"sink": {
									"name": "CREATE_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": ""
								},
								"sink": {
									"name": "MODIFY_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$VEHICLE_ID"
								},
								"sink": {
									"name": "VEHICLE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$VEHICLE_TYPE"
								},
								"sink": {
									"name": "TRAILER_ID",
									"type": "String"
								}
							},
							{
								"sink": {
									"name": "FLATRACK_ID",
									"type": "String"
								}
							},
							{
								"sink": {
									"name": "CONTAINER_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$TARE_WT"
								},
								"sink": {
									"name": "THEORITICAL_WEIGHT",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$GROSS_WT"
								},
								"sink": {
									"name": "ACTUAL_WEIGHT",
									"type": "Double"
								}
							},
							{
								"sink": {
									"name": "WEIGHING_TICKET_TIME",
									"type": "String"
								}
							},
							{
								"sink": {
									"name": "LOADING_ACTUAL_START",
									"type": "String"
								}
							},
							{
								"sink": {
									"name": "LOADING_ACTUAL_END",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT077_YMPPT_LP_HDR_HEAD",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NSH_INT077_SAP_LOAD_TALLY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select MANDT, LOAD_NO, LP_STATUS from SAPSR3.YESB_LP_HDR",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT077_YMPPT_LP_HDR_SUB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_NO",
					"value": {
						"value": "@activity('LOAD_SAP_TALLY').output.value[0].LOAD_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT LP_STATUS FROM SAPSR3.YMPPT_LP_HDR WHERE LOAD_NO IN ('@{variables('LOAD_NO')}')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT077_YMPPT_LP_HDR",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "update SCM_ADMIN.LOAD_SAP_TALLY set LP_STATUS='',  STATUS='' , ERROR_CD='', MODIFY_DATE='', TRAILER_ID='' WHERE LOAD_NO IN ('@{variables('LOAD_NO')}')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT077_LOAD_SAP_TALLY",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT * FROM SCM_ADMIN.ITEM_ON_LOAD_SAP_TALLY WHERE LOAD_NO IN ('@{variables('LOAD_NO')}')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT to_char(Sum(TALLY_BATCH_QTY)) as TALLY_BATCH_QTY, to_char(Sum(NO_PIECES)) as NO_PIECES, SALES_ORDER, ORDER_ITEM FROM SAPSR3.YMPPT_LP_BATCH_C WHERE LOAD_NO IN ('@{variables('LOAD_NO')}') GROUP BY LOAD_NO, SALES_ORDER, ORDER_ITEM",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script3",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ITEM_NO",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ORDER_NO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT ID, ORDER_PIECES, WEIGHT_IN_KG, ORDER_NO, ORDER_REQUEST_NO, QTY_IN_BASE_UOM FROM SCM_ADMIN.SALES_ORDER_LINE_ON_LOAD WHERE LOAD_NO = '@{variables('LOAD_NO')}' and ITEM_NO = '@{variables('ITEM_ON_LOAD')}' and ORDER_NO = '@{variables('ORDER_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ITEM_ON_LOAD",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NSH_INT077_ITEM_ON_LOAD_SUB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MODIFIED_DATE",
					"value": {
						"value": "@concat(formatDateTime(addminutes(addhours(utcnow(),8),00),\n'yyyy-MM-dd HH:mm:ss'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ITEM_NO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ITEM_ON_LOAD",
					"value": {
						"value": "@activity('Script1').output.value[0].ORDER_ITEM",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ORDER_NO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ORDER_NO",
					"value": {
						"value": "@activity('Script1').output.value[0].ORDER_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script4",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE ITEM_ON_LOAD_SAP_TALLY SET\nDELD_LOAD_QNTY='', \nDELD_LOAD_PCS='', \nMODIFY_DATE='' \nWHERE \nLOAD_NO='@{variables('LOAD_NO')}' AND\nORDER_REQUEST_NO='@{variables('ITEM_ON_LOAD')}' AND\nORDER_ITEM='@{variables('ITEM_ON_LOAD')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script5",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE LOAD_SAP_TALLY \nLP_STATUS='', \nVEHICLE_ID='', \nTHEORITICAL_WEIGHT='', \nACTUAL_WEIGHT='',\nWEIGHING_TICKET_TIME='', \nMODIFY_DATE='@{variables('MODIFIED_DATE')}', \nTRAILER_ID =''\n WHERE LOAD_NO = '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script6",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from SCM_ADMIN.ITEM_ON_LOAD_SAP_TALLY WHERE LOAD_NO =  '@{variables('LOAD_NO')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script7",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update SCM_ADMIN.LOAD_SAP_TALLY \r\nSET LP_STATUS = 'P', \r\nSTATUS='@{variables('STATUS')}', \r\nERROR_CD='@{variables('ERROR_CD')}', \r\nMODIFY_DATE='@{variables('MODIFIED_DATE')}', \r\nTRAILER_ID ='@{variables('TRAILER_ID')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script8",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE  SCM_ADMIN.ITEM_ON_LOAD_SAP_TALLY \r\nset DELD_LOAD_QNTY='@{variables('DELD_LOAD_QNTY')}', \r\nDELD_LOAD_PCS='@{variables('DELD_LOAD_PCS')}', \r\nMODIFY_DATE ='@{variables('MODIFIED_DATE')}', \r\nWHERE LOAD_NO= '@{variables('LOAD_NO')}',\r\nORDER_REQUEST_NO= '@{variables('ORDER_REQUEST_NO')}',\r\nORDER_ITEM= '@{variables('ORDER_ITEM')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Script6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"variables": {
			"LOAD_NO_VALUE": {
				"type": "String"
			},
			"TIMESTAMP": {
				"type": "String"
			},
			"NDS_ORDER": {
				"type": "String"
			},
			"NDS_SALE_ORD": {
				"type": "Array"
			},
			"LOAD_NO": {
				"type": "Array"
			},
			"MODIFIED_DATE": {
				"type": "String"
			},
			"ITEM_ON_LOAD": {
				"type": "Array"
			},
			"ORDER_NO": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}