ADFResources/pipeline/NSH_INT067_IDB_CAB_Bbs_Run_Pub.json
{
	"name": "NSH_INT067_IDB_CAB_Bbs_Run_Pub",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "WITH CABBBSRuns AS (\n    select BBS_RUN_NO from \n    (select BBS_RUN_NO from SCM_ADMIN.ESB_CAB_BBS_RUN\n    where ESBStatus='I'\n    )\n)\nSELECT \n    NVL(B.BBS_RUN_NO, ' ') AS BBS_RUN_NO,\n    NVL(B.HALL_PERIOD_START, ' ') AS HALL_PERIOD_START,\n    NVL(B.SEQ_NO, 0) AS SEQ_NO,\n    NVL(B.PLANNED_START, ' ') AS PLANNED_START,\n    NVL(B.PLANNED_END, ' ') AS PLANNED_END,\n    NVL(B.PLANNED_ORDER_KG, 0) AS PLANNED_ORDER_KG,\n    NVL(B.PLANNED_PRODN_KG, 0) AS PLANNED_PRODN_KG\nFROM \n    SCM_ADMIN.CAB_BBS_RUN B\nJOIN \n    CABBBSRuns M ON B.BBS_RUN_NO = M.BBS_RUN_NO\n",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": "1000",
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "BBS_RUN_NO",
												"type": "String"
											},
											"sink": {
												"path": "$BBS_RUN_NO"
											}
										},
										{
											"source": {
												"name": "HALL_PERIOD_START",
												"type": "String"
											},
											"sink": {
												"path": "$HALL_PERIOD_START"
											}
										},
										{
											"source": {
												"name": "SEQ_NO",
												"type": "Double"
											},
											"sink": {
												"path": "$SEQ_NO"
											}
										},
										{
											"source": {
												"name": "PLANNED_START",
												"type": "String"
											},
											"sink": {
												"path": "$PLANNED_START"
											}
										},
										{
											"source": {
												"name": "PLANNED_END",
												"type": "String"
											},
											"sink": {
												"path": "$PLANNED_END"
											}
										},
										{
											"source": {
												"name": "PLANNED_ORDER_KG",
												"type": "Double"
											},
											"sink": {
												"path": "$PLANNED_ORDER_KG"
											}
										},
										{
											"source": {
												"name": "PLANNED_PRODN_KG",
												"type": "Double"
											},
											"sink": {
												"path": "$PLANNED_PRODN_KG"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "int067_cab_bbs_run",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT067_QUEUE_PROD",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"additionalColumns": [
										{
											"name": "ESBSTATUS",
											"value": "I"
										},
										{
											"name": "ESBUPDATETIME",
											"value": {
												"value": "@variables('CurrentTime')",
												"type": "Expression"
											}
										}
									],
									"oracleReaderQuery": {
										"value": "select BBS_RUN_NO from (select BBS_RUN_NO from SCM_ADMIN.CAB_BBS_RUN\t\t\t\t\t\nminus\t\t\t\t\t\nselect BBS_RUN_NO from SCM_ADMIN.ESB_CAB_BBS_RUN)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "BBS_RUN_NO",
												"type": "String"
											},
											"sink": {
												"name": "BBS_RUN_NO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESBSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "ESBSTATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESBUPDATETIME",
												"type": "String"
											},
											"sink": {
												"name": "ESBUPDATETIME",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "int067_cab_bbs_run",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "int067_ESB_CAB_BBS_RUN",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentTime",
								"value": {
									"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 8), 00), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script5",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SCM_CONNECTION_PROD",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Update SCM_ADMIN.esb_cab_bbs_run Set ESBStatus = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}' and ESBStatus='I'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Script5_copy1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SCM_CONNECTION_PROD",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Update SCM_ADMIN.esb_cab_bbs_run Set ESBStatus = 'S' where ESBUPDATETIME = '@{variables('CurrentTime')}' and ESBStatus = 'I'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "BatchSize",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowCount",
								"value": {
									"value": "@range(1, int(activity('BatchSize').output.value[0].recordcount))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "BatchSize",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": " SELECT Case When count(1)>0 Then     \r\n    cast(count(1)/1000 as int) + 1 \r\n    Else 0\r\n    end as recordcount\r\n    FROM (\r\n          SELECT BBS_RUN_NO \r\n          FROM SCM_ADMIN.ESB_CAB_BBS_RUN  where ESBStatus='I'\r\n    ) ",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "int067_cab_bbs_run",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "WITH CABBBSRuns AS (\r\n    SELECT C.BBS_RUN_NO \r\n    FROM SCM_ADMIN.CAB_BBS_RUN C\r\n    LEFT JOIN SCM_ADMIN.ESB_CAB_BBS_RUN E ON C.BBS_RUN_NO = E.BBS_RUN_NO\r\n    WHERE E.BBS_RUN_NO IS NULL\r\n    AND ROWNUM <= 1000\r\n)\r\nSELECT \r\n    NVL(B.BBS_RUN_NO, ' ') AS BBS_RUN_NO,\r\n    NVL(B.HALL_PERIOD_START, ' ') AS HALL_PERIOD_START,\r\n    NVL(B.SEQ_NO, 0) AS SEQ_NO,\r\n    NVL(B.PLANNED_START, ' ') AS PLANNED_START,\r\n    NVL(B.PLANNED_END, ' ') AS PLANNED_END,\r\n    NVL(B.PLANNED_ORDER_KG, 0) AS PLANNED_ORDER_KG,\r\n    NVL(B.PLANNED_PRODN_KG, 0) AS PLANNED_PRODN_KG\r\nFROM \r\n    SCM_ADMIN.CAB_BBS_RUN B\r\nJOIN \r\n    CABBBSRuns M ON B.BBS_RUN_NO = M.BBS_RUN_NO\r\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "int067_cab_bbs_run",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('RowCount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT067_STS_CAB_Bbs_Run_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String",
				"defaultValue": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))"
			},
			"RowCount": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Prod_Env"
		},
		"annotations": []
	}
}