ADFResources/pipeline/NSH_INT048_ODOS_OrderShape_Pub.json
{
	"name": "NSH_INT048_ODOS_OrderShape_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT (count(1) / 50) + 1 AS recordcount\r\nFROM dbo.SCM_Order_Header sod\r\nJOIN WMBORDERSHAPEbj1ugcj wmb ON sod.order_request_no = wmb.order_request_no;\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup12",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT t1.IDENTITY_NO\r\n      ,t1.ORD_REQ_NO\r\n      ,t1.SALES_ORDER\r\n      ,t1.ITEM_NO\r\n      ,t1.SHAPE_IND\r\n      ,t1.SHAPE_CD\r\n      ,t1.DIM_SEQ\r\n      ,t1.DIM_CHAR\r\n      ,t1.DIM_TYPE\r\n      ,t1.DIM_VALUE\r\n      ,t1.DIM_X\r\n      ,t1.DIM_Y\r\n      ,t1.DIM_Z\r\n      ,t1.CRITICAL_IND\r\n      ,t1.BEND_SEQ\r\n      ,t1.PRINT_TAG\r\n      ,t1.STATUS\r\n      ,t1.PROC_TIMESTAMP\r\n      ,t1.WBSElementId\r\n\t  ,t2.PROD_GRP\r\n  FROM SAP_ORD_SHAPE_VARIANT_DSS t1\r\n  join SAP_ORDER_ITEM t2\r\n  on t1.ORD_REQ_NO = t2.ORD_REQ_NO\r\n  where t1.ORD_REQ_NO = t2.ORD_REQ_NO\r\n  and t1.ITEM_NO = t2.ITEM_NO\r\n  and t1.ORD_REQ_NO = (SELECT top 1 \r\n\t\t\t\t\t\t\tsod.order_request_no\r\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\r\n\t\t\t\t\t\tJOIN \r\n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\r\n\t\t\t\t\t\tON \r\n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no)\r\n  and t1.ITEM_NO IN (select distinct ITEM_NO from SAP_ORD_SHAPE_VARIANT_DSS where ORD_REQ_NO = (SELECT top 1 \r\n\t\t\t\t\t\t\t sod.order_request_no\r\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\r\n\t\t\t\t\t\tJOIN \r\n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\r\n\t\t\t\t\t\tON \r\n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "INT048_Table_Joins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Lookup1').output.value), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT t1.IDENTITY_NO\n      ,t1.ORD_REQ_NO\n      ,t1.SALES_ORDER\n      ,t1.ITEM_NO\n      ,t1.SHAPE_IND\n      ,t1.SHAPE_CD\n      ,t1.DIM_SEQ\n      ,t1.DIM_CHAR\n      ,t1.DIM_TYPE\n      ,t1.DIM_VALUE\n      ,t1.DIM_X\n      ,t1.DIM_Y\n      ,t1.DIM_Z\n      ,t1.CRITICAL_IND\n      ,t1.BEND_SEQ\n      ,t1.PRINT_TAG\n      ,t1.STATUS\n      ,t1.PROC_TIMESTAMP\n      ,t1.WBSElementId\n\t  ,t2.PROD_GRP\n  FROM SAP_ORD_SHAPE_VARIANT_DSS t1\n  join SAP_ORDER_ITEM t2\n  on t1.ORD_REQ_NO = t2.ORD_REQ_NO\n  where t1.ORD_REQ_NO = t2.ORD_REQ_NO\n  and t1.ITEM_NO = t2.ITEM_NO\n  and t1.ORD_REQ_NO = (SELECT top 1 \n\t\t\t\t\t\t\tsod.order_request_no\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\n\t\t\t\t\t\tJOIN \n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\n\t\t\t\t\t\tON \n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no)\n  and t1.ITEM_NO IN (select distinct ITEM_NO from SAP_ORD_SHAPE_VARIANT_DSS where ORD_REQ_NO = (SELECT top 1 \n\t\t\t\t\t\t\t sod.order_request_no\n\t\t\t\t\t\tFROM dbo.SCM_Order_Header sod\n\t\t\t\t\t\tJOIN \n\t\t\t\t\t\t\t WMBORDERSHAPEbj1ugcj wmb\n\t\t\t\t\t\tON \n\t\t\t\t\t\t\t sod.order_request_no = wmb.order_request_no))",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "RestSink",
									"httpRequestTimeout": "00:05:00",
									"requestInterval": 10,
									"requestMethod": "POST",
									"writeBatchSize": 10000,
									"httpCompressionType": "none"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ITEM_NO",
												"type": "String"
											},
											"sink": {
												"path": "$item_no"
											}
										},
										{
											"source": {
												"name": "DIM_CHAR",
												"type": "String"
											},
											"sink": {
												"path": "$param_ind_1"
											}
										},
										{
											"source": {
												"name": "DIM_TYPE",
												"type": "String"
											},
											"sink": {
												"path": "$shape_param_1"
											}
										},
										{
											"source": {
												"name": "DIM_VALUE",
												"type": "Decimal"
											},
											"sink": {
												"path": "$segment_length_1"
											}
										},
										{
											"source": {
												"name": "DIM_X",
												"type": "Int32"
											},
											"sink": {
												"path": "$coordinate_x_1"
											}
										},
										{
											"source": {
												"name": "DIM_Y",
												"type": "Int32"
											},
											"sink": {
												"path": "$coordinate_y_1"
											}
										},
										{
											"source": {
												"name": "CRITICAL_IND",
												"type": "String"
											},
											"sink": {
												"path": "$critical_ind_1"
											}
										},
										{
											"source": {
												"name": "PRODTYPE_ID",
												"type": "Int32"
											},
											"sink": {
												"path": "$product_type"
											}
										},
										{
											"source": {
												"name": "ORDER_NO",
												"type": "String"
											},
											"sink": {
												"path": "$order_no"
											}
										},
										{
											"source": {
												"name": "PROD_GRP",
												"type": "String"
											},
											"sink": {
												"path": "$SAP_PRODUCT_GROUP"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "INT048_Table_Joins",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "INT048_OrderShape_Queue",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "NSQADB5_ODOS_Connection",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update dbo.SCM_Order_Header set transfer_status = 'F' where order_request_no = '@{variables('order_request_no')}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Rowcount",
					"value": {
						"value": "@range(1, int(activity('Lookup1').output.value[0].recordcount))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Rowcount')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT048_SCM_OrderShape_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Rowcount": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}