ADFResources/pipeline/NSH_INT070_STS_OperationalFeedback_Pub.json
{
	"name": "NSH_INT070_STS_OperationalFeedback_Pub",
	"properties": {
		"activities": [
			{
				"name": "Select_STS_to_Queue",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"additionalColumns": [
							{
								"name": "REC_TYPE",
								"value": "Y"
							}
						],
						"sqlReaderQuery": "SELECT top (10) ref_id, SAP_PO_NUM, SCM_Q_PO_NO, SCM_OPERATION_NO, \nSCM_ORD_QTY_KG, SCM_ORD_QTY_PCS, SAP_BATCH_ID, BATCH_QTY, \tBATCH_PCS,PRODN_MACHINE, \nSTART_TIME, END_TIME, \tPRODN_REC_DATE,CREATE_DATE, ISNULL(MODIFY_DATE, GETDATE()) AS MODIFY_DATE, PRODN_ORDER_NO_SCH , PRODN_STATUS, NR_OF_OPERATION , product_type FROM \tSTS.dbo.tbl_sts_scm_prodn_staging_upd_test \nWHERE REC_TYPE='A'  and (SAP_BATCH_ID like 'O%' or \nSAP_BATCH_ID like 'F%' or SAP_BATCH_ID like 'M%' \tor SAP_BATCH_ID like 'P%' or (SAP_BATCH_ID like 'A%' AND PRODN_STATUS <> 'G'))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ref_id",
									"type": "Int64"
								},
								"sink": {
									"path": "$REF_ID"
								}
							},
							{
								"source": {
									"name": "SAP_PO_NUM",
									"type": "String"
								},
								"sink": {
									"path": "$SAP_PO_NUM"
								}
							},
							{
								"source": {
									"name": "SCM_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$SCM_Q_PO_NO"
								}
							},
							{
								"source": {
									"name": "SCM_OPERATION_NO",
									"type": "Int32"
								},
								"sink": {
									"path": "$SCM_OPERATION_NO"
								}
							},
							{
								"source": {
									"name": "SCM_ORD_QTY_KG",
									"type": "Decimal"
								},
								"sink": {
									"path": "$SCM_ORD_QTY_KG"
								}
							},
							{
								"source": {
									"name": "SCM_ORD_QTY_PCS",
									"type": "Decimal"
								},
								"sink": {
									"path": "$SCM_ORD_QTY_PCS"
								}
							},
							{
								"source": {
									"name": "SAP_BATCH_ID",
									"type": "String"
								},
								"sink": {
									"path": "$SAP_BATCH_ID"
								}
							},
							{
								"source": {
									"name": "BATCH_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$BATCH_QTY"
								}
							},
							{
								"source": {
									"name": "BATCH_PCS",
									"type": "Int32"
								},
								"sink": {
									"path": "$BATCH_PCS"
								}
							},
							{
								"source": {
									"name": "PRODN_MACHINE",
									"type": "String"
								},
								"sink": {
									"path": "$PRODN_MACHINE"
								}
							},
							{
								"source": {
									"name": "START_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$START_TIME"
								}
							},
							{
								"source": {
									"name": "END_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$END_TIME"
								}
							},
							{
								"source": {
									"name": "PRODN_REC_DATE",
									"type": "DateTime"
								},
								"sink": {
									"path": "$PRODN_REC_DATE"
								}
							},
							{
								"source": {
									"name": "CREATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"path": "$['$CREATE_DATE']"
								}
							},
							{
								"source": {
									"name": "MODIFY_DATE",
									"type": "DateTime"
								},
								"sink": {
									"path": "$['$MODIFY_DATE']"
								}
							},
							{
								"source": {
									"name": "PRODN_ORDER_NO_SCH",
									"type": "String"
								},
								"sink": {
									"path": "$['$PRODN_ORDER_NO_SCH']"
								}
							},
							{
								"source": {
									"name": "PRODN_STATUS",
									"type": "String"
								},
								"sink": {
									"path": "$['$PRODN_STATUS']"
								}
							},
							{
								"source": {
									"name": "NR_OF_OPERATION",
									"type": "Decimal"
								},
								"sink": {
									"path": "$['$NR_OF_OPERATION']"
								}
							},
							{
								"source": {
									"name": "product_type",
									"type": "String"
								},
								"sink": {
									"path": "$['$product_type']"
								}
							},
							{
								"source": {
									"name": "REC_TYPE"
								},
								"sink": {
									"path": "$['$REC_TYPE']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "tbl_sts_scm_prodn_staging_upd_test",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT070_Queue",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update tbl_sts_scm_prodn_staging_upd_test",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "NSQADB2Connection",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update REC_TYPE = 'A', MODIFY_BY = 'ESB INT070', MODIFY_DATE =FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss.fff') from dbo.tbl_sts_scm_prodn_staging_upd_test where REF_ID = \r\n'@{variables('REF_ID')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Update tbl_sts_scm_prodn_staging_upd_test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NSH_INT070_IDB_OperationalFeedback_Sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Select_STS_to_Queue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT top (10) ref_id, SAP_PO_NUM, SCM_Q_PO_NO, SCM_OPERATION_NO, \nSCM_ORD_QTY_KG, SCM_ORD_QTY_PCS, SAP_BATCH_ID, BATCH_QTY, \tBATCH_PCS,PRODN_MACHINE, \nSTART_TIME, END_TIME, \tPRODN_REC_DATE,CREATE_DATE, ISNULL(MODIFY_DATE, GETDATE()) AS MODIFY_DATE, PRODN_ORDER_NO_SCH , PRODN_STATUS, NR_OF_OPERATION , product_type FROM \tSTS.dbo.tbl_sts_scm_prodn_staging_upd_test \nWHERE REC_TYPE='A'  and (SAP_BATCH_ID like 'O%' or \nSAP_BATCH_ID like 'F%' or SAP_BATCH_ID like 'M%' \tor SAP_BATCH_ID like 'P%' or (SAP_BATCH_ID like 'A%' AND PRODN_STATUS <> 'G'))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "tbl_sts_scm_prodn_staging_upd_test",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ref_id",
					"value": {
						"value": "@activity('Lookup1').output.value[0].ref_id",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"tag_no": {
				"type": "String"
			},
			"scm_operation_no": {
				"type": "String"
			},
			"ref_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}