ADFResources/pipeline/NSH_INT049_IDB_BPC_BOM_Pub.json
{
	"name": "NSH_INT049_IDB_BPC_BOM_Pub",
	"properties": {
		"activities": [
			{
				"name": "Lookup_USP_INT049",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT049') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT023_YMPCT_MAT_DETAIL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT049",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT049').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int049_idb_bpc_bom/messages/head",
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT049_STS_BPC_BOM_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ESBUPDATETIME": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT049",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int049_idb_bpc_bom/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			},
			{
				"name": "Copy data2_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n   select FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from (select FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from scm_admin.BPC_BOM\t\t\t\t\t\t\t\nminus\t\t\t\t\t\t\t\nselect FLD_SBOM_SAL_ORD_NO,FLD_SBOM_ORD_ITEM_NO,FLD_SBOM_SAL_ITEM_NO from scm_admin.ESB_BPC_BOM) where rownum <= '1000'\n)\nSELECT\n    NVL(TRIM(FSQ.FLD_SBOM_REC_TYPE_OBSOLETE), ' ') AS FLD_SBOM_REC_TYPE_OBSOLETE,\n    NVL(FSQ.FLD_SBOM_BASE_QTY, 0) AS FLD_SBOM_BASE_QTY,\n    NVL(TRIM(FSQ.FLD_SBOM_COMP_MATL_NO), ' ') AS FLD_SBOM_COMP_MATL_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_Q_CREATE_DATE), ' ') AS FLD_SBOM_Q_CREATE_DATE,\n    NVL(TRIM(FSQ.FLD_SBOM_COMP_UOM), ' ') AS FLD_SBOM_COMP_UOM,\n    NVL(TRIM(FSQ.FLD_SBOM_PROD_ORD_NO), ' ') AS FLD_SBOM_PROD_ORD_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_BOM_ITEM_NO), ' ') AS FLD_SBOM_BOM_ITEM_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_SAL_ORD_NO), ' ') AS FLD_SBOM_SAL_ORD_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_ORD_ITEM_NO), ' ') AS FLD_SBOM_ORD_ITEM_NO,\n    NVL(FSQ.FLD_SBOM_COMP_QTY, 0) AS FLD_SBOM_COMP_QTY,\n    NVL(TRIM(FSQ.FLD_SBOM_MSG_ID), ' ') AS FLD_SBOM_MSG_ID,\n    NVL(TRIM(FSQ.FLD_SBOM_Q_MODIFY_DATE), ' ') AS FLD_SBOM_Q_MODIFY_DATE,\n    NVL(TRIM(FSQ.FLD_SBOM_MATL_NO), ' ') AS FLD_SBOM_MATL_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_SAL_ITEM_NO), ' ') AS FLD_SBOM_SAL_ITEM_NO,\n    NVL(TRIM(FSQ.FLD_SBOM_Q_PROD_ORD_NO), ' ') AS FLD_SBOM_Q_PROD_ORD_NO,\n    NVL(FSQ.REC_ID, 0) AS REC_ID\nFROM\n    scm_admin.BPC_BOM\tFSQ\n    JOIN FirstQuery FQ ON FSQ.FLD_SBOM_SAL_ORD_NO = FQ.FLD_SBOM_SAL_ORD_NO\n                       AND FSQ.FLD_SBOM_ORD_ITEM_NO = FQ.FLD_SBOM_ORD_ITEM_NO\n                       AND FSQ.FLD_SBOM_SAL_ITEM_NO = FQ.FLD_SBOM_SAL_ITEM_NO;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_SBOM_MSG_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_MSG_ID"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_PROD_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_PROD_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_SAL_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_SAL_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_SAL_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_SAL_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_ORD_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_ORD_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_BOM_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_BOM_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_COMP_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_SBOM_COMP_QTY"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_COMP_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_COMP_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_COMP_UOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_COMP_UOM"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_BASE_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_SBOM_BASE_QTY"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_Q_CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_Q_CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_SBOM_Q_MODIFY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_SBOM_Q_MODIFY_DATE"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "IDB_BPC_BOM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT049_IDB_BPC_BOM",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}