ADFResources/pipeline/NSH_INT050_demo_pub.json
{
	"name": "NSH_INT050_demo_pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data2_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PROCESS_TIME",
									"type": "Decimal"
								},
								"sink": {
									"path": "$['$FLD_PSCH_PLAN_PROCESS_TIME']"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_REC_TYPE_OBSOLETE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_REC_TYPE_OBSOLETE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_UOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_UOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SEQ_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_NXT_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_NXT_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PROD_GROUP",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PROD_GROUP"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ENG_DWG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ENG_DWG_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_DEPNT_REQ_FLAG",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_DEPNT_REQ_FLAG"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MSG_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MSG_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_QTY_PCS",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_QTY_PCS"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_SHIFT",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_SHIFT"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RUN_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RUN_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_QTY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHAPE_CODE_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHAPE_CODE_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_SETUP_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_SETUP_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_ITEM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_ITEM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHIP_TO_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHIP_TO_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_END_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_END_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_ISRELEASE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_ISRELEASE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_MODIFY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_MODIFY_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_OPER_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_OPER_TYPE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_RELEASE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_RELEASE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PO_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_SEQ_NO",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_START_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_START_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_FROM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_TAG_ID_FROM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_TO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_TAG_ID_TO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITYUOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITYUOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PU_NR_OF_OPERATION",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PU_NR_OF_OPERATION"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RELEASE_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RELEASE_CODE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_LOADING_START",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_LOADING_START"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_LOADING_END",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_LOADING_END"
								}
							},
							{
								"source": {
									"name": "REC_ID",
									"type": "Double"
								},
								"sink": {
									"path": "$REC_ID"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "INT050_IDB_BPCSEQENCING",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IDB_BpcSeqencing",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_USP_INT050",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT INT_Interface('USP_INT050') AS Result FROM dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NSH_INT023_YMPCT_MAT_DETAIL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT050",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup_USP_INT050').output.firstRow.RESULT, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1_copy2",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int050_bpcseqencing/messages/head"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "NSH_INT050_STS_BPCSequencing_Sub",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ESBUPDATETIME": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_USP_INT050",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/int050_bpcseqencing/messages/head"
				}
			}
		],
		"annotations": []
	}
}