ADFResources/pipeline/NSH_INT063_SAPY_cabsequencing_Pub.json
{
	"name": "NSH_INT063_SAPY_cabsequencing_Pub",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "WITH FirstQuery AS (\n    SELECT \n        FLD_PSCH_Q_PO_NO,\n        FLD_PSCH_Q_SEQ_NO,\n        FLD_PSCH_Q_PRODN_ORD_NO,\n        FLD_PSCH_TAG_ID_FROM,\n        FLD_PSCH_PLAN_WRK_CTR\n    FROM (\n        SELECT \n            FLD_PSCH_Q_PO_NO,\n            FLD_PSCH_Q_SEQ_NO,\n            FLD_PSCH_Q_PRODN_ORD_NO,\n            FLD_PSCH_TAG_ID_FROM,\n            FLD_PSCH_PLAN_WRK_CTR\n        FROM scm_admin.cabsequencing\n        MINUS\n        SELECT \n            FLD_PSCH_Q_PO_NO,\n            FLD_PSCH_Q_SEQ_NO,\n            FLD_PSCH_Q_PRODN_ORD_NO,\n            FLD_PSCH_TAG_ID_FROM,\n            FLD_PSCH_PLAN_WRK_CTR\n        FROM scm_admin.esb_cabsequencing\n    )\n    WHERE rownum <= '1000'\n)\nSELECT\t\t\t\t \t\t\t\t\n    NVL(FSQ.FLD_PSCH_Q_PO_NO, ' ') AS FLD_PSCH_Q_PO_NO,\n    NVL(FSQ.FLD_PSCH_Q_SEQ_NO, 0) AS FLD_PSCH_Q_SEQ_NO,\n    NVL(FLD_PSCH_Q_OPER_TYPE, ' ') AS FLD_PSCH_Q_OPER_TYPE,\n    NVL(FLD_PSCH_Q_START_TIME, ' ') AS FLD_PSCH_Q_START_TIME,\n    NVL(FLD_PSCH_Q_END_TIME, ' ') AS FLD_PSCH_Q_END_TIME,\n    NVL(FLD_PSCH_PLAN_PROCESS_TIME, 0) AS FLD_PSCH_PLAN_PROCESS_TIME,\n    NVL(FLD_PSCH_MSG_ID, ' ') AS FLD_PSCH_MSG_ID,\n    NVL(FLD_PSCH_CUST_ID, ' ') AS FLD_PSCH_CUST_ID,\n    SUBSTR(REPLACE(FLD_PSCH_CUST_DESC,'''','\"'),0,50) AS FLD_PSCH_CUST_DESC,\n    SUBSTR(REPLACE(FLD_PSCH_SHIP_TO_DESC,'''','\"'),0,50) AS FLD_PSCH_SHIP_TO_DESC,\n    NVL(FSQ.FLD_PSCH_Q_PRODN_ORD_NO, ' ') AS FLD_PSCH_Q_PRODN_ORD_NO,\n    NVL(FLD_PSCH_PRODN_ORD_NO, ' ') AS FLD_PSCH_PRODN_ORD_NO,\n    NVL(FLD_PSCH_SAL_ORD_NO, ' ') AS FLD_PSCH_SAL_ORD_NO,\n    NVL(FLD_PSCH_ITEM_NO, ' ') AS FLD_PSCH_ITEM_NO,\n    NVL(FLD_PSCH_MATL_NO, ' ') AS FLD_PSCH_MATL_NO,\n    NVL(FLD_PSCH_PROD_GROUP, ' ') AS FLD_PSCH_PROD_GROUP,\n    NVL(FLD_PSCH_SHAPE_CODE_ID, ' ') AS FLD_PSCH_SHAPE_CODE_ID,\n    NVL(FLD_PSCH_SAL_FG_QTY, 0) AS FLD_PSCH_SAL_FG_QTY,\n    NVL(FLD_PSCH_SAL_FG_UOM, ' ') AS FLD_PSCH_SAL_FG_UOM,\n    NVL(FLD_PSCH_PRODN_QTY_PCS, 0) AS FLD_PSCH_PRODN_QTY_PCS,\n    NVL(FLD_PSCH_PLAN_PRODN_DATE, ' ') AS FLD_PSCH_PLAN_PRODN_DATE,\n    NVL(FLD_PSCH_PLAN_PRODN_SHIFT, ' ') AS FLD_PSCH_PLAN_PRODN_SHIFT,\n    SUBSTR(REPLACE(FLD_PSCH_RUN_NO,'''','\"'),0,12) AS FLD_PSCH_RUN_NO,\n    NVL(FSQ.FLD_PSCH_TAG_ID_FROM, ' ') AS FLD_PSCH_TAG_ID_FROM,\n    NVL(FLD_PSCH_DEPNT_REQ_FLAG, ' ') AS FLD_PSCH_DEPNT_REQ_FLAG,\n    NVL(FLD_PSCH_INDEPNT_ITEM, 0) AS FLD_PSCH_INDEPNT_ITEM,\n    NVL(FLD_PSCH_INDEPNT_MATL_NO, ' ') AS FLD_PSCH_INDEPNT_MATL_NO,\n    NVL(FLD_PSCH_ENG_DWG_NO, ' ') AS FLD_PSCH_ENG_DWG_NO,\n    NVL(FSQ.FLD_PSCH_PLAN_WRK_CTR, ' ') AS FLD_PSCH_PLAN_WRK_CTR,\n    NVL(FLD_PSCH_PLAN_SETUP_TIME, 0) AS FLD_PSCH_PLAN_SETUP_TIME,\n    NVL(FLD_PSCH_SEQ_NO, '0') AS FLD_PSCH_SEQ_NO,\n    NVL(FLD_PSCH_NXT_WRK_CTR, ' ') AS FLD_PSCH_NXT_WRK_CTR,\n    NVL(FLD_PSCH_Q_ISRELEASE, ' ') AS FLD_PSCH_Q_ISRELEASE,\n    NVL(FLD_PSCH_Q_RELEASE_DATE, ' ') AS FLD_PSCH_Q_RELEASE_DATE,\n    NVL(FLD_PSCH_Q_CREATE_DATE, ' ') AS FLD_PSCH_Q_CREATE_DATE,\n    NVL(FLD_PSCH_Q_MODIFY_DATE, ' ') AS FLD_PSCH_Q_MODIFY_DATE,\n    NVL(FLD_PSCH_RELEASE_CODE, ' ') AS FLD_PSCH_RELEASE_CODE,\n    NVL(FLD_PSCH_PU_NR_OF_OPERATION, 0) AS FLD_PSCH_PU_NR_OF_OPERATION,\n    CASE \n        WHEN FLD_PSCH_UOPQUANTITY < 0 THEN '1'\n        ELSE NVL(TO_CHAR(FLD_PSCH_UOPQUANTITY), '0')\n    END AS FLD_PSCH_UOPQUANTITY,\n    NVL(FLD_PSCH_UOPQUANTITYUOM, ' ') AS FLD_PSCH_UOPQUANTITYUOM\nFROM scm_admin.cabsequencing FSQ \nJOIN FirstQuery FQ ON \n    FSQ.FLD_PSCH_Q_PO_NO = FQ.FLD_PSCH_Q_PO_NO AND\n    FSQ.FLD_PSCH_Q_SEQ_NO = FQ.FLD_PSCH_Q_SEQ_NO AND\n    FSQ.FLD_PSCH_Q_PRODN_ORD_NO = FQ.FLD_PSCH_Q_PRODN_ORD_NO AND\n    FSQ.FLD_PSCH_TAG_ID_FROM = FQ.FLD_PSCH_TAG_ID_FROM AND\n    FSQ.FLD_PSCH_PLAN_WRK_CTR = FQ.FLD_PSCH_PLAN_WRK_CTR;\n",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:05:00",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PO_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_SEQ_NO",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_OPER_TYPE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_OPER_TYPE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_START_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_START_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_END_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_END_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PROCESS_TIME",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PROCESS_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MSG_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MSG_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_CUST_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_CUST_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHIP_TO_DESC",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHIP_TO_DESC"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_ORD_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_ORD_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ITEM_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ITEM_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PROD_GROUP",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PROD_GROUP"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SHAPE_CODE_ID",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SHAPE_CODE_ID"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_QTY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_QTY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SAL_FG_UOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SAL_FG_UOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PRODN_QTY_PCS",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PRODN_QTY_PCS"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_PRODN_SHIFT",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_PRODN_SHIFT"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RUN_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RUN_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_FROM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_TAG_ID_FROM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_DEPNT_REQ_FLAG",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_DEPNT_REQ_FLAG"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_ITEM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_ITEM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_INDEPNT_MATL_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_INDEPNT_MATL_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_ENG_DWG_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_ENG_DWG_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_SETUP_TIME",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_PLAN_SETUP_TIME"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_SEQ_NO",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_SEQ_NO"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_NXT_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_NXT_WRK_CTR"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_ISRELEASE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_ISRELEASE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_RELEASE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_RELEASE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_CREATE_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_CREATE_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_MODIFY_DATE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_Q_MODIFY_DATE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITY",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITY"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_UOPQUANTITYUOM",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_UOPQUANTITYUOM"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_RELEASE_CODE",
									"type": "String"
								},
								"sink": {
									"path": "$FLD_PSCH_RELEASE_CODE"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PU_NR_OF_OPERATION",
									"type": "Decimal"
								},
								"sink": {
									"path": "$FLD_PSCH_PU_NR_OF_OPERATION"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT063_cabsequencing_DATASET",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "cabsequencing_queue",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeleteDataFrom_Queue_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/nsh_int063_cabsequencing/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update SCM_ADMIN.ESB_CABSEQUENCING set ESBSTATUS = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "ESBSTATUS",
								"value": "S"
							},
							{
								"name": "ESBUPDATETIME",
								"value": {
									"value": "@variables('CurrentTime')",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "select FLD_PSCH_Q_PO_NO,FLD_PSCH_Q_SEQ_NO,FLD_PSCH_Q_PRODN_ORD_NO,FLD_PSCH_TAG_ID_FROM,FLD_PSCH_PLAN_WRK_CTR from (select FLD_PSCH_Q_PO_NO,FLD_PSCH_Q_SEQ_NO,FLD_PSCH_Q_PRODN_ORD_NO,FLD_PSCH_TAG_ID_FROM,FLD_PSCH_PLAN_WRK_CTR from scm_admin.cabsequencing\t\t\t\t\t\t\r\nminus\t\t\t\t\t\t\r\nselect FLD_PSCH_Q_PO_NO,FLD_PSCH_Q_SEQ_NO,FLD_PSCH_Q_PRODN_ORD_NO,FLD_PSCH_TAG_ID_FROM,FLD_PSCH_PLAN_WRK_CTR from scm_admin.esb_cabsequencing)\t\t\t\t\t\t\r\nwhere rownum <=1000\t\t\t\t\t",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_Q_PO_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_SEQ_NO",
									"type": "Decimal"
								},
								"sink": {
									"name": "FLD_PSCH_Q_SEQ_NO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_Q_PRODN_ORD_NO",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_Q_PRODN_ORD_NO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_TAG_ID_FROM",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_TAG_ID_FROM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FLD_PSCH_PLAN_WRK_CTR",
									"type": "String"
								},
								"sink": {
									"name": "FLD_PSCH_PLAN_WRK_CTR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "ESBSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ESBUPDATETIME",
									"type": "String"
								},
								"sink": {
									"name": "ESBUPDATETIME",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NSH_INT063_cabsequencing_DATASET",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Esb_CabSequencing",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTime",
					"value": {
						"value": "@concat(formatDateTime(addminutes(addhours(utcnow(), 5), 30), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NSH_INT063_SAPY_CAB_BOM_Sub_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NSH_INT063_STS_tbl_dss_sts_dns_prodn_schd_Sub",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "Script1_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "NSH_INT063_SAPY_CAB_BOM_Sub_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SCM_IDB_Connect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "update SCM_ADMIN.ESB_CABSEQUENCING set ESBSTATUS = 'E' where ESBUPDATETIME = '@{variables('CurrentTime')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CurrentTime": {
				"type": "String",
				"defaultValue": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss'), '.', formatDateTime(utcnow(), 'fff'))"
			}
		},
		"annotations": []
	}
}