ADFResources/pipeline/pipeline12.json
{
	"name": "pipeline12",
	"properties": {
		"activities": [
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SapToSts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "@x",
					"value": 1
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "select count(*) from ups_prodorder where status='A'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable5",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "po not in(select tuo_ord_no from T_UPST_ORDER_Temp)",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable6",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "Lookup3",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "po_id",
												"value": "@item().PO_ID"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "select ablad from ups_prodorder where po_id=@PO_ID",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SqlServerTable7",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Script1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Lookup3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "IgnitionQA",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "select @PO=PO,@ABLAD=ablad,@PRODN_ORDER_NO=substring(ablad,1,11),@VORNR=VORNR,@WorkCtrID=WorkCtrID from ups_prodorder where po_id=@PO_ID"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Script2",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Script1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "STS_QA",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": "select @Wrk_Cent=WorkCtr from mast_workctr where WorkCtrID=@WorkCtrID"
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						},
						{
							"name": "If Condition3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"ifFalseActivities": [
									{
										"name": "Copy1_1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "INSERT INTO tbl_sts_scm_operation_feedback (REF_ID,PRODN_ORDER_NO,SEQ_NO,SAP_PRODN_ORDER_NO,PHYSICAL_RESOURCE,SAP_ORD_NO,SAP_ITEM_NO,PROC_ID,PRODN_START,PRODN_END,CUM_PRODN_QTY,OPEN_QTY,UOM,CUM_PRODN_PIECES,OPEN_PIECES,REMARKS,TIME_STAMP,IS_CLOSED_IND,UPDATE_STATUS,REC_TYPE,CREATE_DATE,CREATE_BY,REQ_TECO_IND,PRODN_ORDER_NO_US)\n\t\t\t\t\t VALUES (null,@PRODN_ORDER_NO,0,@PO,@Wrk_Cent,'',@VORNR,0,convert(varchar(19),getdate(),120),convert(varchar(19),getdate(),120),0.001,null,null,1,null,null,substring(convert(varchar(26),getdate(),121),1,10)+'.'+substring(convert(varchar(26),getdate(),121),12,2)+'.'+substring(convert(varchar(26),getdate(),121),15,2)+'.'+substring(convert(varchar(26),getdate(),121),18,3)+right('000'+convert(varchar(3),@x),3),'Y','F','R',getdate(),'STS_P_3_0','N',@ABLAD)",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SqlServerTable7",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "tbl_sts_scm_operation_feedback",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "update tbl_sts_scm_operation_feedback set TIME_STAMP=substring(convert(varchar(26),getdate(),121),1,10)+'.'+substring(convert(varchar(26),getdate(),121),12,2)+'.'+substring(convert(varchar(26),getdate(),121),15,2)+'.'+substring(convert(varchar(26),getdate(),121),18,3)+right('000'+convert(varchar(3),@x),3),IS_CLOSED_IND='Y',UPDATE_STATUS='F',REC_TYPE='R',MODIFY_DATE=null,MODIFY_BY=null,REQ_TECO_IND='N',PRODN_ORDER_NO_US=@ABLAD where PRODN_ORDER_NO=@PRODN_ORDER_NO and SAP_PRODN_ORDER_NO=@PO",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SqlServerTable7",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "tbl_sts_scm_operation_feedback",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Script3",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "IgnitionQA",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update ups_prodorder with (rowlock) set status='Y' where status='A' and po not in(select tuo_ord_no from T_UPST_ORDER_Temp)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script4",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Script3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "IgnitionQA",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update ups_prodorder with (rowlock)  set status='A' where status='Y' and workctrid>10 and po in(select tuo_ord_no from T_UPST_ORDER_Temp)\n\t"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"@x": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}