ADFResources/pipeline/pipeline10.json
{
	"name": "pipeline10",
	"properties": {
		"activities": [
			{
				"name": "Truncate_Table",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "STS_QA",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE T_UPST_ORDER_Temp;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * from sapsr3.ympct_upst_order where ARBPL<>'MSLAFC01'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MANDT",
									"type": "String"
								},
								"sink": {
									"name": "TUO_MANDT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MATNR_AIM",
									"type": "String"
								},
								"sink": {
									"name": "TUO_AIM_MATL_NO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AUFNR",
									"type": "String"
								},
								"sink": {
									"name": "TUO_ORD_NO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PSMNG",
									"type": "Decimal"
								},
								"sink": {
									"name": "TUO_ORD_ITEM_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "DGLTP",
									"type": "String"
								},
								"sink": {
									"name": "TUO_BSC_FINISH_DT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PSMNG",
									"type": "Decimal"
								},
								"sink": {
									"name": "TUO_SCHD_FINISH_DT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IGMNG",
									"type": "Decimal"
								},
								"sink": {
									"name": "TUO_ORD_CONFRM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 15
								}
							},
							{
								"source": {
									"name": "INTER_ID",
									"type": "String"
								},
								"sink": {
									"name": "TUO_INTERFACE_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "TUO_ID_MESSAGE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ERROR_CD",
									"type": "String"
								},
								"sink": {
									"name": "TUO_ERROR_CD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String"
								},
								"sink": {
									"name": "TUO_STATUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PROC_TS",
									"type": "String"
								},
								"sink": {
									"name": "TUO_PROC_TS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REC_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "TUO_REC_TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ARBPL",
									"type": "String"
								},
								"sink": {
									"name": "TUO_WRK_CENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DAUAT",
									"type": "String"
								},
								"sink": {
									"name": "TUO_ORD_TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRODH",
									"type": "String"
								},
								"sink": {
									"name": "TUO_PRODH",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "VORNR",
									"type": "String"
								},
								"sink": {
									"name": "TUO_VORNR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ABLAD",
									"type": "String"
								},
								"sink": {
									"name": "TUO_ABLAD",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IgnitionSAPdatabase",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SapToSts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SapToSts",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "Lookup2",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "AIM_MATL_NO",
												"value": "@item().AIM_MATL_NO"
											},
											{
												"name": "dbo.Mast_MaterialNo",
												"value": "@item().dbo.Mast_MaterialNo"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "select * from Mast_MaterialNo where Matl_No=@item().AIM_MATL_NO",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "MaterialNo_check",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Lookup3",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Lookup2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "WorkCtr",
												"value": "@item().Work_CENT"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "SELECT WorkCtrID\nFROM mast_workctr\nWHERE WorkCtr = @WRK_CENT\n",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SapToSts",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"ifFalseActivities": [
									{
										"name": "Copy data4",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Lookup4",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": "select * from [dbo].[UPS_ProdOrder] where MATL_NO=@AIM_MATL_NO and PO=@ORD_NO",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SqlServerTable3",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "Copy data3",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Wait2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SapToSts",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "SqlServerTable4",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Wait2",
										"type": "Wait",
										"dependsOn": [
											{
												"activity": "Lookup4",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 10
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}