ADFResources/pipeline/Snehal_10_test_subscriber.json
{
	"name": "Snehal_10_test_subscriber",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['$ORDER_REQUEST_NO']"
								},
								"sink": {
									"name": "SOR_Number"
								}
							},
							{
								"source": {
									"path": "$['$SALES_ORDER']"
								},
								"sink": {
									"name": "SO_Number"
								}
							},
							{
								"source": {
									"path": "$['$TM_ACCESS']"
								},
								"sink": {
									"name": "TM_Access"
								}
							},
							{
								"source": {
									"path": "$['$inserted_date']"
								},
								"sink": {
									"name": "Inserted_date"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "INT010_QUEUE_MESSAGE_HEAD",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INT010_SAP_SO_SOR",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT order_request_no\nFROM sapsr3.YESB_SOR_SO ",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "INT010_YESB_SOR_SO",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ord_req_no",
					"value": {
						"value": "@activity('Lookup1').output.value[0].ORDER_REQUEST_NO",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM sapsr3.YESB_SOR_SO where ORDER_REQUEST_NO ='@{variables('ord_req_no')}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "DELETE",
					"url": "https://sb-nsh-esb-dev.servicebus.windows.net/sap_so_number/messages/head",
					"authentication": {
						"type": "MSI",
						"resource": "https://servicebus.azure.net/"
					}
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SAP_DEV_DEMO",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DELETE FROM sapsr3.YESB_SOR_SO where ORDER_REQUEST_NO ='@{variables('ord_req_no')}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"ord_request_no": {
				"type": "Integer"
			},
			"ord_req_no": {
				"type": "String"
			}
		},
		"annotations": []
	}
}